

<fieldset>
    <legend>{{ 'annonces.form.lieu_fieldset_legend'|trans }}</legend>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>
    {#<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet-src.js"#}
                                        {#crossorigin=""></script>#}
    <div id="mapDiv" style="display:none;"></div>

    <div id="adresse_form">
        {{ form_row(userForm.adresse) }}
        <a id="showOnMap" class="btn btn1">
            <i class="fa fa-map-marker"></i>
            {{ 'annonces.form.map_localiser'|trans }}
            <i class="fa fa-arrow-right"></i>
        </a>
    </div>


    <div class="message bg-warning" id="warningMap" style="display:none">
    </div>
    <div class="message bg-danger" id="errorMap" style="display:none">
    </div>

    <script type="text/javascript">
        // $(document).ready(function(){
            // sidebarWidth = $('.blog-sidebar').innerWidth();
            if ($(window).width() < 992)
            {
                $("#mapDiv").appendTo($("#mapDiv").parent());
            }

            $('#mapDiv').width(300 );
            $('#mapDiv').height(300 );
            $('#mapDiv').show();

            {% if userForm.adresse.lat.vars.value is defined and userForm.adresse.lat.vars.value %}
            var mymap = L.map('mapDiv').setView([{{ userForm.adresse.lat.vars.value }}, {{ userForm.adresse.lng.vars.value }}], 13);
            var marker = L.marker([{{ userForm.adresse.lat.vars.value }}, {{ userForm.adresse.lng.vars.value }}], {draggable:true}).addTo(mymap);
            {% else %}
            var mymap = L.map('mapDiv').setView([43.2915, -0.3734], 10);
            var marker = L.marker([43.2915, -0.3734], {draggable:true});
            {% endif %}


            marker.on("moveend", function(e){
                $("#adresse_form .inputLat").val(e.target._latlng.lat);
                $("#adresse_form .inputLng").val(e.target._latlng.lng);
            })

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            tileSize: 512,
            zoomOffset: -1,
            id: 'mapbox/streets-v11',
            accessToken: '{{ mapbox_token }}'
        }).addTo(mymap);

            $('#showOnMap').click(function(){
                showOnMap();
            });


            function showOnMap()
            {
                adresse = $("#adresse_form .inputAdresse").val();
                postal = $("#adresse_form .inputPostal").val();
                ville = $("#adresse_form .inputVille").val();

                if (ville == '' && postal == '')
                {
                    $("#errorMap").hide().html("{{ 'annonces.form.map_empty_fields'|trans }}").show();
                    return false;
                }


                data = {
                    access_token:'{{ mapbox_token }}',
                    'country':'fr',
                    language:'fr',
                    autocomplete: false
                    /*, limit:1*/
                };

                if (adresse != "")
                {
                    data.types = 'address';
                }

                $.ajax({
                    // url : 'https://api.mapbox.com/geocoding/v5/mapbox.places/'+encodeURI(adresse)+'+'+encodeURI(postal)+'+'+encodeURI(ville )+'.json',
                    url : ' https://nominatim.openstreetmap.org/search',
                    dataType: "json",
                    data : {
                        'format' : 'json',
                        'addressdetails' :1,
                        'countrycodes' : 'fr',
                        'limit' : 2,
                        'street' : adresse,
                        'postalcode' : postal,
                        'city' : ville
                    },
                    success : function( data ) {
                        $("#warningMap").hide();
                        $("#errorMap").hide();

                        if (data.length > 0)
                        {
                            if (data.length > 1)
                            {
                                $("#warningMap").hide().html("{{ 'annonces.form.map_resultat_warn'|trans }}").show();
                            }
                            data = data[0];

                            $("#adresse_form .inputLat").val(data.lat);
                            $("#adresse_form .inputLng").val(data.lon);
                            $("#adresse_form .inputRegion").val(data.address.state);

                            if ($("#adresse_form .inputVille").val() == '')
                            {
                                $("#adresse_form .inputVille").val(data.address.city);
                            }
                            if ($("#adresse_form .inputPostal").val() == '')
                            {
                                $("#adresse_form .inputPostal").val(data.address.postcode);
                            }

                            latlng = L.latLng([data.lat, data.lon]);
                            if (marker != null)
                            {
                                marker.setLatLng(latlng).addTo(mymap);
                            }

                            mymap.setView(latlng, 13);
                        }
                        else {
                            $("#warningMap").hide().html('{{ 'annonces.form.map_no_result'|trans }}').show();

                        }
                    }
                });
            }

            function verifAdresse()
            {
                if ($("#adresse_form .inputPostal").val() != "" &&  $("#adresse_form .inputVille").val() != "")
                {
                    showOnMap()
                }
            }
        // })


    </script>
</fieldset>