{% extends 'bootstrap_3_layout.html.twig' %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
			<p class="bg-danger message"{% if form.parent is empty %} style="margin-bottom: 10px;"{% endif %}>
                {{ error.message | raw }}
			</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{% block form_row %}
{% spaceless %}
	<div class="ui form  {% if errors|length > 0 %}has-error{% endif %}">
	    <div class="field {% if attr.parentClass is defined %}{{ attr.parentClass }}{% endif %}">
	        {{ form_label(form) }}
	        {{ form_errors(form) }}
	        {{ form_widget(form) }}
	    </div>
	</div>
{% endspaceless %}
{% endblock form_row %}

{#{%- block widget_container_attributes -%}#}
	{#{%- if id is not empty %}id="toto {{ id }}"{% endif -%}#}
	{#{{ block('attributes') }}#}
{#{%- endblock widget_container_attributes -%}#}


{% block checkbox_row -%}
	<div class="form-group{% if not valid %} has-error{% endif %}{% if attr.parentClass is defined %} {{ attr.parentClass }} {% endif %}">
		{{- form_widget(form) -}}
		{% if attr.help is defined %}
			<span class="help"><i class="fa fa-question-circle" title="{{ attr.help |trans }}"></i></span>
		{% endif %}
		{% if  attr.prixEuro is defined or attr.help is defined%}
			<div class="prix">
				{% if attr.prixEuro is defined %}
					<span class="prixEuro">{{ attr.prixEuro }}</span>
					<span class="prixG1">{{ attr.prixG1 }}</span>
				{% endif %}
			</div>
		{% endif %}
		{{- form_errors(form) -}}
	</div>
{%- endblock checkbox_row %}

{% block choice_row -%}
<div class="ui form">
	<div class="{% if required %}required {% endif %}field{% if (not compound or force_error|default(false)) and not valid %} error{% endif %} {% if attr.parentClass is defined %}{{ attr.parentClass }}{% endif %}">
        {{- form_label(form) -}}
        {% set attr = attr|merge({'class': attr.class|default ~ ' ui dropdown'}) %}
        {{- form_widget(form, {'attr': attr}) -}}
        {{- form_errors(form) -}}
	</div>
</div>
{%- endblock choice_row %}

{% block checkbox_radio_label %}
	{# Do not display the label if widget is not defined in order to prevent double label rendering #}
	{% if widget is defined %}
		{% if required %}
			{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
		{% endif %}
		{% if parent_label_class is defined %}
			{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
		{% endif %}
		{% if label is not same as(false) and label is empty %}
			{%- if label_format is not empty -%}
				{% set label = label_format|replace({
					'%name%': name,
					'%id%': id,
				}) %}
			{%- else -%}
				{% set label = name|humanize %}
			{%- endif -%}
		{% endif %}
		{{- widget|raw }}
		<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
		{{ label is not same as(false) ? (translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain) |raw) -}}
		</label>
	{% endif %}
{% endblock checkbox_radio_label %}

{%- block choice_widget_expanded -%}
	<div {{ block('widget_container_attributes') }}>
		<div class="grouped fields {% if attr.help is defined %}hasHelp{% endif %}">
			{%- for child in form %}
				<div class="field">
					<div class="ui toggle">
						{{- form_widget(child) -}}
						{{- form_label(child) -}}
					</div>
				</div>
			{% endfor -%}
		</div>
		{% if attr.help is defined %}
			<span class="help"><i class="fa fa-question-circle" title="{{ attr.help |trans }}"></i></span>
		{% endif %}
	</div>
{%- endblock choice_widget_expanded -%}

{% block vich_image_widget %}
	{% spaceless %}
		{#<div class="vich-image">#}
			{% if form.delete is not defined %}
				{{ form_widget(form.file) }}
			{% endif %}

			{% if download_uri is defined and download_uri %}
				<span class="image_thumb">
					<a href="{{ download_uri }}"><img src="{{ download_uri | imagine_filter('my_thumb')}}" alt="" /></a>
				</span>
			{% endif %}

			{% if form.delete is defined %}
				{{ form_row(form.delete, {"class" : "deleteImage"}) }}
			{% endif %}
			{{ form_errors(form.file) }}
			{#{% if show_download_link and download_uri is defined and download_uri%}#}
				{#<a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>#}
			{#{% endif %}#}
		{#</div>#}
	{% endspaceless %}
{% endblock %}

{% block vich_image_row %}
	{% spaceless %}
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	{% endspaceless %}
{% endblock vich_image_row %}

{% block _photos_entry_row %}
	{% spaceless %}
			{{ form_label(form) }}
			{{ form_errors(form) }}
			{{ form_widget(form) }}
	{% endspaceless %}
{% endblock _photos_entry_row %}

{% block critere_label %}

{% endblock %}

{% block form_label %}
	{{ parent() }}
	{% if help is defined %}
		<i class="icon help circle" title="{{ help|trans }}"></i>
	{% endif %}
{% endblock %}

{% block critere_widget %}
<div class="critereField ui grid">
	<div class="fourteen wide computer twelve wide mobile column">{{ form_widget(form.text) }}</div>
	<div class="two wide computer four wide mobile column">{{ form_widget(form.remove) }}</div>

</div>
<script type="text/javascript">
	function removeCritere(button)
	{
	    $(button).parents(".critereField").remove();
	}
</script>
{% endblock %}

{% block delete_button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-danger') ~ ' btn')|trim}) %}
	{%- if label is empty -%}
		{%- if label_format is not empty -%}
			{% set label = label_format|replace({
			'%name%': name,
			'%id%': id,
			}) %}
		{%- else -%}
			{% set label = name|humanize %}
		{%- endif -%}
	{%- endif -%}
	<button type="{{ type|default('button') }}" {{ block('button_attributes') }} title="{{ 'general.delete_label'|trans }}">
		<i class="icon remove"></i>
	</button>
{% endblock %}

{% block textarea_widget %}
	{{ parent() }}

    {% if help is defined %}
		<script type="text/javascript">
            $(document).ready(function(){
                $( "#{{ id }}" ).tooltip({
                    items: "textarea",
                    classes : {"ui-tooltip": "ui-corner-all ui-widget-shadow help-popup"},
                    content: function() {
						return $("#{{ help }}").html();
                    }
                });
            } );
		</script>
    {% endif %}
{% endblock %}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    {% set attr = attr|merge({'class': ' btn1 btn'}) %}
    {{ block('button_widget') }}
{%- endblock submit_widget -%}

{%- block reset_widget -%}
    {%- set type = type|default('reset') -%}
    {% set attr = attr|merge({'class': ' ui large button '}) %}
    {{ block('button_widget') }}
{%- endblock reset_widget -%}

