{% extends 'bootstrap_3_layout.html.twig' %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
			<p class="bg-danger message"{% if form.parent is empty %} style="margin-bottom: 10px;"{% endif %}>
                {{ error.message }}
			</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{% block form_row %}
{% spaceless %}
	<div class="ui form  {% if errors|length > 0 %}has-error{% endif %}">
	    <div class="field {% if attr.parentClass is defined %}{{ attr.parentClass }}{% endif %}">
	        {{ form_label(form) }}
	        {{ form_errors(form) }}
	        {{ form_widget(form) }}
	    </div>
	</div>
{% endspaceless %}
{% endblock form_row %}

{% block checkbox_radio_label %}
	{# Do not display the label if widget is not defined in order to prevent double label rendering #}
	{% if widget is defined %}
		{% if required %}
			{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
		{% endif %}
		{% if parent_label_class is defined %}
			{% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
		{% endif %}
		{% if label is not same as(false) and label is empty %}
			{%- if label_format is not empty -%}
				{% set label = label_format|replace({
					'%name%': name,
					'%id%': id,
				}) %}
			{%- else -%}
				{% set label = name|humanize %}
			{%- endif -%}
		{% endif %}
		{{- widget|raw }}
		<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
		{{ label is not same as(false) ? (translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain) |raw) -}}
		</label>
	{% endif %}
{% endblock checkbox_radio_label %}


{% block checkbox_row -%}
	<div class="form-group{% if not valid %} has-error{% endif %}{% if attr.parentClass is defined %} {{ attr.parentClass }} {% endif %}">
		{{- form_widget(form) -}}
		{% if attr.prix is defined %}
			<span class="prix">{{ attr.prix }}</span>
		{% endif %}
		{% if attr.help is defined %}
			<span class="help"><i class="fa fa-question-circle" title="{{ attr.help |trans }}"></i></span>
		{% endif %}
		{{- form_errors(form) -}}
	</div>
{%- endblock checkbox_row %}

{% block form_label %}
	{{ parent() }}
	{% if help is defined %}
		<i class="icon help circle" title="{{ help|trans }}"></i>
	{% endif %}
{% endblock %}

{% block critere_widget %}
<div class="critereField ui grid">
	<div class="fourteen wide computer twelve wide mobile column">{{ form_widget(form.text) }}</div>
	<div class="two wide computer four wide mobile column">{{ form_widget(form.remove) }}</div>

</div>
<script type="text/javascript">
	function removeCritere(button)
	{
	    $(button).parents(".critereField").remove();
	}
</script>
{% endblock %}

{% block delete_button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-danger') ~ ' btn')|trim}) %}
	{%- if label is empty -%}
		{%- if label_format is not empty -%}
			{% set label = label_format|replace({
			'%name%': name,
			'%id%': id,
			}) %}
		{%- else -%}
			{% set label = name|humanize %}
		{%- endif -%}
	{%- endif -%}
	<button type="{{ type|default('button') }}" {{ block('button_attributes') }} title="{{ 'general.delete_label'|trans }}">
		<i class="icon remove"></i>
	</button>
{% endblock %}

{% block textarea_widget %}
	{{ parent() }}

    {% if help is defined %}
		<script type="text/javascript">
            $(document).ready(function(){
                $( "#{{ id }}" ).tooltip({
                    items: "textarea",
                    classes : {"ui-tooltip": "ui-corner-all ui-widget-shadow help-popup"},
                    content: function() {
						return $("#{{ help }}").html();
                    }
                });
            } );
		</script>
    {% endif %}
{% endblock %}

{%- block reset_widget -%}
    {%- set type = type|default('reset') -%}
    {% set attr = attr|merge({'class': ' ui large button '}) %}
    {{ block('button_widget') }}
{%- endblock reset_widget -%}

