{% form_theme search_form ':form:customSearchForm.html.twig' %}
{#{% form_theme search_form _self %}#}

{%- block form_errors -%}
	{%- if errors is defined and errors|length > 0 -%}
		{%- for error in errors -%}
			<p class="bg-danger message"{% if form.parent is empty %} style="margin-bottom: 10px;"{% endif %}>
				{{ error.message }}
			</p>
		{%- endfor -%}
	{%- endif -%}
{%- endblock form_errors -%}

<div class="search-section">
	<div id="form-panel">
		{{ form_start(search_form,  {'attr': {'id':'search_form', 'autocomplete': 'off', 'action' : path('ad_index', {'_fragment' : 'resultats'}) }}) }}
		{{ form_errors(search_form) }}
		<ul class="list-unstyled search-options clearfix">
			<li id="categorieLi">
				{{ form_row(search_form.categorie, {'attr' : {'data-placeholder' : 'annonces.form.categorie_label'|trans}}) }}
				{% include ':commun:categorieInputJs.html.twig' with {'form': search_form} %}

			</li>
			<li>
				{{ form_row(search_form.recherche) }}
			</li>
		</ul>
		<div class="clearfix"></div>
		<ul class="list-unstyled search-options second clearfix">
			<li>
				<div class="inputContainer lieuContainer ">
					{{ form_row(search_form.lieu.lieu, {'id' : 'lieu_input'}) }}
					<span class='cross' {% if search_form.vars.data.lieu.lieu is not defined or (search_form.vars.data.lieu.lieu is defined and search_form.vars.data.lieu.lieu =='') %} style='display:none'{% endif %}><i class='fa fa-times'></i></span>
				</div>
				<script type="text/javascript">
                    $(".lieuContainer .cross").click(function(){
                        $("#lieu_input, #bbox_input, #coord_input, #departement_input").val('');
                        $(this).hide();
                    });
				</script>
			</li>
			<li class="distance" {% if search_form.vars.data.lieu.type is defined and search_form.vars.data.lieu.type == 'region' %} style="visibility:hidden" {% endif %}>
				{{ form_row(search_form.lieu.lieuExact) }}
				{#<input type="radio" name="lieu_exact" value="1" checked="checked" onchange="$('#lieu_distance').attr('disabled', 'disabled');"/><label for="lieu_exact">{{ 'main_search.lieu_exact_checkbox'|trans }}</label>#}
				{#<input type="radio" name="lieu_exact" value="0" onchange="$('#lieu_distance').removeAttr('disabled');"/>#}
				<label for="lieu_exact">
					{{ form_row(search_form.lieu.distance, {'id': 'lieu_distance'}) }}
					<span class="km">{{ 'main_search.lieu_distance'|trans }}</span>
					{#<input class="lieu_distance" disabled="disabled" type="text" name="distance" value="20"/><span>{{ 'main_search.lieu_distance'|trans }}</span>#}
				</label>
			</li>
		</ul>
		<div class="clearfix"></div>
		<ul class="list-unstyled search-options third clearfix">
			<li class="monnaie">
				{{ form_row(search_form.monnaie, {'attr' : {'class' : 'selectMonnaie'}}) }}
			</li>
			<li class="troc">
				{{ form_row(search_form.troc)}}
			</li>
			<li class="urgent">
				{{ form_row(search_form.urgent)}}
			</li>
			<li class="button">
				{{ form_row(search_form.save, {'attr' : {'class' : 'btn btn1'}}) }}
				{#<button type="submit" class="btn btn-danger btn-lg btn-block">Search</button>#}
			</li>
		</ul>
		{% set hasMoreSearch = search_form | hasMoreSearchValues %}

		<a id="search-more-show" {% if hasMoreSearch == true %} style="display:none" {% endif %} href="javascript:;" onclick="showSearchMore(this)">{{ 'annonces.form.recherche_avancee.lien_afficher'|trans }}</a>
		<a id="search-more-hide" {% if hasMoreSearch == true %} style="display:block" {% endif %} href="javascript:;" onclick="hideSearchMore(this)">{{ 'annonces.form.recherche_avancee.lien_cacher'|trans }}</a>

		<div id="search-more" {% if hasMoreSearch == true %} style="display:block" {% endif %}>

			<div class="row">
				<div class="champPrix">
					{{ form_row(search_form.prixMin, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					{{ form_row(search_form.prixMax, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					<div class="clearfix"></div>
				</div>

				<div class="champCategorie champsVetementsEnfants">
					{{ form_row(search_form.tailleEnfant, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
				</div>
				<div class="champCategorie champsVetements">
					{{ form_row(search_form.taille, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
				</div>
				<div class="champCategorie champsEmploi">
					{{ form_row(search_form.typeContrat, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12', 'data-placeholder' : 'main_search.options_categories.type_contrat.placeholder'|trans}}) }}
					{{ form_row(search_form.experienceMax, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					<div class="clearfix"></div>
					{{ form_row(search_form.tempsPartiel, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					{{ form_row(search_form.tempsPlein, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					<div class="clearfix"></div>
					{{ form_row(search_form.remunerationMin, {'attr' : {'parentClass' : 'col-md-6 col-sm-6 col-xs-12'}}) }}
					{{ form_row(search_form.handiAcces, {'attr' : {'parentClass' : 'col-md-6 col-sm-6 col-xs-12'}}) }}
				</div>
				<div class="champCategorie champsStage">
					{{ form_row(search_form.dureeMin, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					{{ form_row(search_form.dureeMax, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
				</div>
				<div class="champCategorie champsImmobilier">
					{{ form_row(search_form.typeBien, {'attr' : {'parentClass' : 'col-md-12 col-sm-12 col-xs-12'}}) }}
					<div class="clearfix"></div>
					{{ form_row(search_form.surfaceMin, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					{{ form_row(search_form.surfaceMax, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					<div class="clearfix"></div>
					{{ form_row(search_form.nbPiecesMin, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					{{ form_row(search_form.nbPiecesMax, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					{#{{ form_row(search_form.classEnergie, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12', 'data-placeholder' : 'annonces.form.immobilier.classe_energie.titre'|trans}}) }}#}
					{#{{ form_row(search_form.ges, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12', 'data-placeholder' : 'annonces.form.immobilier.ges.titre'|trans}}) }}#}
				</div>
				<div class="champCategorie champsLocation">
					{{ form_row(search_form.meuble, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12', 'data-placeholder' : 'annonces.form.immobilier.meuble.titre'|trans}}) }}
				</div>
				<div class="champCategorie champsLocationVacances">
					{{ form_row(search_form.capacite, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
				</div>
				<div class="champCategorie champsVehicules">
					{{ form_row(search_form.marque, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12', 'data-placeholder' : 'annonces.form.voiture.marque_label'|trans}}) }}
					{{ form_row(search_form.modele, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					{{ form_row(search_form.anneeMin, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					{{ form_row(search_form.kilometrageMax, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
					{{ form_row(search_form.boiteVitesse, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12', 'data-placeholder' : 'annonces.form.voiture.boite_vitesse.titre'|trans}}) }}
				</div>
			</div>
			<div class="options-categorie vetements">
				<div class="row">

				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		{{ form_row(search_form.lieu.bbox, {'id' : 'bbox_input'}) }}
		{{ form_row(search_form.lieu.bbox, {'id' : 'bbox_input'}) }}
		{{ form_row(search_form.lieu.coord, {'id' : 'coord_input'}) }}
		{{ form_row(search_form.lieu.departement, {'id' : 'departement_input'}) }}
		{{ form_row(search_form.page, {'id' : 'page_input'}) }}
		{{ form_row(search_form.lieu.type, {'id' : 'type_input'}) }}
		{{ form_row(search_form.nb_resultats, {'id' : 'resultats_input'}) }}
		{#<input type="hidden" name="bbox" id="bbox_input"/>#}
			{#<input type="hidden" name="coord" id="coord_input"/>#}
		{{ form_end(search_form) }}

	</div>
</div>

<script type="text/javascript">
	$(window).ready(function(){
		$("#lieu_input").autocomplete({
			source : function(request, response){
				$.ajax({
					url : 'https://api.mapbox.com/geocoding/v5/mapbox.places/'+encodeURI(request.term)+'.json',
					dataType: "json",
					//data : {access_token:'{{ mapbox_token }}', 'country':'fr', language:'fr', types: 'region,postcode,place,locality'},
					data : {access_token:'{{ mapbox_token }}',  language:'fr', types: 'region,postcode,place,locality'},
					success : function( data ) {
						var results=[];
						for (var i = 0; i < data.features.length; ++i) {
							feature = data.features[i];

							// if (feature.place_type[0] == 'postcode')
							// {
							// 	label = feature.text +' '+ feature.context[0].text;
							// }
							// else
							// {
                            //     label = feature.text;
							// }

							label = feature.place_name;
							results[i] = {'label': label, 'featvalue' : feature.text, 'bbox' : feature.bbox, 'coordinates' : feature.geometry.coordinates, 'type' : feature.place_type[0]};
							if (feature.place_type[0] == 'region')
							{
							    results[i]['departement'] = feature.properties.short_code;
							}
						}
						console.log(data);
						response(results);
					}
				});
			},
			minLength : 2,
			select: function( event, ui ) {
                if (ui.item.type == 'region')
                {
                    $('.search-options .distance').css('visibility', 'hidden');
                }
                else {
                    $('.search-options .distance').css('visibility', 'visible');
                }

                $(".lieuContainer .cross").show();
				$("#bbox_input").val(ui.item.bbox);
                $("#type_input").val(ui.item.type);
                if (ui.item.departement)
				{
                	$("#departement_input").val(ui.item.departement.substring(3));
				}
				$("#coord_input").val(ui.item.coordinates);
			}
		});

	});

	function showSearchMore(lien)
	{
		$('#search-more').slideDown();
		$(lien).hide();
		$('#search-more-hide').show()
	}

	function hideSearchMore(lien)
	{
		$('#search-more').slideUp();
		$(lien).hide();
		$('#search-more-show').show();
		$('#search-more input[type=text]').val('');
	}
</script>