{% extends 'base.html.twig' %}


{% block body %}

	<section class="section-padding error-page gray ">
		<!-- Main Container -->
		<div class="container">
			<!-- Row -->
			<div class="row">
				<!-- Middle Content Area -->
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="error-container">
						<div class="error-text"><i class="fa fa-question"></i></div>
						<div class="error-info">La page demandée n'a pas été trouvée</div>
						<p>Retour à <a href="{{ path("homepage") }}">la page d'accueil</a></p>
					</div>
				</div>

				<!-- Middle Content Area  End -->
			</div>
			<!-- Row End -->
		</div>
		<!-- Main Container End -->
	</section>
{% endblock %}