{% extends ":user:profile_base.html.twig" %}

{% set isProfile = true %}

{% form_theme form "form/customForm.html.twig" %}

{% block centerContent %}
	<div class="profile-section profile-edit margin-bottom-20">
		{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit', 'autocomplete': 'off'  } }) }}
		{% if form.vars.data.type == "pro" %}
			<h2>{{ 'user_profile.entreprise_label'|trans }}</h2>
			{{ form_row(form.nomPro) }}
			{{ form_row(form.siren) }}
			{{ form_row(form.descriptionPro) }}
			{{ form_row(form.annuairePro) }}
		{% endif %}
		<h2>{{ 'user_profile.profile_label'|trans }}</h2>
		{{ form_row(form.username) }}
		{% if form.vars.data.type == "particulier" %}
			{{ form_row(form.prenom) }}
			{{ form_row(form.nom) }}
		{% endif %}
		{{ form_row(form.email) }}
		{{ form_row(form.tel) }}
		{% set userForm = form %}
		{% include ':form:adresseForm.html.twig' %}
		<br/>
		{{ form_row(form.current_password, {'label' : 'user_profile.modif_password_label'|trans}) }}
		{{ form_widget(form) }}
		<div>
			<input class="btn btn1" type="submit" value="{{ 'profile.edit.submit'|trans({},'FOSUserBundle') }}" />
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}