{% extends ":user:profile_base.html.twig" %}

{% set isProfile = true %}

{% block centerContent %}
	<div class="profile-section profile-edit margin-bottom-20">
			<h3>{{ 'user_profile.profile_label'|trans }}</h3>
			<dl class="dl-horizontal">
				<dt><strong>{{ 'user_profile.type_label'|trans }}</strong></dt>
				<dd>
					{% if user.type == 'pro' %}
						{{ 'user_profile.type_pro_label'|trans }}
					{% elseif user.type == 'particulier' %}
						{{ 'user_profile.type_particulier_label'|trans }}
					{% endif %}
				</dd>

				{% if user.type == "pro" %}
					<br/><br/>
					<dt><strong>{{ 'user_profile.siren'|trans }}</strong></dt>
					<dd>{{ user.siren }}</dd>

					<dt><strong>{{ 'user_profile.description'|trans }}</strong></dt>
					<dd>{{ user.descriptionPro }}</dd>

					<dt><strong>{{ 'user_profile.inscription_annuaire'|trans }}</strong></dt>
					<dd>{% if user.annuairePro %}{{ 'general.oui'|trans }}{% else %}{{ 'general.non'|trans }}{% endif %}</dd>

					<dt><strong>{{ 'user_profile.nom_entreprise'|trans }}</strong></dt>
					<dd>{{ user.nomPro }}</dd>
					<br/><br/>
				{% else %}
					<dt><strong>{{ 'user_profile.nom_label'|trans }}</strong></dt>
					<dd>{{ user.prenom }} {{ user.nom }}</dd>

				{% endif %}

				<dt><strong>{{ 'user_profile.username_label'|trans }}</strong></dt>
				<dd>{{ user.username }}</dd>

				<dt><strong>{{ 'user_profile.mail_label'|trans }}</strong></dt>
				<dd>{{ user.email }}</dd>

				<dt><strong>{{ 'user_profile.tel_label'|trans }}</strong></dt>
				<dd>{% if user.tel %}{{ user.tel }}{% else %}{{ 'user_profile.non_renseigne'|trans }}{% endif %}</dd>


					<dt><strong>{{ 'user_profile.adresse_label'|trans }}</strong></dt>
					<dd>
						{% if user.adresse %}
							{% if user.adresse.address %}{{ user.adresse.address }}<br/> {% endif %}
							{{ user.adresse.postal }} {{ user.adresse.ville }}
						{% else %}
							{{ 'user_profile.non_renseigne'|trans }}
						{% endif %}

					</dd>
			</dl>

		<a class="btn btn1" href="{{ path('fos_user_profile_edit') }}">{{ 'user_profile.editer_label'|trans }}</a>
		<a class="btn btn1" href="{{ path('fos_user_change_password') }}">{{ 'user_profile.modifier_mot_de_passe'|trans }}</a>
	</div>
{% endblock %}
