$mainColor : #009345;
$lightColor: #8EC044;
$orange: #F39200;
$gris: #60605f;
$textColor: #232323;
$rouge: #840b0a;

$orangeClair: #f18c1b;
$orangeFonce: #eb691c;
$vertFonce: #028352;
$vertClair: #00a163;

@font-face {
	font-family: 'Source Sans Pro';
	src:url('../fonts/sourcesanspro/sourcesanspro-regular-webfont.eot');
	src:url('../fonts/sourcesanspro/sourcesanspro-regular-webfont.woff2') format('woff2'),
	url('../fonts/sourcesanspro/sourcesanspro-regular-webfont.woff') format('woff'),
	url('../fonts/sourcesanspro/sourcesanspro-regular-webfont.ttf') format('truetype'),
	url('../fonts/sourcesanspro/sourcesanspro-regular-webfont.svg#sourcesanspro') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Source Sans Pro';
	src:url('../fonts/sourcesanspro/sourcesanspro-bold-webfont.eot');
	src:url('../fonts/sourcesanspro/sourcesanspro-bold-webfont.woff2') format('woff2'),
	url('../fonts/sourcesanspro/sourcesanspro-bold-webfont.woff') format('woff'),
	url('../fonts/sourcesanspro/sourcesanspro-bold-webfont.ttf') format('truetype'),
	url('../fonts/sourcesanspro/sourcesanspro-bold-webfont.svg#sourcesanspro') format('svg');
	font-weight: 700;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Source Sans Pro';
	src:url('../fonts/sourcesanspro/sourcesanspro-light-webfont.eot');
	src:url('../fonts/sourcesanspro/sourcesanspro-light-webfont.woff2') format('woff2'),
	url('../fonts/sourcesanspro/sourcesanspro-light-webfont.woff') format('woff'),
	url('../fonts/sourcesanspro/sourcesanspro-light-webfont.ttf') format('truetype'),
	url('../fonts/sourcesanspro/sourcesanspro-light-webfont.svg#sourcesanspro') format('svg');
	font-weight: 300;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
	font-family: 'Comfortaa';
	src:url('../fonts/comfortaa/comfortaa_regular-webfont.eot');
	src:url('../fonts/comfortaa/comfortaa_regular-webfont.woff2') format('woff2'),
	url('../fonts/comfortaa/comfortaa_regular-webfont.woff') format('woff'),
	url('../fonts/comfortaa/comfortaa_regular-webfont.ttf') format('truetype'),
	url('../fonts/comfortaa/comfortaa_regular-webfont.svg#comfortaa') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Comfortaa';
	src:url('../fonts/comfortaa/comfortaa_bold-webfont.eot');
	src:url('../fonts/comfortaa/comfortaa_bold-webfont.woff2') format('woff2'),
	url('../fonts/comfortaa/comfortaa_bold-webfont.woff') format('woff'),
	url('../fonts/comfortaa/comfortaa_bold-webfont.ttf') format('truetype'),
	url('../fonts/comfortaa/comfortaa_bold-webfont.svg#comfortaa') format('svg');
	font-weight: 700;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Comfortaa';
	src:url('../fonts/comfortaa/comfortaa_thin-webfont.eot');
	src:url('../fonts/comfortaa/comfortaa_thin-webfont.woff2') format('woff2'),
	url('../fonts/comfortaa/comfortaa_thin-webfont.woff') format('woff'),
	url('../fonts/comfortaa/comfortaa_thin-webfont.ttf') format('truetype'),
	url('../fonts/comfortaa/comfortaa_thin-webfont.svg#comfortaa') format('svg');
	font-weight: 300;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@font-face {
	font-family: 'Quicksand';
	src:url('../fonts/quicksand/quicksand-regular-webfont.eot');
	src:url('../fonts/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
	url('../fonts/quicksand/quicksand-regular-webfont.woff') format('woff'),
	url('../fonts/quicksand/quicksand-regular-webfont.ttf') format('truetype'),
	url('../fonts/quicksand/quicksand-regular-webfont.svg#comfortaa') format('svg');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Quicksand';
	src:url('../fonts/quicksand/quicksand-bold-webfont.eot');
	src:url('../fonts/quicksand/quicksand-bold-webfont.woff2') format('woff2'),
	url('../fonts/quicksand/quicksand-bold-webfont.woff') format('woff'),
	url('../fonts/quicksand/quicksand-bold-webfont.ttf') format('truetype'),
	url('../fonts/quicksand/quicksand-bold-webfont.svg#comfortaa') format('svg');
	font-weight: 700;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@mixin box-shadow()
{
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
	box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
	border : none;
}
@mixin box-block() {
	@include box-shadow;

	border-radius: 15px;
	background : white;
	padding : 30px;

	h2, h3 {
		color : $orangeClair;
		font-size : 22px;

		&:after {
			content : " ";
			width : 100px;
			display: block;
			border-bottom: 2px solid $orangeClair;
			margin : 5px 0 15px;
		}
	}
}

html {
	height : auto;
	min-height: 100%;
	position: relative;
}

body {
	background : #F7F7F7;
	font-family: 'Comfortaa', cursive;
	margin-bottom : 80px;
}

.noscript {
	color : white;
	background : #d9534f;
	text-align : center;
	padding : 30px;
	font-size : 16px;
	font-weight: bold;
}

.mobile-only {
	display : none;
}

.waiting {
	position : relative;
	&:before {
		content : " ";
		background: url(../images/load.svg) no-repeat center center rgba(0,0,0,0.7);
		top : 0;
		bottom : 0;
		left : 0;
		right : 0;
		position : absolute;
		z-index:10000000;
	}
}

// Antibot form field :
.spsd_field {
	display : none;
}


p strong {
	color : $orangeFonce;

	footer & {
		color : $vertFonce;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	color : $orangeFonce;

}
.sticky-post-button {
	background: $orangeClair;
	display : none;

	h4 {
		color : white;
	}
}

.heading-panel h1 {
	color : $vertFonce;

	&:before {
		border-bottom : 3px solid $vertFonce;
	}

	&:after {
		content : none;
	}

	.heading-color {
		color : $orangeClair;
	}
}


.btn {
	padding : 10px 21px;
	border-radius: 20px;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	font-size : 15px;
	border : none;
	white-space: normal;
	i {
		margin-right: 5px;
		font-weight : 400;
	}
}

.btn1 {
	background-color : $orangeClair;
	color : white;

	&:hover {
		background-color : $orangeFonce;
		color : white;
	}


}

.btn2 {
	background-color : white;
	color : $vertFonce;
	border : 2px solid $vertFonce;

	&:hover {
		background-color : $vertFonce;
		color : white;
	}
}

#desactiveCookie, #activeCookie {
	display : none;
	margin : 10px 0;
}

.annonce_message {
	text-align : center;
	padding : 15px 50px;
	color : white;
	background: $orangeFonce;
	position : relative;
	display : none;

	a {
		color : white;
		text-decoration: underline;
	}

	&.cookie {
		background : $vertClair;

	}

	.nouveautes {
		margin : 10px 0;
	}

	.remove {
		position : absolute;
		top : 0;
		right : 40px;
		cursor : pointer;

		.fa {
			width : 30px;
			height : 30px;
			border-radius : 50%;
			color : white;
			padding : 10px;
			font-size : 21px;
		}
	}
}

.mega-menu {
	background : white;
	.menu-logo, .menu-links {
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	.menu-links, .menu-search-bar {
		margin-top: 17px;
	}

	.menu-links > li > a {
		color: $vertFonce;
	}
}

.help {
	margin-left : 10px;
	display : inline-block;
	vertical-align: middle;
	color: #777;
}

.helpMonnaie {
	font-size: 0.8em;
	text-decoration : underline;
	margin-left : 10px;
}

.bread-3.page-header-area {
	background-image: url("../images/banniereFine.jpg");
	background-position : top center;
	background-size: cover;

	h1 {
		color : $orangeFonce;
	}

	.small-breadcrumb .breadcrumb-link ul li a.active {
		cursor: default;
	}
}

.right-sidebar {
	float: right !important;
}


h4 {
	margin-bottom : 5px;
}

label.required {
	color : $textColor;
}

a {
	color : $mainColor;

	&.underline {
		color : inherit;
		text-decoration : underline;
	}
}

.btn.btn-light:hover {
	color : white;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background-color : white;
	border-radius : 5px;
	border : 1px solid #777;
	text-align: justify;
}
.ui-helper-hidden-accessible {
	display : none;
}

ul.liste {
	padding-left : 25px;
	margin-bottom : 15px;

	ul.liste {
		margin-bottom : 0px;
	}

	li {
		list-style : disc inside;
	}
}

.blog-sidebar {
	@include box-block;
	border-radius : 15px;
}

.header-top {
	background : $orange;
	border-bottom : 1px solid lighten($gris, 40%);

	.dropdown:hover  .dropdown-menu {
		display : block;
	}
	ul.dropdown-menu li a {
		text-transform : none;
		.fa {
			margin-right: 5px;
		}
	}

	ul li {
		border : none;
		padding : 0 20px;
	}

}


fieldset  {
	margin-top: 40px;

	legend {
		font-weight: bold;
		color: $mainColor;
	}
}
label.required:after {
	content : " *";

	.checkbox &, .radio & {
		content : "";
	}
}
input[type=submit]
{
	margin-top : 10px;
}

.heading-panel {
	h1 {
		margin-bottom : 30px;
	}

	p {
		font-size : 1em;
		color : $textColor;
	}

	.bientot {
		margin-top : 45px;
	}

}

.search-section .search-options > li .btn.btn-danger {
	background-color: $orange;
	border-color: $orange;
}

.postdetails .form-group {
	margin-bottom : 0;
}

.select2-dropdown .select2-results .parent {
	padding: 5px;
	margin: 5px;
	text-transform: uppercase;
	color: black;
	font-size: 1.1em;
	text-align: center;
	background-color: #ddd;

	&:hover, &.select2-results__option--highlighted{
		color : white;
	}
}

form {
	::placeholder, .select2-selection__placeholder {
		color: rgba($orangeFonce,0.7) !important;
		font-size : 14px;
	}

	.field {
		margin : 3px 0;
	}

	.grouped.fields {
		display : inline-block;
	}

	#adresse_form {
		width : calc(100% - 320px);
	}
	#mapDiv {
		float : right;
		z-index: 1;
		max-width : 100%;
	}

	#showOnMap {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 0.8em;
		max-width: 100%;
		white-space: normal;
	}

	.radio label, .checkbox label {
		padding-left : 0px;
	}

	.radio input, .checkbox input {
		position: absolute;
		left: -9999px;
	}
	.radio label:before {
		content: " ";
		background : url("../images/radio.png") no-repeat left bottom transparent;
		width : 11px;
		height : 11px;
		display: inline-block;
		margin-right: 10px;

		.search-section & {
			background-image : url("../images/radio_blanc.png");
		}
	}
	.radio input:checked + label:before, .checkbox input:checked + label:before {
		background-position : left top;
	}

	.checkbox label:before {
		content: " ";
		background : url("../images/check.png") no-repeat left bottom transparent;
		width : 15px;
		height : 16px;
		display: inline-block;
		margin-right: 6px;
		vertical-align: -1px;

		.search-section & {
			background-image : url("../images/check_blanc.png");
		}
	}

	.radio label, .search-section & .checkbox label {
		padding-left: 0px;
	}


	.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
		margin-left : -30px;
	}

	.select2-container--default .select2-selection--single, .select2-container--default .select2-selection__rendered {
		height : 45px !important;
		border-radius: 5px;
		line-height : 45px !important;
		color : $orangeFonce !important;

		.search-section & {
			border: none;
		}
	}

	.select2-selection__clear  {
		color : black !important;
	}

	.select2-selection__arrow {
		background : url("../images/caret-down.png") right 5px center no-repeat white;
		height : 42px !important;

		b {
			border : none !important;
		}
	}

	input.form-control {
		border-radius: 5px !important;
		height: 45px !important;
		line-height : normal;
		color : $orangeFonce !important;
		//padding: 4px 15px;

		.search-section & {
			border: none !important;
		}
	}


	textarea.form-control {
		border-radius: 5px !important;
		color : $orangeFonce !important;
	}


}

.post-ad-form {
	@include box-block;
}

.champCategorie {
	display : none;
}


#goToLastPage {
	text-align : center;
}

.annonce_form {
	.container {
		position: relative;
	}

	.champsSupplementaires {
		display : none;
	}

	.blog-sidebar .widget {
		border : none;
	}
	.blog-sidebar .widget .widget-heading, .blog-sidebar .widget .widget-content {
		background : none;
		padding : 0;
	}

	.widget-content {
		overflow : visible;
		ol {
			padding-left: 20px;
		}
	}

	.lead{
		padding-top : 20px;
		font-size: 19px;
	}

	.heading-panel {
		margin-bottom : 0;
	}

	.postdetails {
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		//background: rgba($vertClair, 0.3);

		.heading-panel h3, fieldset legend {
			color : $orangeClair;
			border-color : $orangeClair;
			font-weight : 700;
		}
		a {
			//color : $orangeFonce;
		}
	}

	.post-ad-form, .col-container {
		position: static;
	}

	.champTaille, .champEmploi, .champImmobilierVacances, .champImmobilierLocation, .champImmobilier, .champVoiture, .champImmobilierVente {
		display: none;
	}

	.grouped.fields .field {
		display: inline-block;
		margin-right: 20px;
	}

	.bg-danger {
		padding: 5px 10px;
	}

	#photos_button_replace, .photoFileInput {
		position : absolute;
		left : -99999999px;
	}

	.bnbc-ajax-file-dropzone {
		min-height: 150px;
		border: 3px dotted $orangeClair;
		background-color: lighten($orangeClair, 45%);
		padding: 20px;
		cursor : pointer;

		span.text {
			display : block;
			text-align: center;
		}

		input[type=file] {
			display : none;
		}

		#photos > div {
			display : inline-block;
			vertical-align: top;
		}

		img {
			cursor : default;
		}

	}

	.bnbc-ajax-file-error-list {
		margin-top : 15px;
		li {
			list-style : circle inside;
			margin-bottom: 5px;
		}
	}

	.bnbc-ajax-file-list {
		li {
			position : relative;
			display : inline-block;
			vertical-align : top;
			margin-right : 20px;
			margin-bottom : 10px;

			.remove {
				position : absolute;
				right : -8px;
				top : -11px;
				font-size: 20px;

				i {
					color : lighten($rouge,20%);
					background: white;
					border-radius : 50%;
				}
			}
		}
	}

	#addImage, .removeImage {
		cursor: pointer;

		i.fa {
			font-size: 1.3em;
			color: $vertFonce;
		}
	}
	.image_thumb {
		display: inline-block;
		vertical-align: middle;
		margin-right: 30px;
		margin-bottom: 10px;
		+ .form-group {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.removeImage {
		margin-right: 15px;
		i.fa {
			color: darken($orangeFonce, 30);
		}
	}

	.containerPhoto {
		margin-bottom: 10px;
		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}

	#warningPhoto, #errorMaxPhoto {
		display: none;
	}

	fieldset.options {
		border: 1px solid #e5e5e5;
		padding: 16px;
		margin-bottom : 30px;

		.option{
			margin : 0 -16px;
			padding : 16px;
			background-color : lighten($orangeClair, 30%);

			&:nth-of-type(odd)
			{
				background-color : lighten($orangeClair, 40%);
			}
		}

		legend {
			border: none;
			width: auto;
			padding: 0 10px;
			margin-bottom: 0;
		}

		.checkbox {
			display : inline-block;
			vertical-align : middle;
			margin-right : 20px;
		}

		.prix {
			text-align : right;
		}
		.prixEuro, .prixG1 {
			display : inline-block;
			vertical-align: middle;
			position : relative;

			.barre {
				position: absolute;
				color: #840b0a;
				left: 0;
				font-size: 1.5em;
				width: 100%;
				height: 5px;
				top: 50%;
				border-top: 2px solid $orangeFonce;
			}
		}

		.prixG1 {
			display : none;
		}

		.promo {
			color: $orangeFonce;
			margin-left: 20px;
			font-weight : bold;
		}

		.new-price {
			font-size : 1.3em;
		}
	}

	#categorieLi {
		position : relative;

		#categorieList {
			left : 0;
			right : 0;
		}
	}

}

.parallex:before {
	background : none;
}
.main-search {
	position : relative;
	background : url("../images/banniere.jpg") no-repeat top center;
	background-size : cover;
	min-height : 480px;
	height : auto;

	&.inner-page  {
		height : auto;
		min-height : 0;
	}

	.main-search-title {
		text-align : center;
		padding-top: 38px;

		.logo {
			margin-bottom : 15px;
		}

		p.title {
			font-size: 30px;
			font-weight: 700;
			color : $orangeFonce;
		}
	}
	#form-panel {
		background-color: rgba($vertFonce, 0.8);
		border-radius: 15px;

		a {
			color : white;
			font-size : 0.9em;
			text-decoration: underline;
		}

		form {
			position : relative;
		}

		.checkbox  {
			display : inline-block;
			margin-right : 10px;

			label {
				color : white;
			}

		}
	}

	#search-more {
		display : none;
		margin-top : 10px;

		.row {
			padding-left : 5px;
		}

	}
	#search-more-hide {
		display : none;
	}
}

.pagination {
	border-radius: 0;
	margin: 0;

	& > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
		border-radius: 0;
	}

	li {
		box-shadow: none;
		display: inline-block;
		margin-right: 0px;
		border : none;
		background : none;

		&:hover > a, &.active > a, &:hover > a:hover, &.active > a:hover {
			border : none;
			background : none;
			color : $orangeClair !important;
			text-decoration : none;
		}
		& > a {
			color: $vertFonce;
			font-size: 14px;
			font-weight: 700;
			padding: 10px 10px;
			border : none;
			background : none;
			font-family: 'Quicksand', sans-serif;

			&:hover, &:focus {
				color : $orangeClair !important;
				text-decoration: underline;
				border : none;
				background : none;
			}
		}
	}
}

.search-section {

	.inner-page & {
		margin : 35px 0 ;
	}
	.search-options {
		margin-bottom : 16px;

		label {
			color : white;
		}
		> li {
			width : 49%;
			box-sizing: border-box;
			margin : 0 0.5%;


			&.monnaie {
				width : 21%;

				select {
					width : 100%;
				}
			}

			&.troc, &.urgent {
				margin-left : 51px;
				width : auto;
			}

			&.button {
				width : auto !important;
				float : right;
				.form-group {
					margin : 0;
				}
			}

			input[type=checkbox], input[type=radio] {
				display : inline-block;
				width : auto;
				vertical-align: middle;
				height : auto;
			}
			input[type=radio]
			{
				margin-left: -30px;

			}
		}

		&.second > li {
			width : 32.67%;

			&.distance {
				width: 60%;
				padding-left : 40px;
				* {
					display : inline-block;
				}
				input {
					width : auto;
				}
				label {
					margin : 0 20px 0 5px;
					input:not([type=radio]) {
						margin : 0 5px;
					}
				}
				.lieu_distance {
					width : 55px;
				}
			}

		}
	}
	.distance {
		.km {
			color : white;
		}
		.required {
			color : inherit;
			&:after {
				content : "";
			}
		}
	}
}

.inner-page:not(.main-search) {

	#form-panel {
		background-color: white;
		@include box-block;
	}
}

.gray {
	background : none;
}
.grey {
	background-color: #f0f0f0;
}

.dernieres_annonces {
	.short-description, .ad-info {
		background : white;
	}
	.ad-info {
		max-height: 38px;
		overflow: hidden;
	}

	.category-grid-box .short-description {
		height : 160px;

		.price {
			font-size : 1em;
		}


		h3 {
			font-weight: bold;
			font-size: 1.2em;
			a {
				color : #f18c1b;
			}
		}
	}


	.category-grid-box .category-grid-img {
		height: 255px;
		overflow: hidden;

		img {
			max-height: 100%;
			margin : auto;
			max-width: 100%;
		}
	}
}


.static-panel {
	@include box-block;
	padding : 30px;
}

.sticky-post-button {
	h4 {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: -1px;
		font-size: 0.8em;
		margin-top: 0;
	}

	.sell-icons i {
		font-size: 17px;
	}
}
.ui-widget.ui-autocomplete {
	z-index: 100;
	background : #fff;
	max-width : 500px;
	border: 1px solid #ddd;
	border-radius: 5px;

	.ui-state-active {
		background-color : #ddd;
		cursor : pointer;
	}

	.ui-menu-item-wrapper {
		padding : 10px;
	}
}

.section-padding {
	padding: 50px 0;
}

.message {
	padding : 5px;
	margin-bottom : 10px;

	&.info {
		margin : 0;
		padding : 15px;
	}
	&.bg-danger {
		color: #ed1c24;
	}
}


span.urgent {
	&:after {
		content: " ";
		position: absolute;
		right: 0;
		bottom: -6px;
		width: 0;
		height: 0;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 6px solid #550000;
		z-index: -1;
	}

	position: absolute;
	top: 6px;
	right: -6px;
	background: #b70000;
	color: #eee;
	padding: 1px 25px 2px;
	box-shadow: -3px 3px 5px #aaa;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
}

.annonce {
	.sidebar {
		@include box-block;
		padding : 0;
	}
	&.ad-listing {
		@include box-block;
		padding : 10px 0;

		//-webkit-transition: box-shadow 0.2s, transform 0.2s;
		//-moz-transition: box-shadow 0.2s, transform 0.2s;
		//-ms-transition: box-shadow 0.2s, transform 0.2s;
		//-o-transition: box-shadow 0.2s, transform 0.2s;
		//transition: box-shadow 0.2s, transform 0.2s;

		//&:hover {
		//	-webkit-transform: translate(0,-2px);
		//	-moz-transform: translate(0,-2px);
			//-ms-transform: translate(0,-2px);
			//-o-transform: translate(0,-2px);
			//transform: translate(0,-2px);

			//-webkit-box-shadow: 0 10px 10px #ccc;
			//-moz-box-shadow: 0 10px 10px #ccc;
			//box-shadow: 0 4px 4px #ccc;
		//}

		> div {
			float : none;
			display : inline-block;
			vertical-align: middle;
		}
		&:hover .img-box:before {
			content : none;
		}
		.img-box {
			padding : 10px;

			img {
				border-radius : 5px;
				max-height: 300px;
			}

			.total-images {
				left : 10px;
				bottom : 10px;
				-webkit-border-radius: 0 0 0 5px;
				-moz-border-radius: 0 0 0 5px;
				border-radius: 0 0 0 5px;
			}
		}

		.content-area {
			padding: 10px 0 0;

			h3 a, h3 a:hover {
				color: $orangeClair;
				font-weight: bold;
			}

			> div {
				float : none;
				display : inline-block;
				vertical-align: middle;
			}

			.ad-details {
				margin-bottom : 20px;
			}

			> div:first-child:after {
				width : 3px;
				background: $orangeClair;
				content: "";
				height: 164px;
				position: absolute;
				right: 10px;
				top: 0;
			}

			.price {
				text-align: center;
				margin-top : 0;
				.troc {
					color : #777;
				}
				span {
					color : $orangeFonce;
				}
			}

			.btn {
				font-size : 0.7em;
			}
		}

		.ad-meta-info {
			color : $orangeClair;
			i {
				color : $vertFonce;
			}
		}

		p {
			color : black;
		}

		&.demande {
			.icone-demande {
				font-size: 16px;
				color: $orangeClair;
				border-radius: 50%;
				border : 1px solid $orangeClair;
				padding: 6px 7px 7px;
				display : inline-block;
				vertical-align: middle;
				margin-right : 10px;

				+ a {
					vertical-align : middle;
				}
			}
		}
	}

	.icone-pro {
		font-size: 16px;
		color: $orangeClair;
		border-radius: 50%;
		border : 1px solid $orangeClair;
		padding: 14px;
		display : inline-block;
		vertical-align: middle;
		margin-right : 10px;
		background : url("../images/pro.svg") no-repeat center center transparent;
		background-size : 16px;
	}

	.contact {
		.btn-contact {
			padding-left : 10px;
			color : $vertClair;
			display : inline-block;
			vertical-align: middle;
			i {
				border : 2px solid $orangeClair;
				color : $orangeClair;
				border-radius : 50%;
				padding : 10px;
				font-size: 1.6em;
				margin-right : 20px;
				vertical-align : middle;

				&.fa-phone {
					font-size: 1.75em;
					padding : 10px 12px 7px;
				}
			}
		}
		.message {
			text-align : center;

			&.bg-danger {
				text-align : left;
			}
		}

	}
	.contactEmail, .contactEmail:hover {
		background : none;
	}
	#contactDiv {
		padding : 10px 30px;

		button {
			margin-top: 10px;
		}
	}

	.contactPhone, .contactPhone:hover, .contactPhone:active, .contactPhone:visited {
		font-size : 20px;
		background : none;
	}
	#contactPhoneDiv {
		font-size : 2em;
		text-align : center;
		padding : 20px 0 ;
	}
	.user-contact-info {
		margin-bottom : 1px;

		.user-name
		{
			font-weight : normal;
			color : #888;

			span {
				font-weight : bold;
				color : black;
			}
		}
	}
	.user-info-card {
		text-align: center;
	}
	#mapDiv {
		height: 300px;
		z-index:1;
		max-width: 100%;
	}

	.short-history .type {
		text-transform: capitalize;
	}

	.ad-share .data, .mobile-ad-share .data {
		display : none;
		background-color : white;
		padding: 5px;
		border: 1px solid #e7e7e7;
		border-top: none;
		font-size : 0.9em;
	}
	.mobile-ad-share {
		display : none;

		.data {
			border-left : 0;
			border-right : 0;
			background : none;
		}
	}
	.category-title span {
		color: $vertClair;
		font-size: 14px
	}
	.actions .ad-box {
		border : none;
		background : none;

		span {
			color : $textColor;
		}
	}

	.delete_link {
		color : #232323;
		display: inline-block;
		width: auto;
		border: 0;
		background: none;
		margin: 0;
		padding: 0;
	}

	.additional-info {
		a {
			outline : none;
		}
		a.fa.selected {
			background: $vertClair;
			color: white;
		}
	}

	.confirmation-text {
		margin-bottom : 20px;
		background : $vertClair;
		color: white;
		border-radius : 15px;
		position : relative;
		border : none;

		fieldset {
			border : 1px solid lighten($vertClair, 10%);
			margin-top : 20px;
			margin-bottom : 20px;

			legend {
				color : white;
				border : none;
				padding-right : 10px;
				padding-left: 5px;
				margin-left: 5px;
				margin-bottom : 5px;
				width : auto;
				font-size : 1.2em;
			}

			p {
				margin-left : 25px;
			}
		}

		.boutons, form {
			display : inline-block;

			i:before {
				color : white;
			}
		}

		.btn {
			margin : 5px 10px 5px 0;
		}

		.btn-delete {
			background: $rouge;
			border-color: $rouge;
			color : white;

			i:before {
				color : white;
			}

			&:hover {
				background-color: darken($rouge, 5%) !important;
				border-color: darken($rouge, 5%);
			}
		}
	}
	.ad-listing-price p span {
		font-size: 0.7em;
		display: block;
	}

	.ad-box.description {
		position :relative;
		border : none;
		border-radius : 15px 15px 0 0 ;
		margin-bottom : 15px;
		@include box-shadow;
	}

	#carousels {
		margin-bottom : 15px;
	}

	.single-page-slider, .flexslider {
		@include box-shadow;
	}

	.ad-share, .mobile-ad-share{
		@include box-shadow;
		margin-top: 0 ;

		.ad-box {
			cursor : default;
			i {
				padding : 0;
			}
			span {
				margin-left : 7px;
				font-family: 'Comfortaa', cursive;
				cursor : pointer;
				color : $textColor;
			}
		}

		#share-data, #mobile-share-data {
			padding : 20px;
			a, a:hover, i {
				color : $orangeClair;
				font-size : 34px !important;
				vertical-align: middle;
				margin-right: 10px;
			}
			a:last-child {
				margin-right : 0;
			}
		}

		#mobile-share-data {

		}

		#adresse_partage {
			width: 50%;
			margin: auto;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.texte-annonce {
		@include box-shadow;
		border-radius : 0 0 15px 15px;
	}

}

.page-aide {
	img {
		float : left;
		margin : 0 20px 20px 0;
	}

	h4 {
		clear: left;
		font-size: 16px;
		margin-top: 40px;
	}
}

.login {
	.form-grid {
		@include box-block;
		background-color :  white;

		.btn:hover {
			color: white;
		}
	}

	.registration_message {
		line-height : 25px;
		i.fa {
			color: #009345;
			margin-right: 20px;
			font-size: 2em;
		}

	}

	.fos_user_registration_register {
		.grouped.fields .field {
			display : inline-block;
			margin-right : 20px;
		}
	}
}

.error-page {
	.error-container > .error-info {
		text-transform: none;
	}

	.error-text {
		color : $orangeClair;
	}

	.error-info {
		color: $vertFonce;
	}

	p {
		text-align : center;
		font-size : 20px;
		margin-top : 75px;
	}

}

.no-result {
	margin-top : 10px;
}

.filter-brudcrums {
	.save-alerte {
		float : right;
		a {
			display : block;
			text-align: right;
			color : $orangeClair;
			margin-bottom: 15px;
		}
		form {
			margin-top: 15px;
		}
		.message {
			margin: 5px 0;
			display : none;
			color : #777;

			&.visible {
				display : block;
			}

		}
	}

	#form-alerte-span {
		display : none;
		color : #777;
	}
}

#search_form, .annonce_form {
	position : relative;

	#categorieInput {
		cursor : pointer;

		&:read-only {
			background : white;
		}
	}

	.inputContainer   {
		position : relative;
		.cross {
			position : absolute;
			right : 22px;
			top : 9px;
			cursor : pointer;
			color : $textColor;
		}
		input {
			background : url("../images/caret-down.png") right 5px center no-repeat white;
		}
	}

	.lieuContainer {
		.cross {
			right: 10px;
		}
		input {
			background: white;
		}
	}

	#categorieList {
		position: absolute;
		left: 5px;
		right: 5px;
		z-index: 10;
		margin-top: 5px;
		background: white;
		color: $textColor;

		span {
			cursor: pointer;
			display: block;
			font-size: 13px;
			line-height: 20px;
		}

		.group {
			background-color: #f7f7f7;
			padding: 5px;
			margin: 5px 0;
		}

		.parent {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 14px;
		}
	}
}
.ads-list-archive {
	@include box-block;
	padding : 0;

	.ad-meta > * {
		display: inline-block;
	}
	.fa-heart {
		color: $mainColor;
		&:hover {
			color : $rouge;
		}
	}

	.ad-archive-img {
		padding : 5px;

		img {
			border-radius : 10px;
			max-height: 200px;
			width: auto;
		}

		.total-images {
			left : 5px;
			bottom : 5px;
			-webkit-border-radius: 0 0 0 10px;
			-moz-border-radius: 0 0 0 10px;
			border-radius: 0 0 0 10px;
		}
	}

	.ad-archive-desc {
		font-size : 0.8em;
		h3 {
			font-size : 1.4em;
			a {
				color : $orangeClair;
			}
		}
		.ad-price {
			font-size : 1.4em;
		}

		.btn {
			font-size : 1em;
		}
	}
}

.alertes .ad-archive-desc h3:hover {
	cursor: default;
	color: $orangeClair !important;
}


footer {
	background: $orangeClair;
	//height : 80px;
	font-family: 'Quicksand', sans-serif;
	position:absolute;
	bottom: 0;
	left : 0;
	right: 0;
	li {
		line-height : 55px;
		width : auto;
		display : inline-block;
		padding : 0 20px;
		a, a:hover {
			color: white;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

.copyrights {
	background: none;
	color: white;

	.copyright-content, .footer-top {
		border : none;
		padding : 0 20px;

		p {
			margin : 0;
			line-height : 80px;
		}

		.copyright {
			margin-right : 250px;
		}

		.copyright, .footer-links {
			display : inline-block;
		}
	}
}

.user-profile {
	@include box-block;
	padding : 0;

	ul li {
		border-top: 2px solid #e4f4ef;
		a {
			border : none;
			box-shadow : none;
			color : $vertClair;
			font-size: 1.1em;
			font-weight : bold;
			float : left;
		}
	}
	.contact-details li {
		border : none;
	}
	a.badge {
		position : absolute;
		right : 0;
		top : 0;
		bottom : 0;
		border : none;
		padding: 7px 8px;
		padding-left: 42px;
		border-radius : 0;

		i.fa {
			color : white !important;
			font-size : 1.5em;
			line-height: 34px;
			padding-right: 30%;
		}
	}

	.profile-detail {
		h6 {
			color : $orangeFonce;
		}
	}

	.infos {
		position : relative;
		.view {
			border-radius: 0 7px 7px 0;
			z-index: 2;
			background: white;
		}
	}

	ul li.active a:not(.badge) {
		padding-left : 56px;
		border : none;
		color : $vertClair;

		&:before {
			content: " ";
			left: 0;
			position: absolute;
			top: 7px;
			bottom: 7px;
			margin : 0;
			margin-left: 28px;
			border : none;
			border-left : 2px solid $vertClair;
		}
	}

	#delete_account {
		color : $rouge;
	}
}
.profile-section {
	background-color: white;
	@include box-block;

	.btn:first-of-type {
		margin-right : 30px;
	}

	h2 {
		margin-top : 0;
		margin-bottom: 20px;
	}

	.dl-horizontal {
		dt {
			margin-right: 20px;
			width : 195px;
			strong {
				color : $orangeClair;
			}
		}
		dd {
			border-color : #fdf3e7;
			border-width: 2px;
		}


	}
}
.bt-menu-trigger {
	display: none;
	position: absolute;
	top: 5px;
	right: 14px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background: #f58936;
	padding: 5px;

	img {
		margin : 0;
		height : auto;
	}

	//span {
	//	position: absolute;
	//	top: 50%;
	//	left: 5px;
	//	display: block;
	//	width: calc(100% - 10px);
	//	height: 3px;
	//	margin-top: -2px;
	//	background-color: white;
	//	font-size: 0px;
	//	user-select: none;
	//	transition: background-color 0.3s;
	//
	//	&:before,
	//	&:after {
	//		position: absolute;
	//		left: 0;
	//		width: 100%;
	//		height: 100%;
	//		background: white;
	//		content: '';
	//		transition: transform 0.3s;
	//	}
	//
	//	&:before {
	//		transform: translateY(-250%);
	//	}
	//
	//	&:after {
	//		transform: translateY(250%);
	//	}
	//}
}

#menu_connexion {
	position : fixed;
	top : 100px;
	right : -180px;
	z-index: 10000;
	-webkit-transition: right 0.5s; /* Safari */
	transition: right 0.5s;

	&.ferme {
		right : -180px;
	}
	&.ouvert {
		right : 0px;
	}

	div {
		background : white;
		border : 2px solid $orangeClair;
		border-right : 0;
		width : 180px;
		a {
			display : block;
			color : $orangeClair;
			padding : 10px 15px;
		}
	}

	a.icone {
		position: absolute;
		top: 0;
		left: -40px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: $orangeClair;
		border-radius: 5px 0px 0px 5px;

		&:hover {
			background-color : $orangeFonce;
		}

		&:before {
			color : white;
			font-size : 25px;
		}
	}
}

@media screen and (max-height: 31.125em) {
	.bt-menu ul li a:before {
		font-size: 32px;
	}
}

/* END MENU */

@media (max-width: 991px) {
	.annonce_form #mapDiv {
		width : 100% !important;
		height : 300px !important;
		margin-top : 0;
		float : none;
	}

	.bt-menu-trigger {
		display: block;
	}
	.mega-menu .menu-links {
		display : none;
	}

	#menu_connexion {
		position: fixed;
		top: 146px;
	}
}

@media (max-width: 1300px) {
	body {
		margin-bottom : 115px;
	}
	footer {
		padding: 20px 0;
		.copyrights .copyright-content {

			p {
				line-height : inherit;
			}

			.copyright, .footer-links {
				display : block;
			}

			.copyright {
				margin-right: 0;
			}

			.footer-links {
				margin-top : 10px;
				padding-top : 10px;
				border-top : 1px solid lighten($orangeClair, 20%);

				li {
					line-height : inherit;
					padding-left: 0;
					display: inline-block;
				}
			}
		}

	}
}