@charset "UTF-8";
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro/sourcesanspro-regular-webfont.svg#sourcesanspro") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro/sourcesanspro-bold-webfont.svg#sourcesanspro") format("svg");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro/sourcesanspro-light-webfont.svg#sourcesanspro") format("svg");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/comfortaa/comfortaa_regular-webfont.eot");
  src: url("../fonts/comfortaa/comfortaa_regular-webfont.woff2") format("woff2"), url("../fonts/comfortaa/comfortaa_regular-webfont.woff") format("woff"), url("../fonts/comfortaa/comfortaa_regular-webfont.ttf") format("truetype"), url("../fonts/comfortaa/comfortaa_regular-webfont.svg#comfortaa") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/comfortaa/comfortaa_bold-webfont.eot");
  src: url("../fonts/comfortaa/comfortaa_bold-webfont.woff2") format("woff2"), url("../fonts/comfortaa/comfortaa_bold-webfont.woff") format("woff"), url("../fonts/comfortaa/comfortaa_bold-webfont.ttf") format("truetype"), url("../fonts/comfortaa/comfortaa_bold-webfont.svg#comfortaa") format("svg");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Comfortaa';
  src: url("../fonts/comfortaa/comfortaa_thin-webfont.eot");
  src: url("../fonts/comfortaa/comfortaa_thin-webfont.woff2") format("woff2"), url("../fonts/comfortaa/comfortaa_thin-webfont.woff") format("woff"), url("../fonts/comfortaa/comfortaa_thin-webfont.ttf") format("truetype"), url("../fonts/comfortaa/comfortaa_thin-webfont.svg#comfortaa") format("svg");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/quicksand-regular-webfont.eot");
  src: url("../fonts/quicksand/quicksand-regular-webfont.woff2") format("woff2"), url("../fonts/quicksand/quicksand-regular-webfont.woff") format("woff"), url("../fonts/quicksand/quicksand-regular-webfont.ttf") format("truetype"), url("../fonts/quicksand/quicksand-regular-webfont.svg#comfortaa") format("svg");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/quicksand/quicksand-bold-webfont.eot");
  src: url("../fonts/quicksand/quicksand-bold-webfont.woff2") format("woff2"), url("../fonts/quicksand/quicksand-bold-webfont.woff") format("woff"), url("../fonts/quicksand/quicksand-bold-webfont.ttf") format("truetype"), url("../fonts/quicksand/quicksand-bold-webfont.svg#comfortaa") format("svg");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
html {
  height: auto;
  min-height: 100%;
  position: relative; }

body {
  background: #F7F7F7;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 80px; }

.mobile-only {
  display: none; }

.waiting {
  position: relative; }
  .waiting:before {
    content: " ";
    background: url(../images/load.svg) no-repeat center center rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 10000000; }

.spsd_field {
  display: none; }

p strong {
  color: #eb691c; }
  footer p strong {
    color: #028352; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  color: #eb691c; }

.sticky-post-button {
  background: #f18c1b;
  display: none; }
  .sticky-post-button h4 {
    color: white; }

.heading-panel h1 {
  color: #028352; }
  .heading-panel h1:before {
    border-bottom: 3px solid #028352; }
  .heading-panel h1:after {
    content: none; }
  .heading-panel h1 .heading-color {
    color: #f18c1b; }

.btn {
  padding: 10px 21px;
  border-radius: 20px;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  white-space: normal; }
  .btn i {
    margin-right: 5px;
    font-weight: 400; }

.btn1 {
  background-color: #f18c1b;
  color: white; }
  .btn1:hover {
    background-color: #eb691c;
    color: white; }

.btn2 {
  background-color: white;
  color: #028352;
  border: 2px solid #028352; }
  .btn2:hover {
    background-color: #028352;
    color: white; }

#desactiveCookie, #activeCookie {
  display: none;
  margin: 10px 0; }

.annonce_message {
  text-align: center;
  padding: 15px 50px;
  color: white;
  background: #eb691c;
  position: relative;
  display: none; }
  .annonce_message.cookie {
    background: #00a163; }
    .annonce_message.cookie a {
      color: white;
      text-decoration: underline; }
  .annonce_message .nouveautes {
    margin: 10px 0; }
  .annonce_message .remove {
    position: absolute;
    top: 0;
    right: 40px;
    cursor: pointer; }
    .annonce_message .remove .fa {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: white;
      padding: 10px;
      font-size: 21px; }

.mega-menu {
  background: white; }
  .mega-menu .menu-logo, .mega-menu .menu-links {
    float: none;
    display: inline-block;
    vertical-align: top; }
  .mega-menu .menu-links, .mega-menu .menu-search-bar {
    margin-top: 17px; }
  .mega-menu .menu-links > li > a {
    color: #028352; }

.help {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  color: #777; }

.helpMonnaie {
  font-size: 0.8em;
  text-decoration: underline;
  margin-left: 10px; }

.bread-3.page-header-area {
  background-image: url("../images/banniereFine.jpg");
  background-position: top center;
  background-size: cover; }
  .bread-3.page-header-area h1 {
    color: #eb691c; }
  .bread-3.page-header-area .small-breadcrumb .breadcrumb-link ul li a.active {
    cursor: default; }

.right-sidebar  {
  float: right !important; }

h4 {
  margin-bottom: 5px; }

label.required {
  color: #232323; }

a {
  color: #009345; }

.btn.btn-light:hover {
  color: white; }

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #777;
  text-align: justify; }

.ui-helper-hidden-accessible  {
  display: none; }

ul.liste {
  padding-left: 25px;
  margin-bottom: 15px; }
  ul.liste ul.liste {
    margin-bottom: 0px; }
  ul.liste li {
    list-style: disc inside; }

.blog-sidebar {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px;
  border-radius: 15px; }
  .blog-sidebar h2, .blog-sidebar h3 {
    color: #f18c1b;
    font-size: 22px; }
    .blog-sidebar h2:after, .blog-sidebar h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }

.header-top {
  background: #F39200;
  border-bottom: 1px solid #c6c6c5; }
  .header-top .dropdown:hover .dropdown-menu {
    display: block; }
  .header-top ul.dropdown-menu li a {
    text-transform: none; }
    .header-top ul.dropdown-menu li a .fa {
      margin-right: 5px; }
  .header-top ul li {
    border: none;
    padding: 0 20px; }

fieldset  {
  margin-top: 40px; }
  fieldset  legend {
    font-weight: bold;
    color: #009345; }

label.required:after {
  content: " *"; }
  .checkbox label.required:after, .radio label.required:after {
    content: ""; }

input[type=submit] {
  margin-top: 10px; }

.heading-panel h1 {
  margin-bottom: 30px; }
.heading-panel p {
  font-size: 1em;
  color: #232323; }
.heading-panel .bientot  {
  margin-top: 45px; }

.search-section .search-options > li .btn.btn-danger {
  background-color: #F39200;
  border-color: #F39200; }

.postdetails .form-group {
  margin-bottom: 0; }

.select2-dropdown .select2-results .parent {
  padding: 5px;
  margin: 5px;
  text-transform: uppercase;
  color: black;
  font-size: 1.1em;
  text-align: center;
  background-color: #ddd; }
  .select2-dropdown .select2-results .parent:hover, .select2-dropdown .select2-results .parent.select2-results__option--highlighted {
    color: white; }

form ::placeholder, form .select2-selection__placeholder {
  color: rgba(235, 105, 28, 0.7) !important;
  font-size: 14px; }
form .field {
  margin: 3px 0; }
form .grouped.fields {
  display: inline-block; }
form #adresse_form {
  width: calc(100% - 320px); }
form #mapDiv {
  float: right;
  z-index: 1;
  max-width: 100%; }
form #showOnMap {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  max-width: 100%;
  white-space: normal; }
form .radio label, form .checkbox label {
  padding-left: 0px; }
form .radio input, form .checkbox input {
  position: absolute;
  left: -9999px; }
form .radio label:before {
  content: " ";
  background: url("../images/radio.png") no-repeat left bottom transparent;
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px; }
  .search-section form .radio label:before {
    background-image: url("../images/radio_blanc.png"); }
form .radio input:checked + label:before, form .checkbox input:checked + label:before {
  background-position: left top; }
form .checkbox label:before {
  content: " ";
  background: url("../images/check.png") no-repeat left bottom transparent;
  width: 15px;
  height: 16px;
  display: inline-block;
  margin-right: 6px;
  vertical-align: -1px; }
  .search-section form .checkbox label:before {
    background-image: url("../images/check_blanc.png"); }
form .radio label, .search-section form .checkbox label {
  padding-left: 0px; }
form .radio input[type="radio"], form .radio-inline input[type="radio"], form .checkbox input[type="checkbox"], form .checkbox-inline input[type="checkbox"] {
  margin-left: -30px; }
form .select2-container--default .select2-selection--single, form .select2-container--default .select2-selection__rendered {
  height: 45px !important;
  border-radius: 5px;
  line-height: 45px !important;
  color: #eb691c !important; }
  .search-section form .select2-container--default .select2-selection--single, .search-section form .select2-container--default .select2-selection__rendered {
    border: none; }
form .select2-selection__clear {
  color: black !important; }
form .select2-selection__arrow {
  background: url("../images/caret-down.png") right 5px center no-repeat white;
  height: 42px !important; }
  form .select2-selection__arrow b {
    border: none !important; }
form input.form-control {
  border-radius: 5px !important;
  height: 45px !important;
  line-height: normal;
  color: #eb691c !important; }
  .search-section form input.form-control {
    border: none !important; }
form textarea.form-control {
  border-radius: 5px !important;
  color: #eb691c !important; }

.post-ad-form {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px; }
  .post-ad-form h2, .post-ad-form h3 {
    color: #f18c1b;
    font-size: 22px; }
    .post-ad-form h2:after, .post-ad-form h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }

.champCategorie {
  display: none; }

.annonce_form .container {
  position: relative; }
.annonce_form .champsSupplementaires {
  display: none; }
.annonce_form .blog-sidebar .widget {
  border: none; }
.annonce_form .blog-sidebar .widget .widget-heading, .annonce_form .blog-sidebar .widget .widget-content {
  background: none;
  padding: 0; }
.annonce_form .widget-content {
  overflow: visible; }
  .annonce_form .widget-content ol {
    padding-left: 20px; }
.annonce_form .lead {
  padding-top: 20px;
  font-size: 19px; }
.annonce_form .heading-panel {
  margin-bottom: 0; }
.annonce_form .postdetails {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  .annonce_form .postdetails .heading-panel h3, .annonce_form .postdetails fieldset legend {
    color: #f18c1b;
    border-color: #f18c1b;
    font-weight: 700; }
.annonce_form .post-ad-form, .annonce_form .col-container {
  position: static; }
.annonce_form .champTaille, .annonce_form .champEmploi, .annonce_form .champImmobilierVacances, .annonce_form .champImmobilierLocation, .annonce_form .champImmobilier, .annonce_form .champVoiture, .annonce_form .champImmobilierVente {
  display: none; }
.annonce_form .grouped.fields .field {
  display: inline-block;
  margin-right: 20px; }
.annonce_form .bg-danger {
  padding: 5px 10px; }
.annonce_form #photos_button_replace, .annonce_form .photoFileInput {
  position: absolute;
  left: -99999999px; }
.annonce_form .bnbc-ajax-file-dropzone {
  min-height: 150px;
  border: 3px dotted #f18c1b;
  background-color: #fef9f3;
  padding: 20px;
  cursor: pointer; }
  .annonce_form .bnbc-ajax-file-dropzone span.text {
    display: block;
    text-align: center; }
  .annonce_form .bnbc-ajax-file-dropzone input[type=file] {
    display: none; }
  .annonce_form .bnbc-ajax-file-dropzone #photos > div {
    display: inline-block;
    vertical-align: top; }
  .annonce_form .bnbc-ajax-file-dropzone img {
    cursor: default; }
.annonce_form .bnbc-ajax-file-error-list {
  margin-top: 15px; }
  .annonce_form .bnbc-ajax-file-error-list li  {
    list-style: circle inside;
    margin-bottom: 5px; }
.annonce_form .bnbc-ajax-file-list li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 10px; }
  .annonce_form .bnbc-ajax-file-list li .remove {
    position: absolute;
    right: -8px;
    top: -11px;
    font-size: 20px; }
    .annonce_form .bnbc-ajax-file-list li .remove i {
      color: #e31311;
      background: white;
      border-radius: 50%; }
.annonce_form #addImage, .annonce_form .removeImage {
  cursor: pointer; }
  .annonce_form #addImage i.fa, .annonce_form .removeImage i.fa {
    font-size: 1.3em;
    color: #028352; }
.annonce_form .image_thumb {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  margin-bottom: 10px; }
  .annonce_form .image_thumb + .form-group {
    display: inline-block;
    vertical-align: middle; }
.annonce_form .removeImage {
  margin-right: 15px; }
  .annonce_form .removeImage i.fa {
    color: #652b09; }
.annonce_form .containerPhoto {
  margin-bottom: 10px; }
  .annonce_form .containerPhoto > * {
    display: inline-block;
    vertical-align: middle; }
.annonce_form #warningPhoto, .annonce_form #errorMaxPhoto {
  display: none; }
.annonce_form fieldset.options {
  border: 1px solid #e5e5e5;
  padding: 16px;
  margin-bottom: 30px; }
  .annonce_form fieldset.options .option {
    margin: 0 -16px;
    padding: 16px;
    background-color: #fad5ab; }
    .annonce_form fieldset.options .option:nth-of-type(odd) {
      background-color: #fdeddb; }
  .annonce_form fieldset.options legend {
    border: none;
    width: auto;
    padding: 0 10px;
    margin-bottom: 0; }
  .annonce_form fieldset.options .checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; }
  .annonce_form fieldset.options .prix {
    text-align: right; }
  .annonce_form fieldset.options .prixEuro, .annonce_form fieldset.options .prixG1 {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .annonce_form fieldset.options .prixEuro .barre, .annonce_form fieldset.options .prixG1 .barre {
      position: absolute;
      color: #840b0a;
      left: 0;
      font-size: 1.5em;
      width: 100%;
      height: 5px;
      top: 50%;
      border-top: 2px solid #eb691c; }
  .annonce_form fieldset.options .prixG1 {
    display: none; }
  .annonce_form fieldset.options .promo {
    color: #eb691c;
    margin-left: 20px;
    font-weight: bold; }
  .annonce_form fieldset.options .new-price {
    font-size: 1.3em; }
.annonce_form #categorieLi {
  position: relative; }
  .annonce_form #categorieLi #categorieList {
    left: 0;
    right: 0; }

.parallex:before {
  background: none; }

.main-search {
  position: relative;
  background: url("../images/banniere.jpg") no-repeat top center;
  background-size: cover;
  min-height: 480px;
  height: auto; }
  .main-search.inner-page {
    height: auto;
    min-height: 0; }
  .main-search .main-search-title {
    text-align: center;
    padding-top: 38px; }
    .main-search .main-search-title .logo {
      margin-bottom: 15px; }
    .main-search .main-search-title p.title {
      font-size: 30px;
      font-weight: 700;
      color: #eb691c; }
  .main-search #form-panel {
    background-color: rgba(2, 131, 82, 0.8);
    border-radius: 15px; }
    .main-search #form-panel a {
      color: white;
      font-size: 0.9em;
      text-decoration: underline; }
    .main-search #form-panel form {
      position: relative; }
    .main-search #form-panel .checkbox {
      display: inline-block;
      margin-right: 10px; }
      .main-search #form-panel .checkbox label {
        color: white; }
  .main-search #search-more {
    display: none;
    margin-top: 10px; }
    .main-search #search-more .row {
      padding-left: 5px; }
  .main-search #search-more-hide {
    display: none; }

.pagination {
  border-radius: 0;
  margin: 0; }
  .pagination > li:first-child > a, .pagination .pagination > li:first-child > span, .pagination .pagination > li:last-child > a, .pagination .pagination > li:last-child > span {
    border-radius: 0; }
  .pagination li {
    box-shadow: none;
    display: inline-block;
    margin-right: 0px;
    border: none;
    background: none; }
    .pagination li:hover > a, .pagination li.active > a, .pagination li:hover > a:hover, .pagination li.active > a:hover {
      border: none;
      background: none;
      color: #f18c1b !important; }
    .pagination li > a {
      color: #028352;
      font-size: 14px;
      font-weight: 700;
      padding: 10px 10px;
      border: none;
      background: none;
      font-family: 'Quicksand', sans-serif; }
      .pagination li > a:hover, .pagination li > a:focus {
        color: #f18c1b !important;
        text-decoration: underline;
        border: none;
        background: none; }

.inner-page .search-section {
  margin: 35px 0; }
.search-section .search-options {
  margin-bottom: 16px; }
  .search-section .search-options label {
    color: white; }
  .search-section .search-options > li {
    width: 49%;
    box-sizing: border-box;
    margin: 0 0.5%; }
    .search-section .search-options > li.monnaie {
      width: 21%; }
      .search-section .search-options > li.monnaie select {
        width: 100%; }
    .search-section .search-options > li.troc, .search-section .search-options > li.urgent {
      margin-left: 51px;
      width: auto; }
    .search-section .search-options > li.button {
      width: auto !important;
      float: right; }
      .search-section .search-options > li.button .form-group {
        margin: 0; }
    .search-section .search-options > li input[type=checkbox], .search-section .search-options > li input[type=radio] {
      display: inline-block;
      width: auto;
      vertical-align: middle;
      height: auto; }
    .search-section .search-options > li input[type=radio] {
      margin-left: -30px; }
  .search-section .search-options.second > li {
    width: 32.67%; }
    .search-section .search-options.second > li.distance {
      width: 60%;
      padding-left: 40px; }
      .search-section .search-options.second > li.distance * {
        display: inline-block; }
      .search-section .search-options.second > li.distance input {
        width: auto; }
      .search-section .search-options.second > li.distance label {
        margin: 0 20px 0 5px; }
        .search-section .search-options.second > li.distance label input:not([type=radio]) {
          margin: 0 5px; }
      .search-section .search-options.second > li.distance .lieu_distance {
        width: 55px; }
.search-section .distance .km {
  color: white; }
.search-section .distance .required {
  color: inherit; }
  .search-section .distance .required:after {
    content: ""; }

.inner-page:not(.main-search) #form-panel {
  background-color: white;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px; }
  .inner-page:not(.main-search) #form-panel h2, .inner-page:not(.main-search) #form-panel h3 {
    color: #f18c1b;
    font-size: 22px; }
    .inner-page:not(.main-search) #form-panel h2:after, .inner-page:not(.main-search) #form-panel h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }

.gray {
  background: none; }

.static-panel {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px;
  padding: 30px; }
  .static-panel h2, .static-panel h3 {
    color: #f18c1b;
    font-size: 22px; }
    .static-panel h2:after, .static-panel h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }

.sticky-post-button h4 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 0.8em;
  margin-top: 0; }
.sticky-post-button .sell-icons i {
  font-size: 17px; }

.ui-widget.ui-autocomplete {
  z-index: 100;
  background: #fff;
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 5px; }
  .ui-widget.ui-autocomplete .ui-state-active {
    background-color: #ddd;
    cursor: pointer; }
  .ui-widget.ui-autocomplete .ui-menu-item-wrapper {
    padding: 10px; }

.section-padding {
  padding: 50px 0; }

.message {
  padding: 5px;
  margin-bottom: 10px; }
  .message.info {
    margin: 0;
    padding: 15px; }
  .message.bg-danger {
    color: #ed1c24; }

span.urgent {
  position: absolute;
  top: 6px;
  right: -6px;
  background: #b70000;
  color: #eee;
  padding: 1px 25px 2px;
  box-shadow: -3px 3px 5px #aaa;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em; }
  span.urgent:after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #550000;
    z-index: -1; }

.annonce .sidebar {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px;
  padding: 0; }
  .annonce .sidebar h2, .annonce .sidebar h3 {
    color: #f18c1b;
    font-size: 22px; }
    .annonce .sidebar h2:after, .annonce .sidebar h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }
.annonce.ad-listing {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px;
  padding: 10px 0; }
  .annonce.ad-listing h2, .annonce.ad-listing h3 {
    color: #f18c1b;
    font-size: 22px; }
    .annonce.ad-listing h2:after, .annonce.ad-listing h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }
  .annonce.ad-listing > div {
    float: none;
    display: inline-block;
    vertical-align: middle; }
  .annonce.ad-listing:hover .img-box:before {
    content: none; }
  .annonce.ad-listing .img-box {
    padding: 10px; }
    .annonce.ad-listing .img-box img {
      border-radius: 5px;
      max-height: 300px; }
    .annonce.ad-listing .img-box .total-images {
      left: 10px;
      bottom: 10px;
      -webkit-border-radius: 0 0 0 5px;
      -moz-border-radius: 0 0 0 5px;
      border-radius: 0 0 0 5px; }
  .annonce.ad-listing .content-area {
    padding: 10px 0 0; }
    .annonce.ad-listing .content-area h3 a, .annonce.ad-listing .content-area h3 a:hover {
      color: #f18c1b;
      font-weight: bold; }
    .annonce.ad-listing .content-area > div {
      float: none;
      display: inline-block;
      vertical-align: middle; }
    .annonce.ad-listing .content-area .ad-details {
      margin-bottom: 20px; }
    .annonce.ad-listing .content-area > div:first-child:after {
      width: 3px;
      background: #f18c1b;
      content: "";
      height: 164px;
      position: absolute;
      right: 10px;
      top: 0; }
    .annonce.ad-listing .content-area .price {
      text-align: center;
      margin-top: 0; }
      .annonce.ad-listing .content-area .price .troc {
        color: #777; }
      .annonce.ad-listing .content-area .price span {
        color: #eb691c; }
    .annonce.ad-listing .content-area .btn {
      font-size: 0.7em; }
  .annonce.ad-listing .ad-meta-info {
    color: #f18c1b; }
    .annonce.ad-listing .ad-meta-info i {
      color: #028352; }
  .annonce.ad-listing p {
    color: black; }
  .annonce.ad-listing.demande .icone-demande {
    font-size: 16px;
    color: #f18c1b;
    border-radius: 50%;
    border: 1px solid #f18c1b;
    padding: 6px 7px 7px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; }
    .annonce.ad-listing.demande .icone-demande + a {
      vertical-align: middle; }
.annonce .icone-pro {
  font-size: 16px;
  color: #f18c1b;
  border-radius: 50%;
  border: 1px solid #f18c1b;
  padding: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../images/pro.svg") no-repeat center center transparent;
  background-size: 16px; }
.annonce .contact .btn-contact  {
  padding-left: 10px;
  color: #00a163;
  display: inline-block;
  vertical-align: middle; }
  .annonce .contact .btn-contact  i {
    border: 2px solid #f18c1b;
    color: #f18c1b;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.6em;
    margin-right: 20px;
    vertical-align: middle; }
    .annonce .contact .btn-contact  i.fa-phone {
      font-size: 1.75em;
      padding: 10px 12px 7px; }
.annonce .contact .message {
  text-align: center; }
.annonce .contactEmail, .annonce .contactEmail:hover {
  background: none; }
.annonce #contactDiv {
  padding: 10px 30px; }
  .annonce #contactDiv button {
    margin-top: 10px; }
.annonce .contactPhone, .annonce .contactPhone:hover, .annonce .contactPhone:active, .annonce .contactPhone:visited {
  font-size: 20px;
  background: none; }
.annonce #contactPhoneDiv {
  font-size: 2em;
  text-align: center;
  padding: 20px 0; }
.annonce .user-contact-info {
  margin-bottom: 1px; }
  .annonce .user-contact-info .user-name {
    font-weight: normal;
    color: #888; }
    .annonce .user-contact-info .user-name span {
      font-weight: bold;
      color: black; }
.annonce .user-info-card {
  text-align: center; }
.annonce #mapDiv {
  height: 300px;
  z-index: 1;
  max-width: 100%; }
.annonce .short-history .type {
  text-transform: capitalize; }
.annonce .ad-share .data, .annonce .mobile-ad-share .data {
  display: none;
  background-color: white;
  padding: 5px;
  border: 1px solid #e7e7e7;
  border-top: none;
  font-size: 0.9em; }
.annonce .mobile-ad-share {
  display: none; }
  .annonce .mobile-ad-share .data {
    border-left: 0;
    border-right: 0;
    background: none; }
.annonce .category-title span {
  color: #00a163;
  font-size: 14px; }
.annonce .actions .ad-box {
  border: none;
  background: none; }
  .annonce .actions .ad-box span {
    color: #232323; }
.annonce .delete_link  {
  color: #232323;
  display: inline-block;
  width: auto;
  border: 0;
  background: none;
  margin: 0;
  padding: 0; }
.annonce .additional-info a {
  outline: none; }
.annonce .additional-info a.fa.selected {
  background: #00a163;
  color: white; }
.annonce .confirmation-text {
  margin-bottom: 20px;
  background: #00a163;
  color: white;
  border-radius: 15px;
  position: relative;
  border: none; }
  .annonce .confirmation-text fieldset {
    border: 1px solid #00d482;
    margin-top: 20px;
    margin-bottom: 20px; }
    .annonce .confirmation-text fieldset legend {
      color: white;
      border: none;
      padding-right: 10px;
      padding-left: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      width: auto;
      font-size: 1.2em; }
    .annonce .confirmation-text fieldset p {
      margin-left: 25px; }
  .annonce .confirmation-text .boutons, .annonce .confirmation-text form {
    display: inline-block; }
    .annonce .confirmation-text .boutons i:before, .annonce .confirmation-text form i:before {
      color: white; }
  .annonce .confirmation-text .btn {
    margin: 5px 10px 5px 0; }
  .annonce .confirmation-text .btn-delete {
    background: #840b0a;
    border-color: #840b0a;
    color: white; }
    .annonce .confirmation-text .btn-delete i:before {
      color: white; }
    .annonce .confirmation-text .btn-delete:hover {
      background-color: #6c0908 !important;
      border-color: #6c0908; }
.annonce .ad-listing-price p span {
  font-size: 0.7em;
  display: block; }
.annonce .ad-box.description {
  position: relative;
  border: none;
  border-radius: 15px 15px 0 0;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none; }
.annonce #carousels {
  margin-bottom: 15px; }
.annonce .single-page-slider, .annonce .flexslider {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none; }
.annonce .ad-share, .annonce .mobile-ad-share {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  margin-top: 0; }
  .annonce .ad-share .ad-box, .annonce .mobile-ad-share .ad-box {
    cursor: default; }
    .annonce .ad-share .ad-box i, .annonce .mobile-ad-share .ad-box i {
      padding: 0; }
    .annonce .ad-share .ad-box span, .annonce .mobile-ad-share .ad-box span {
      margin-left: 7px;
      font-family: 'Comfortaa', cursive;
      cursor: pointer;
      color: #232323; }
  .annonce .ad-share #share-data, .annonce .ad-share #mobile-share-data, .annonce .mobile-ad-share #share-data, .annonce .mobile-ad-share #mobile-share-data {
    padding: 20px; }
    .annonce .ad-share #share-data a, .annonce .ad-share #share-data a:hover, .annonce .ad-share #share-data i, .annonce .ad-share #mobile-share-data a, .annonce .ad-share #mobile-share-data a:hover, .annonce .ad-share #mobile-share-data i, .annonce .mobile-ad-share #share-data a, .annonce .mobile-ad-share #share-data a:hover, .annonce .mobile-ad-share #share-data i, .annonce .mobile-ad-share #mobile-share-data a, .annonce .mobile-ad-share #mobile-share-data a:hover, .annonce .mobile-ad-share #mobile-share-data i {
      color: #f18c1b;
      font-size: 34px !important;
      vertical-align: middle;
      margin-right: 10px; }
    .annonce .ad-share #share-data a:last-child, .annonce .ad-share #mobile-share-data a:last-child, .annonce .mobile-ad-share #share-data a:last-child, .annonce .mobile-ad-share #mobile-share-data a:last-child {
      margin-right: 0; }
  .annonce .ad-share #adresse_partage, .annonce .mobile-ad-share #adresse_partage {
    width: 50%;
    margin: auto;
    display: inline-block;
    vertical-align: middle; }
.annonce .texte-annonce {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 0 0 15px 15px; }

.page-aide img {
  float: left;
  margin: 0 20px 20px 0; }
.page-aide h4 {
  clear: left;
  font-size: 16px;
  margin-top: 40px; }

.login .form-grid {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px;
  background-color: white; }
  .login .form-grid h2, .login .form-grid h3 {
    color: #f18c1b;
    font-size: 22px; }
    .login .form-grid h2:after, .login .form-grid h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }
  .login .form-grid .btn:hover {
    color: white; }
.login .registration_message {
  line-height: 25px; }
  .login .registration_message i.fa {
    color: #009345;
    margin-right: 20px;
    font-size: 2em; }
.login .fos_user_registration_register .grouped.fields .field {
  display: inline-block;
  margin-right: 20px; }

.error-page .error-container > .error-info {
  text-transform: none; }
.error-page .error-text {
  color: #f18c1b; }
.error-page .error-info {
  color: #028352; }
.error-page p {
  text-align: center;
  font-size: 20px;
  margin-top: 75px; }

.no-result {
  margin-top: 10px; }

.filter-brudcrums .save-alerte {
  float: right; }
  .filter-brudcrums .save-alerte a {
    display: block;
    text-align: right;
    color: #f18c1b;
    margin-bottom: 15px; }
  .filter-brudcrums .save-alerte form {
    margin-top: 15px; }
  .filter-brudcrums .save-alerte .message {
    margin: 5px 0;
    display: none;
    color: #777; }
    .filter-brudcrums .save-alerte .message.visible {
      display: block; }
.filter-brudcrums #form-alerte-span {
  display: none;
  color: #777; }

#search_form, .annonce_form {
  position: relative; }
  #search_form #categorieInput, .annonce_form #categorieInput {
    cursor: pointer; }
    #search_form #categorieInput:read-only, .annonce_form #categorieInput:read-only {
      background: white; }
  #search_form .inputContainer, .annonce_form .inputContainer {
    position: relative; }
    #search_form .inputContainer .cross, .annonce_form .inputContainer .cross {
      position: absolute;
      right: 22px;
      top: 9px;
      cursor: pointer;
      color: #232323; }
    #search_form .inputContainer input, .annonce_form .inputContainer input {
      background: url("../images/caret-down.png") right 5px center no-repeat white; }
  #search_form .lieuContainer .cross, .annonce_form .lieuContainer .cross {
    right: 10px; }
  #search_form .lieuContainer input, .annonce_form .lieuContainer input {
    background: white; }
  #search_form #categorieList, .annonce_form #categorieList {
    position: absolute;
    left: 5px;
    right: 5px;
    z-index: 10;
    margin-top: 5px;
    background: white;
    color: #232323; }
    #search_form #categorieList span, .annonce_form #categorieList span {
      cursor: pointer;
      display: block;
      font-size: 13px;
      line-height: 20px; }
    #search_form #categorieList .group, .annonce_form #categorieList .group {
      background-color: #f7f7f7;
      padding: 5px;
      margin: 5px 0; }
    #search_form #categorieList .parent, .annonce_form #categorieList .parent {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px; }

.ads-list-archive {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px;
  padding: 0; }
  .ads-list-archive h2, .ads-list-archive h3 {
    color: #f18c1b;
    font-size: 22px; }
    .ads-list-archive h2:after, .ads-list-archive h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }
  .ads-list-archive .ad-meta > * {
    display: inline-block; }
  .ads-list-archive .fa-heart {
    color: #009345; }
    .ads-list-archive .fa-heart:hover {
      color: #840b0a; }
  .ads-list-archive .ad-archive-img {
    padding: 5px; }
    .ads-list-archive .ad-archive-img img {
      border-radius: 10px;
      max-height: 200px;
      width: auto; }
    .ads-list-archive .ad-archive-img .total-images {
      left: 5px;
      bottom: 5px;
      -webkit-border-radius: 0 0 0 10px;
      -moz-border-radius: 0 0 0 10px;
      border-radius: 0 0 0 10px; }
  .ads-list-archive .ad-archive-desc {
    font-size: 0.8em; }
    .ads-list-archive .ad-archive-desc h3 {
      font-size: 1.4em; }
      .ads-list-archive .ad-archive-desc h3 a {
        color: #f18c1b; }
    .ads-list-archive .ad-archive-desc .ad-price {
      font-size: 1.4em; }
    .ads-list-archive .ad-archive-desc .btn {
      font-size: 1em; }

.alertes .ad-archive-desc h3:hover {
  cursor: default;
  color: #f18c1b !important; }

footer {
  background: #f18c1b;
  font-family: 'Quicksand', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  footer li {
    line-height: 55px;
    width: auto;
    display: inline-block;
    padding: 0 20px; }
    footer li a, footer li a:hover {
      color: white; }
    footer li a:hover {
      text-decoration: underline; }

.copyrights {
  background: none;
  color: white; }
  .copyrights .copyright-content, .copyrights .footer-top {
    border: none;
    padding: 0 20px; }
    .copyrights .copyright-content p, .copyrights .footer-top p {
      margin: 0;
      line-height: 80px; }
    .copyrights .copyright-content .copyright, .copyrights .footer-top .copyright {
      margin-right: 250px; }
    .copyrights .copyright-content .copyright, .copyrights .copyright-content .footer-links, .copyrights .footer-top .copyright, .copyrights .footer-top .footer-links {
      display: inline-block; }

.user-profile {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px;
  padding: 0; }
  .user-profile h2, .user-profile h3 {
    color: #f18c1b;
    font-size: 22px; }
    .user-profile h2:after, .user-profile h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }
  .user-profile ul li {
    border-top: 2px solid #e4f4ef; }
    .user-profile ul li a {
      border: none;
      box-shadow: none;
      color: #00a163;
      font-size: 1.1em;
      font-weight: bold;
      float: left; }
  .user-profile .contact-details li {
    border: none; }
  .user-profile a.badge {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    padding: 7px 8px;
    padding-left: 42px;
    border-radius: 0; }
    .user-profile a.badge i.fa {
      color: white !important;
      font-size: 1.5em;
      line-height: 34px;
      padding-right: 30%; }
  .user-profile .profile-detail h6 {
    color: #eb691c; }
  .user-profile .infos {
    position: relative; }
    .user-profile .infos .view {
      border-radius: 0 7px 7px 0;
      z-index: 2;
      background: white; }
  .user-profile ul li.active a:not(.badge) {
    padding-left: 56px;
    border: none;
    color: #00a163; }
    .user-profile ul li.active a:not(.badge):before {
      content: " ";
      left: 0;
      position: absolute;
      top: 7px;
      bottom: 7px;
      margin: 0;
      margin-left: 28px;
      border: none;
      border-left: 2px solid #00a163; }
  .user-profile #delete_account {
    color: #840b0a; }

.profile-section {
  background-color: white;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: white;
  padding: 30px; }
  .profile-section h2, .profile-section h3 {
    color: #f18c1b;
    font-size: 22px; }
    .profile-section h2:after, .profile-section h3:after {
      content: " ";
      width: 100px;
      display: block;
      border-bottom: 2px solid #f18c1b;
      margin: 5px 0 15px; }
  .profile-section .btn:first-of-type {
    margin-right: 30px; }
  .profile-section h2  {
    margin-top: 0;
    margin-bottom: 20px; }
  .profile-section .dl-horizontal dt {
    margin-right: 20px;
    width: 195px; }
    .profile-section .dl-horizontal dt strong {
      color: #f18c1b; }
  .profile-section .dl-horizontal dd {
    border-color: #fdf3e7;
    border-width: 2px; }

.bt-menu-trigger {
  display: none;
  position: absolute;
  top: 5px;
  right: 14px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #f58936;
  padding: 5px; }
  .bt-menu-trigger img {
    margin: 0;
    height: auto; }

#menu_connexion {
  position: fixed;
  top: 100px;
  right: -180px;
  z-index: 10000;
  -webkit-transition: right 0.5s;
  /* Safari */
  transition: right 0.5s; }
  #menu_connexion.ferme {
    right: -180px; }
  #menu_connexion.ouvert {
    right: 0px; }
  #menu_connexion div {
    background: white;
    border: 2px solid #f18c1b;
    border-right: 0;
    width: 180px; }
    #menu_connexion div a {
      display: block;
      color: #f18c1b;
      padding: 10px 15px; }
  #menu_connexion a.icone {
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f18c1b;
    border-radius: 5px 0px 0px 5px; }
    #menu_connexion a.icone:hover {
      background-color: #eb691c; }
    #menu_connexion a.icone:before {
      color: white;
      font-size: 25px; }

@media screen and (max-height: 31.125em) {
  .bt-menu ul li a:before {
    font-size: 32px; } }
/* END MENU */
@media (max-width: 991px) {
  .annonce_form #mapDiv {
    width: 100% !important;
    height: 300px !important;
    margin-top: 0;
    float: none; }

  .bt-menu-trigger {
    display: block; }

  .mega-menu .menu-links {
    display: none; }

  #menu_connexion {
    position: fixed;
    top: 146px; } }
@media (max-width: 1300px) {
  body {
    margin-bottom: 115px; }

  footer {
    padding: 20px 0; }
    footer .copyrights .copyright-content p {
      line-height: inherit; }
    footer .copyrights .copyright-content .copyright, footer .copyrights .copyright-content .footer-links {
      display: block; }
    footer .copyrights .copyright-content .copyright {
      margin-right: 0; }
    footer .copyrights .copyright-content .footer-links {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #f7bc7b; }
      footer .copyrights .copyright-content .footer-links li {
        line-height: inherit;
        padding-left: 0;
        display: inline-block; } }

/*# sourceMappingURL=1_style.css.map */
