$orangeClair: #f18c1b;
$orangeFonce: #eb691c;
$vertFonce: #028352;
$vertClair: #00a163;

@mixin box-shadow()
{
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
	box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
}
@mixin box-block() {
	@include box-shadow;

	border-radius: 15px;
	background: white;
}

@media (max-width: 767px) {
	body {
		margin-bottom : 250px;
	}

	.no-mobile {
		display : none;
	}
	.mobile-only{
		display : block;
	}


	.main-search {
		background-image : url("../images/banniereMobile.jpg");

		.main-search-title {

			p.title {
				font-size : 1.2em;
			}

			.logo {
				max-width : 150px;
			}
		}

		#form-panel {
			margin-bottom : 20px;
		}
	}

	.search-section .search-options {
		margin-bottom : 0;
		> li {
			width: 100%;
			margin-bottom : 10px;
		}

		> li.monnaie {
			width : 100% !important;

			margin : 0;
		}
		> li.troc, > li.urgent {
			margin-left : 0;
			margin-bottom : 0;
		}

		&.second > li {
			width : 100%;

			&.distance {
				width : 100%;
				padding-left : 0;
				margin-left : 0;

				label, input {
					margin-left: 0 !important;
				}
			}

		}
	}

	footer {
		height : auto;
		padding : 20px 0;

		.copyrights .copyright-content {

			p {
				line-height : inherit;
			}

			.copyright, .footer-links {
				display : block;
			}

			.copyright {
				margin-right: 0;
			}

			.footer-links {
				margin-top : 10px;
				padding-top : 10px;
				border-top : 1px solid lighten($orangeClair, 20%);

				li {
					line-height : inherit;
					padding-left: 0;
					display: block;
				}
			}
		}

	}

	.post-ad-form, .blog-sidebar, #form-panel, .static-panel, .login .form-grid, .ads-list-archive, .profile-section {
		padding : 15px !important;
	}

	#categorieList {
		@include box-shadow;
		border-radius : 10px;
		padding-bottom: 10px;
	}

	.blog-sidebar {
		margin-top : 0;
		margin-bottom : 30px;
	}

	.section-padding {
		padding : 20px 0;
	}

	.favoris .ad-meta .btn {
		margin-bottom : 10px;
	}

	.annonce {
		.urgent.mobile-only {
			top : -3px;
			font-size: 1em;
			line-height: 1.2em;
			padding: 0px 17px 2px;
		}

		&.ad-listing .content-area {
			padding : 25px 0 0;

			.additional-info {
				top : 0;
			}
			.price {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 20px;
				margin-right: 15px;
				text-align : left;

				span {
					font-size : 18px;
				}
			}
			.btn {
				float : right;
				margin-bottom: 20px;
			}
		}

		.single-content .ad-box .short-history li {
			display : block;
			padding-left : 0;
			border : 0;
			margin-bottom : 5px;
		}
		.ad-share {
			display : none;
		}
		.mobile-ad-share {
			display : block;
			@include box-block;

			.ad-box {
				background : none;
				border-left: 0;
				border-right: 0;
				border-top: 0;

				&:last-child {
					border-bottom : 0;
				}
			}

			#adresse_partage {
				width : 100%;
			}
		}
		.sidebar {
			margin-bottom : 15px;
			padding : 0;
		}

		.user-info-card {
			padding-top : 10px;
		}

		.contact .btn-contact {
			font-size : 1em;
		}
	}

	.annonce_form {
		fieldset.options {
			padding : 7px;

			.option {
				margin: 0 -7px;
			}

			.new-price {
				font-size : 1em;
			}

			.promo {
				display : block;
			}
		}
	}

	form {
		#adresse_form {
			width : 100%;
		}
		.postdetails .form-group {
			position : static;
		}
	}

	.profile-section {
		.btn {
			margin-bottom: 10px;
		}
	}

	.list-desc {
		position : relative;
	}

}