@media (max-width: 767px) {
  body {
    margin-bottom: 250px; }

  .no-mobile {
    display: none; }

  .mobile-only {
    display: block; }

  .main-search {
    background-image: url("../images/banniereMobile.jpg"); }
    .main-search .main-search-title p.title {
      font-size: 1.2em; }
    .main-search .main-search-title .logo {
      max-width: 150px; }
    .main-search #form-panel {
      margin-bottom: 20px; }

  .search-section .search-options {
    margin-bottom: 0; }
    .search-section .search-options > li {
      width: 100%;
      margin-bottom: 10px; }
    .search-section .search-options > li.monnaie {
      width: 100% !important;
      margin: 0; }
    .search-section .search-options > li.troc, .search-section .search-options > li.urgent {
      margin-left: 0;
      margin-bottom: 0; }
    .search-section .search-options.second > li {
      width: 100%; }
      .search-section .search-options.second > li.distance {
        width: 100%;
        padding-left: 0;
        margin-left: 0; }
        .search-section .search-options.second > li.distance label, .search-section .search-options.second > li.distance input {
          margin-left: 0 !important; }

  footer {
    height: auto;
    padding: 20px 0; }
    footer .copyrights .copyright-content p {
      line-height: inherit; }
    footer .copyrights .copyright-content .copyright, footer .copyrights .copyright-content .footer-links {
      display: block; }
    footer .copyrights .copyright-content .copyright {
      margin-right: 0; }
    footer .copyrights .copyright-content .footer-links {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #f7bc7b; }
      footer .copyrights .copyright-content .footer-links li {
        line-height: inherit;
        padding-left: 0;
        display: block; }

  .post-ad-form, .blog-sidebar, #form-panel, .static-panel, .login .form-grid, .ads-list-archive, .profile-section {
    padding: 15px !important; }

  #categorieList {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding-bottom: 10px; }

  .blog-sidebar {
    margin-top: 0;
    margin-bottom: 30px; }

  .section-padding {
    padding: 20px 0; }

  .favoris .ad-meta .btn {
    margin-bottom: 10px; }

  .annonce .urgent.mobile-only {
    top: -3px;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0px 17px 2px; }
  .annonce.ad-listing .content-area {
    padding: 25px 0 0; }
    .annonce.ad-listing .content-area .additional-info {
      top: 0; }
    .annonce.ad-listing .content-area .price {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 20px;
      margin-right: 15px;
      text-align: left; }
      .annonce.ad-listing .content-area .price span {
        font-size: 18px; }
    .annonce.ad-listing .content-area .btn {
      float: right;
      margin-bottom: 20px; }
  .annonce .single-content .ad-box .short-history li {
    display: block;
    padding-left: 0;
    border: 0;
    margin-bottom: 5px; }
  .annonce .ad-share {
    display: none; }
  .annonce .mobile-ad-share {
    display: block;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    background: white; }
    .annonce .mobile-ad-share .ad-box {
      background: none;
      border-left: 0;
      border-right: 0;
      border-top: 0; }
      .annonce .mobile-ad-share .ad-box:last-child {
        border-bottom: 0; }
    .annonce .mobile-ad-share #adresse_partage {
      width: 100%; }
  .annonce .sidebar {
    margin-bottom: 15px;
    padding: 0; }
  .annonce .user-info-card {
    padding-top: 10px; }
  .annonce .contact .btn-contact {
    font-size: 1em; }

  .annonce_form fieldset.options {
    padding: 7px; }
    .annonce_form fieldset.options .option {
      margin: 0 -7px; }
    .annonce_form fieldset.options .new-price {
      font-size: 1em; }
    .annonce_form fieldset.options .promo {
      display: block; }

  form #adresse_form {
    width: 100%; }
  form .postdetails .form-group {
    position: static; }

  .profile-section .btn {
    margin-bottom: 10px; }

  .list-desc {
    position: relative; } }

/*# sourceMappingURL=2_style-max767.css.map */
