@media (max-width: 991px) {
  .annonce .sidebar {
    margin-top: 20px; }
  .annonce.ad-listing .content-area > div:first-child:after {
    content: none;
    background: none; }
  .annonce.ad-listing .content-area .price {
    text-align: left; }

  .search-section .search-options > li.monnaie {
    width: 50%; }
  .search-section .search-options > li.urgent {
    margin-left: 0;
    clear: both; } }

/*# sourceMappingURL=3_style-max-991.css.map */
