@media (max-width: 991px) {
	.annonce {
		.sidebar {
			margin-top : 20px;
		}

		&.ad-listing .content-area {

			> div:first-child:after {
				content : none ;
				background : none;
			}

			.price {
				text-align: left;
			}
		}
	}

	.search-section .search-options {
		> li.monnaie {
			width: 50%;
		}

		> li.urgent {
			margin-left : 0;
			clear : both;
		}
	}
}