{% extends ':emails:email_base.html.twig' %}

{% block body %}
	<tr>
		<td bgcolor="#f0f0f0">
			<table bgcolor="#f0f0f0" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
					<td style="padding: 40px 40px 20px; text-align: center;">
						<h1 style="margin: 0; font-family: sans-serif; font-size: 24px; line-height: 125%; color: #f18c1b; font-weight: normal;">
							Votre alerte "{{ titreAlerte }}" sur le site PetitEcolo.fr</h1>
					</td>
				</tr>
				<tr>
					<td style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #232323; text-align: center;">
						<p style="margin: 0;">
							Voici la liste des dernières annonces.<br>
							Si vous souhaitez accéder à la recherche, vous pouvez utiliser ce lien : <a style="font-size:10px;" href="{{ absolute_url(path('ad_index')) }}?{{ rechercheUrl }}">{{ absolute_url(path('ad_index')) }}?{{ rechercheUrl }}</a><br><br>
							{% set nbAnnonces = annonces|length %}
							{% if nbAnnonces == 1 %}
								Il y a une nouvelle annonce :
							{% elseif nbAnnonces > 10 %}
								Il y a {{ nbAnnonces }} nouvelles annonces. Seules les 10 premières sont affichées ici :
							{% else %}
								Il y a {{ nbAnnonces }} nouvelles annonces :
							{% endif %}
						</p>
					</td>
				</tr>

				{% for annonce in annonces %}
					<tr>
						<!-- dir=ltr is where the magic happens. This can be changed to dir=rtl to swap the alignment on wide while maintaining stack order on narrow. -->
						<td dir="ltr" bgcolor="#f0f0f0" align="center" height="100%" valign="top" width="100%" style="padding: 20px;">
							<!--[if mso]>
							<table role="presentation" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" align="center" width="660" style="width: 660px; border-radius:20px;">
								<tr>
									<td align="center" valign="top" width="660" style="width: 660px;">
							<![endif]-->
							<table role="presentation" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px; border-radius:20px;">
								<tr>
									<td align="center" valign="top" style="font-size:0; padding: 10px 0;">
										<!--[if mso]>
										<table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660" style="width: 660px;">
											<tr>
												<td align="left" valign="top" width="220" style="width: 220px;">
										<![endif]-->
										<div style="display:inline-block; margin: 0 -2px; max-width: 200px; min-width:160px; vertical-align:top; width:100%;" class="stack-column">
											<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
												<tr>
													<td dir="ltr" style="padding: 0">
														{% if annonce.photos != '' %}
															<img src="{{ asset(annonce.photos|split(';')[0]) | imagine_filter('annonce_liste') }}"  width="200" height="" border="0" alt="alt_text" class="center-on-narrow" style="border-radius:15px;width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #232323;">
														{% else %}
															<img src="{{ absolute_url(asset('images/annonces/annonce_defaut.jpg')) }}" width="200" height="" border="0" alt="alt_text" class="center-on-narrow" style="border-radius:15px;width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #232323;">
														{% endif %}
													</td>
												</tr>
											</table>
										</div>
										<!--[if mso]>
										</td>
										<td align="left" valign="top" width="440" style="width: 440px;">
										<![endif]-->
										<div style="display:inline-block; margin: 0 -2px; max-width:66.66%; min-width:320px; vertical-align:top;" class="stack-column">
											<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
												<tr>
													<td dir="ltr" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #232323; padding: 10px 0 0 20px; text-align: left;" class="center-on-narrow">
														<h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #f18c1b; font-weight: bold;">
															{{ annonce.titre }}
														</h2>
														<p style="margin: 0 0 10px 0;font-size:12px;color:#aaa;">
															{% if annonce.remuneration %}
																{{ annonce.remuneration }}  {% if annonce.monnaie == 'g1' %}Ğ1{% elseif annonce.monnaie == 'dug1'%}DU<sub>Ğ1</sub>{% else %}€{% endif %}
															{% elseif annonce.prix %}
																{{ annonce.prix }}  {% if annonce.monnaie == 'g1' %}Ğ1{% elseif annonce.monnaie == 'dug1'%}DU<sub>Ğ1</sub>{% else %}€{% endif %}
															{% else %}
																{{ 'annonces.view.pas_prix'|trans }}
															{% endif %}
														</p>
														<p style="margin: 0 0 10px 0;">
															{% if annonce.texte|length > 250 %}
																{{ annonce.texte|slice(0, 250) }}...
															{% else %}
																{{ annonce.texte }}
															{% endif %}
														</p>
														<!-- Button : BEGIN -->
														<table role="presentation" cellspacing="0" cellpadding="0" border="0" class="center-on-narrow" style="float:right;">
															<tr>
																<td style="border-radius: 15px; background: #f18c1b; text-align: right;" class="button-td">
																	<a href="{{ absolute_url(path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') })) }}" style="background: #f18c1b; border: 15px solid #f18c1b; font-family: sans-serif; font-size: 13px; line-height: 110%; text-align: center; text-decoration: none; display: block; border-radius: 15px; font-weight: bold;" class="button-a">
																		<span style="color:#ffffff;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;Voir l'annonce&nbsp;&nbsp;&nbsp;&nbsp;</span>
																	</a>
																</td>
															</tr>
														</table>
														<!-- Button : END -->
													</td>
												</tr>
											</table>
										</div>
										<!--[if mso]>
										</td>
										</tr>
										</table>
										<![endif]-->
									</td>
								</tr>
							</table>
							<!--[if mso]>
							</td>
							</tr>
							</table>
							<![endif]-->
						</td>
					</tr>
				{% endfor %}
			</table>
		</td>
	</tr>
{% endblock %}