Bonjour {{ nom }}
Votre annonce "{{ titre }}" a été refusée par un modérateur. La raison indiquée est :

{{ raison }}

Vous avez la possibilité d'éditer votre annonce pour être en adéquation avec les Condition d'Utilisation en cliquant sur le lien suivant :
{{ absolute_url(path('ad_show', { 'id': id, 'titre' : titre | urlEscape('url'), 'complexId'  : complexId })) }}

Bonne journée !

L'équipe PetitEcolo.fr