{% extends ':emails:email_base.html.twig' %}

{% block body %}
	<tr>
		<td bgcolor="#f0f0f0">
			<table bgcolor="#f0f0f0" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
					<td style="padding: 40px 40px 20px; text-align: center;">
						<h1 style="margin: 0; font-family: sans-serif; font-size: 24px; line-height: 125%; color: #f18c1b; font-weight: normal;">
							Votre annonce a bien été créée !
						</h1>
					</td>
				</tr>
				<tr>
					<td style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #232323; text-align: left;">
						<p style="margin: 0;margin-bottom:10px;">
							Bonjour {{ nom }}
						</p>
						<p style="margin: 0;">
							Votre annonce a bien été créée. Elle est maintenant en attente de modération et vous serez prévenu lors de sa mise en ligne.
						</p>
						<p style="margin: 0;margin-top:10px;">
							Très bonne journée de la part de l'équipe PetitEcolo.fr !
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{% endblock %}