Bonjour {{ nom_destinataire }}

Vous avez reçu un message de la part de {{ nom_expediteur }}, à propos de l'annonce '{{ annonce.titre }}' : {{ absolute_url(path('ad_show', {'id': annonce.id, 'titre': url_helper.urlEscape(annonce.titre)})) }} :

{{ message }}


Vous pouvez utiliser la fonction "répondre" de votre mail pour contacter cette personne.


Très bonne journée de la part de l'équipe PetitEcolo.fr !