Bonjour {{ nom }}
Votre annonce a été créée. Cependant vous n'avez pas confirmé sa création lors de la seconde étape.

Vous pouvez le faire via ce lien : {{ absolute_url(path('ad_confirme', {'id' : id, 'complexId' : complexId})) }}

Bonne journée !

L'équipe lePetitEcolo.fr