<script type="text/javascript">

    $("#{{ form.categorie.vars.id }}").remove();
    $("#categorieLi").append("<div class='inputContainer'>");
    $("#categorieLi .inputContainer").append("<input type='text' value='{% if categorieAnnonce is defined %}{{ categorieAnnonce }}{% endif %}' id='categorieInput' placeholder='{{ 'annonces.form.categorie_label'|trans }}' class='form-control categorieInput' onclick='toggleCategories()' readonly='readonly'/>");
    $("#categorieLi .inputContainer").append("<span class='cross' {% if form.categorie.vars.value =='' %} style='display:none'{% endif %}><i class='fa fa-times'></i></span>");
    $("#categorieLi").append("<input type='hidden' id='{{ form.categorie.vars.id }}' name='{{ form.categorie.vars.full_name }}' value='{{ form.categorie.vars.value }}'/>");


    $("#categorieLi").append("<div id='categorieList' style='display:none'>");

    col1Div = $("<div class='col-md-4'></div>");
	{% set grp1 = [categories[0], categories[1], categories[2]] %}
    col2Div = $("<div class='col-md-4'></div>");
	{% set grp2 = [categories[3], categories[4], categories[5], categories[6]] %}
    col3Div = $("<div class='col-md-4'></div>");
	{% set grp3 = [categories[7], categories[8], categories[9], categories[10], categories[11]] %}

	{% for categorie in grp1 %}
		container = $("<div class='group'></div>");
		container.append("<span class='parent' data-value='{{ categorie.code }}' data-label='{{ categorie.nom }}'>{{ categorie.nom }}</span>");
		{% for enfants in categorie.enfants %}
			container.append("<span data-value='{{ enfants.code }}' data-label='{{ enfants.nom }}'>{{ enfants.nom }}</span>");
		{% endfor %}
    	col1Div.append(container);
	{% endfor %}

	{% for categorie in grp2 %}
		container = $("<div class='group'></div>");
		container.append("<span class='parent' data-value='{{ categorie.code }}' data-label='{{ categorie.nom }}'>{{ categorie.nom }}</span>");
		{% for enfants in categorie.enfants %}
			container.append("<span data-value='{{ enfants.code }}' data-label='{{ enfants.nom }}'>{{ enfants.nom }}</span>");
		{% endfor %}
		col2Div.append(container);
	{% endfor %}

	{% for categorie in grp3 %}
		container = $("<div class='group'></div>");
		container.append("<span class='parent' data-value='{{ categorie.code }}' data-label='{{ categorie.nom }}'>{{ categorie.nom }}</span>");
		{% for enfants in categorie.enfants %}
			container.append("<span data-value='{{ enfants.code }}' data-label='{{ enfants.nom }}'>{{ enfants.nom }}</span>");
		{% endfor %}
		col3Div.append(container);
	{% endfor %}

    $("#categorieList").append(col1Div);
    $("#categorieList").append(col2Div);
    $("#categorieList").append(col3Div);

    $("#categorieList span").click(function(e)
    {
        $("#{{ form.categorie.vars.id }}").val($(this).attr('data-value')).trigger('change');
        $("#categorieInput").val($(this).attr('data-label'));
        $("#categorieLi .cross").show();
        toggleCategories();
        e.stopPropagation();
        e.preventDefault();
        // if ($(window).width() < 1200)
		// {
		    // On remonte à l'input catégorie pour éviter que l'utilisateur ait à remonter à la main si il est descendu dans la liste des catégories
        	$('html, body').animate({
                scrollTop: $("#categorieInput").offset().top
			});
		// }
    });

    $("#categorieLi .cross").click(function(){
        $("#{{ form.categorie.vars.id }}, #categorieInput").val('').trigger('change');
        $(this).hide();
    });

    function toggleCategories(e)
    {
        if (e)
        {
            e.stopPropagation();
            e.preventDefault();
        }
        $("#categorieList").toggle();
    }


    // GESTION DES CHAMPS EN FONCTION DES CATEGORIES
	$(document).ready(function(){
		$("#{{ form.categorie.vars.id }}").on("change", function () {
			categorie = $(this).val();
			showHideFields(categorie);
		})

		showHideFields($("#categorie").val());
	})

	function showHideFields(categorie)
	{
		// TODO : Gérer les champs supplémentaires selon les catégories.

		// Pour l'instant on gère les champs supplémentaires à la main.
		// On fera une évol pour gérer ça automatiquement, liés aux catégories

		$(".champCategorie").hide();

		// On réinitialise les valeurs des champs pour éviter qu'ils ne soient pris en compte par la recherche alors qu'ils ne sont pas affichés
        $(".champCategorie input, .champCategorie select").val('');
        $(".champCategorie checkbox").prop('checked', false);

        $(".champPrix").show();
		$(".champsSupplementaires").hide();

		if (categorie == 'enfants_vetements')
		{
            showElement(".champsVetementsEnfants");
		}

        if (categorie == 'art_vetements' || categorie == 'maison_vetements')
        {
            showElement(".champsVetements");
        }

        if (categorie == 'emploi_emploi')
        {
            showElement(".champsEmploi");
            $(".champPrix").hide();
        }
        if (categorie == 'emploi_stage')
        {
            showElement(".champsStage");
            $(".champPrix").hide();
        }

        if (categorie.substr(0,10) == 'immobilier') // Toutes les sous-catégories immobilier et la catégorie parente
        {
            showElement(".champsImmobilier");
        }

        if (categorie == 'immobilier_location' || categorie == 'immobilier_collocation' )
        {
            showElement(".champsLocation");
        }

        if (categorie == 'immobilier_vacances' )
        {
            showElement(".champsLocationVacances");
            $(".champsImmobilier").hide();
        }

        if (categorie.substr(0,9) == 'vehicules') // Toutes les sous-catégories vehicules et la catégorie parente
        {
            showElement(".champsVehicules");
        }
	}

	function showElement(selecteur)
	{
        $(".champsSupplementaires").show();
        $(selecteur).show();
	}

</script>