<!DOCTYPE html>
<html lang="fr" prefix="og:http://ogp.me/ns#">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="{{ 'general.metas.description'|trans }}">
    <meta name="author" content="Le Coin Ecolo">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% block title %}Petit Ecolo - Le site de petites annonces écolos pour un avenir durable !{% endblock %}</title>

	{% block stylesheets %}
		{% stylesheets 'css/*.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
		{% endstylesheets %}

		{% stylesheets 'scss/*.scss' filter="scssphp" output="css/app.css" %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
		{% endstylesheets %}

	{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <script type="text/javascript">
        var messageAideJune = "{{ 'annonces.form.help.monnaie_g1'|trans }}";
        var messageAideDUJune = "{{ 'annonces.form.help.monnaie_du_g1'|trans }}";
    </script>

	{% block javascripts %}
        {% javascripts 'js/header/*' filter="?jsqueeze" output="js/app.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

		{% javascripts 'js/async/*' filter="?jsqueeze" output="js/app_async.js" %}
		<script src="{{ asset_url }}" async></script>
		{% endjavascripts %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ asset('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')}}"></script>
        <script src="{{ asset('https://oss.maxcdn.com/respond/1.4.2/respond.min.js')}}"></script>
         <![endif]-->

	{% endblock %}

    {% block specific_js %}

    {% endblock %}


    <meta property="og:site_name" content="PetitEcolo.fr" />
    {% block content_metas %}
        <meta property="og:title" content="PetitEcolo.fr - Le site de petites annonces écolos pour un avenir durable !" />
        <meta property="og:url" content="{{ absolute_url(path('homepage')) }}" />
        <meta property="og:description" content="{{ 'general.metas.description'|trans }}" />
        <meta property="og:image" content="{{ absolute_url(asset('images/logo_opengraph_big.png')) }}" />

    {% endblock %}

</head>
<body>
    <!-- Navigation Menu -->
    <div class="clearfix"></div>

    <noscript>
        <div class="noscript">
            <p><i class="fa fa-exclamation-triangle"></i> Cette version du site n'est pas prévue pour fonctionner sans javascript. Merci de réactiver le javascript en attendant une mise à jour de PetitEcolo.fr <i class="fa fa-exclamation-triangle"></i></p>
        </div>

    </noscript>

    {# MESSAGE POUR LES COOKIES #}
    <div class="annonce_message cookie">
        <span class="remove"><i class="fa fa-times-circle"></i></span>
		{{ "general.cookie_message"| trans}}<br/>
        <a href="{{ path('page_statique', {'page': 'cookies'}) }}" target="_blank">{{ 'general.cookie_lien'|trans }}</a>
    </div>
    <script type="text/javascript">
        $(".annonce_message.cookie .remove").click(function(){
            $(".annonce_message.cookie ").slideUp();
            createCookie('message_cookie', 'true', 3600);
        });

        $(document).ready(function(){
            if (readCookie('message_cookie') === null)
            {
                $(".annonce_message.cookie").show();
            }

        })
    </script>


    {% if annonce_message %}
        <div class="annonce_message accueil">
            <span class="remove"><i class="fa fa-times-circle"></i></span>
            {#{{ "general.annonce_message"|trans |raw }}#}
            {{ annonce_message|raw }}
        </div>
        <script type="text/javascript">
            $(".annonce_message.accueil .remove").click(function(){
                $(".annonce_message.accueil").slideUp();
                createCookie('{{ nom_cookie_annonce }}', 'true', 3600);
            });

            $(document).ready(function(){
                if (readCookie('{{ nom_cookie_annonce }}') === null)
                {
                    $(".annonce_message.accueil").show();
                }
            })
        </script>
    {% endif %}

    <!-- menu start -->
    <nav id="menu-1" class="mega-menu">
        <!-- menu list items container -->
        <section class="menu-list-items">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <!-- menu logo -->
                        <ul class="menu-logo">
                            <li>
                                <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" height="56px"> </a>
                            </li>
                        </ul>
                        <!-- menu links -->
                        <a class="bt-menu-trigger">
                            <img src="{{ asset("images/menu.png") }}"/>
                        </a>
                        <ul class="menu-links">
                            <!-- active class -->
                            {#<li>#}
                                {#<a href="{{ path('homepage') }}"> {{ 'general.menu.accueil'|trans }}</a>#}
                            {#</li>#}
                            <li>
                                <a href="{{ path('ad_index') }}"> {{ 'general.menu.recherche'|trans }}</a>
                            </li>
                            {#{% if app.user %}#}
                            {#<li><a href="{{ path('annonces_favorites') }}"><i class="fa fa-heart-o" aria-hidden="true"></i>{{ 'general.header.annonces_favorites' | trans }}  </a></li>#}
                            {#{% endif %}#}
                            <li><a href="{{ path('contact') }}">{{ 'general.menu.contact'|trans }}</a></li>
                            <li><a href="{{path('page_statique', {'page' : 'soutenez-nous'})  }}">{{ 'general.menu.soutien'|trans }}</a></li>
                        </ul>
                        <ul class="menu-search-bar">
                            <li>
                                <a href="{{ path('ad_new') }}" class="btn btn1"><i class="fa fa-plus" aria-hidden="true"></i>{{ 'general.nouvelle_annonce.titre_long'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </nav>
    <!-- menu end -->

    {# MENU CONNEXION / PROFILE #}
    <div id="menu_connexion" class="ferme">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="icone"><img src="{{ asset("images/user.png") }}"/></a>
            <div>
                <a href="{{ path('fos_user_profile_show') }}">{{ 'general.header.mon_compte' | trans }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('sonata_admin_dashboard') }}">{{ 'general.header.admin' | trans }}</a>
                {% endif %}
                <a href="{{ path('fos_user_security_logout') }}">{{ 'general.header.deconnexion' | trans }}</a>
            </div>
        {% else %}
            <a class="icone"><img src="{{ asset("images/connexion.png") }}"/></a>
            <div>
                <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
                <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
            </div>
        {% endif %}
    </div>

<!-- Navigation Menu End -->
<!-- =-=-=-=-=-=-= Light Header End  =-=-=-=-=-=-= -->
<!-- Home Banner 1 -->
    {#{% if app.request.query.get("dump")%}#}
        {#{{ dump() }}#}
    {#{% endif %}#}
{% block body %}

{% endblock %}
    <!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
    <footer>
        <!-- Copyrights -->
        <div class="copyrights">
            <div class="copyright-content">
                <div class="copyright">
                    <p>© 2018 <strong>Petit Ecolo</strong>, Tous droits réservés.</p>
                </div>
                <div class="footer-links">
                    <ul class="listnone">
                        <li><a href="{{ path('page_statique', {'page' : 'respect-donnees-personnelles'}) }}">{{ 'general.menu.donnees_personnelles'|trans }}</a></li>
                        <li><a href="{{ path('page_statique', {'page' : 'mentions'}) }}">{{ 'general.menu.mentions'|trans }}</a></li>
                        <li><a href="{{ path('page_statique', {'page' : 'cgu'}) }}">{{ 'general.menu.cgu'|trans }}</a></li>
                        <li><a href="{{ path('page_statique', {'page' : 'aide'}) }}">{{ 'general.menu.aide'|trans }}</a></li>
                        <li><a href="{{ path('page_statique', {'page' : 'cookies'}) }}">{{ 'general.menu.cookies'|trans }}</a></li>
                        <li><a href="{{ path('page_statique', {'page' : 'pub'}) }}">{{ 'general.menu.pub'|trans }}</a></li>
                        <li><a target="_blank" href="https://framagit.org/wyllyjon/petit-ecolo-open-source">{{ 'general.menu.git'|trans }}</a></li>
                        <li><a target="_blank" href="https://framasphere.org/people/1ead7690157f01363ed82a0000053625"><img title="{{ 'general.menu.diaspora_title'|trans }}" src="{{ asset('images/diaspora.svg') }}" width="18"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- =-=-=-=-=-=-= FOOTER END =-=-=-=-=-=-= -->
<!-- Main Content Area End -->
<!-- Post Ad Sticky -->
<a href="{{ path('ad_new') }}" class="sticky-post-button hidden-xs" title="{{ 'general.nouvelle_annonce.titre_long'|trans }}">
         <span class="sell-icons">
         <i class="fa fa-plus"></i>
         </span>
    <h4>{{ 'general.nouvelle_annonce.titre_court'|trans }}</h4>
</a>
<!-- Back To Top -->
<a href="#0" class="cd-top">Top</a>

{% block body_javascripts %}
	{% javascripts 'js/endBody/*' filter="?jsqueeze" output="js/app2.js" %}
        <script src="{{ asset_url }}"></script>
	{% endjavascripts %}

    {% block other_js %}{% endblock %}

{% endblock %}
</body>
</html>

