{% extends 'base.html.twig' %}

{% block specific_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".dernieres_annonces .short-description h3 a").trunk8({lines:2});
        })
    </script>
{% endblock %}

{% block body %}
<section class="main-search parallex ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-search-title">
                    <img class="logo" src="{{ asset('images/logo_block.png')  }}"/>
                    <p class="title">{{ 'general.main_title' | trans }}</p>
                </div>

				{% include ':form:searchForm.html.twig' %}
            </div>
        </div>
    </div>

</section>
<!-- Home Banner 1 End -->
<!-- Main Content Area -->
<div class="main-content-area clearfix">
    <!-- =-=-=-=-=-=-= Popular Categories =-=-=-=-=-=-= -->
    <section class="custom-padding">
        <!-- Main Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Heading Area -->
                <div class="heading-panel">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                        <!-- Main Title -->
                        <h1><span class="heading-color"> {{ 'index.titre_pourquoi_couleur'|trans }}</span> {{ 'index.titre_pourquoi'|trans }}</h1>
                        <!-- Short Description -->
                        <p>{{ 'index.description_pourquoi_1'|trans|raw }}</p>
                        <p>{{ 'index.description_pourquoi_2'|trans|raw }}</p>
{#                        <p class="bientot">{{ 'index.bientot_professionnels'|trans|raw }}</p>#}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Main Container End -->
    </section>

    <!-- =-=-=-=-=-=-= Dernières annonces =-=-=-=-=-=-= -->

    {% if dernieres_annonces | length > 0 %}
    <section class="custom-padding grey dernieres_annonces">
        <div class="container">
            <div class="row">
                <div class="heading-panel">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                        <h1>{{'index.titre_dernieres_annonces'|trans}} <span class="heading-color"> {{'index.titre_dernieres_annonces_color'|trans}}</span></h1>
                    </div>

                </div>

                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="row">
                        {% for annonce in dernieres_annonces %}
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="category-grid-box">
                                    <div class="category-grid-img">
                                        {% if annonce.photos != '' %}
                                            <a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') }) }}">
                                                <img class="img-responsive" src="{{ asset(annonce.photos|split(';')[0]) | imagine_filter('annonce_liste') }}"/>
                                            </a>
                                            <div class="total-images"><strong><i class="fa fa-image"></i> {{ annonce.photos |split(';') | length }}</strong> </div>
                                        {% else %}
                                            <a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') }) }}">
                                                <img class="img-responsive" src="{{ asset('images/annonces/annonce_defaut.jpg') }}"/>
                                            </a>
                                        {% endif %}

                                        {% if annonce.packUrgent %}
                                            <span class="ad-status">{{ 'annonces.view.urgent_label'|trans }}</span>
                                        {% endif %}
                                    </div>

                                    <div class="short-description">
                                        <div class="category-title">
                                            <span>{{ annonce.categorie.nomComplet }}</span>
                                        </div>
                                        <h3>
                                            <a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') }) }}">
                                                {{ annonce.titre }}
                                            </a>
                                        </h3>
                                        <div class="price">
                                            {% if annonce.remuneration %}
                                                {{ annonce.remuneration }}  {% if annonce.monnaie == 'g1' %}Ğ1{% elseif annonce.monnaie == 'dug1'%}DU<sub>Ğ1</sub>{% else %}€{% endif %}
                                            {% elseif annonce.prix %}
                                                {{ annonce.prix }}  {% if annonce.monnaie == 'g1' %}Ğ1{% elseif annonce.monnaie == 'dug1'%}DU<sub>Ğ1</sub>{% else %}€{% endif %}
                                            {% else %}
                                                {{ 'annonces.view.pas_prix'|trans }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="ad-info clearfix">
                                        <ul>

                                        {% if annonce.anonymousUser %}
                                            {% if annonce.anonymousUser.adresse.ville %}
                                                <li class="lieu"> <i class="fa fa-map-marker"></i>{{ annonce.anonymousUser.adresse.ville }}
                                                    {% if annonce.anonymousUser.adresse.region == "La Réunion" or  annonce.anonymousUser.adresse.region == "Martinique" %}
                                                        ({{ annonce.anonymousUser.adresse.region }})
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% else %}
                                            {% if annonce.user.adresse.ville %}
                                                <li> <i class="fa fa-map-marker"></i>{{ annonce.user.adresse.ville }}</li>
                                            {% endif %}
                                        {% endif %}

                                        <li class="date"> <i class="fa fa-clock-o"></i>
                                            {{ annonce.dateModification|date('d') }}
                                            {{ ('annonces.list.date.mois' ~ annonce.dateModification|date('m')) | trans}}
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="goToLastPage">
                        <a href="{{ path('ad_last', { 'page': 2}) }}" class="btn btn1">{{ 'index.lien_page_dernieres_annonces'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endif %}

	{% endblock %}
