{% extends sonata_block.templates.block_base %}


{% block block %}
	<div class="small-box {{ css }}">
		<div class="inner">
			<h3>{{ nombre }}</h3>
			<p>{{ texte | trans }}</p>
		</div>
		<div class="icon">
			<i class="{{ icon }}"></i>
		</div>
		{% if footerPath %}
		<a href="{{ path(footerPath) }}" class="small-box-footer">Liste <i class="fa fa-arrow-circle-right"></i></a>
		{% endif %}
	</div>
{% endblock %}