{% block _photos_widget %}
{#{% block bnbc_ajax_file_widget %}#}
    {% spaceless %}

    <div id="{{ id }}_bnbc_ajax_file_widget" class="bnbc-ajax-file-widget">
        {{ form_errors(form) }}
		{%- set type = type|default('hidden') -%}
		{{ block('form_widget_simple') }}

        {#{{ dump() }}#}
        {#{% macro createHiddenInputFormData(id, datas, name) %}#}
            {#{% if datas|length %}#}
                {#{% for subname, value in datas %}#}
                    {# Si valeur null on n'affiche pas le champs afin de prendre la valeur par défaut #}
                    {#{% if value is not null %}                      #}
                        {#{% if name == '' %}#}
                        {#{% set varName = subname %}#}
                        {#{% else %}#}
                        {#{% set varName = name ~ '[' ~ subname ~ ']' %}#}
                        {#{% endif %}#}
                        {#{% if value is iterable %}#}
                            {#{{ _self.createHiddenInputFormData(id, value, varName) }}#}
                        {#{% else %}#}
                            {#<input type="hidden" value="{{ value }}" name="{{ id }}_{{ varName }}" id="{{ id }}_{{ varName|replace({'[': '-'})|replace({']': '-'}) }}" />#}
                        {#{% endif %}#}
                    {#{% endif %} #}
                {#{% endfor %}        #}
            {#{% endif %}        #}
        {#{% endmacro createHiddenInputFormData %}        #}

        {#{% macro pushFormData(id, datas, name) %}       #}
            {#{% if datas|length %}#}
                {#{% for subname, value in datas %}   #}
                    {#{% if value is not null %}                    #}
                        {#{% if name == '' %}#}
                        {#{% set varName = subname %}#}
                        {#{% else %}#}
                        {#{% set varName = name ~ '[' ~ subname ~ ']' %}#}
                        {#{% endif %}#}
                        {#{% if value is iterable %}#}
                            {#{{ _self.pushFormData(id, value, varName) }}#}
                        {#{% else %}                                                    #}
                            {#{{ id }}_formData.push({'name': '{{ varName }}', value: '{{ value }}'});#}
                        {#{% endif %}#}
                    {#{% endif %}#}
                {#{% endfor %}        #}
            {#{% endif %}        #}
        {#{% endmacro pushFormData %}#}

        {% import _self as macros %}
        {#{{ macros.createHiddenInputFormData(id, form.vars.formData, '') }}#}

        <div id="{{ id }}_button_replace" class="bnbc-ajax-file-button-replace">
            {% set type = 'file' %}
            {% set original_id = id %}
            {% set id = 'bnbc_ajax_file_' ~ original_id %}
            {% set full_name = 'bnbc_ajax_file_' ~ full_name %}

            {#{% if form.vars.multiple %}#}
            {#{%  set attr = {'multiple': form.vars.multiple} %}#}
            {#{% endif %}#}
            {#{% set required = form.vars.required %}#}
            {#<label class="bnbc-ajax-file-button-replace-label">#}
                {#<input id="bnbc_ajax_file_photos" name="photos[bnbc_ajax_file_photos][]" multiple="multiple" type="file">#}
                {#{{ form_widget(form.bnbc_ajax_file_photos, {'id' : 'bnbc_ajax_file_photos'}) }}#}
                {#{{ block('form_widget_simple') }}#}
                {#{% if form.vars.label %}#}
                {#<span class="bnbc-ajax-file-button-replace-label-text">{{ form.vars.label }}</span>#}
                {#{% endif %}#}
            {#</label>#}
        </div>
        <div id="{{ id }}_dropzone" class="bnbc-ajax-file-dropzone">
            <span class="text">{{ 'annonces.form.photos.dropzone_text'|trans }}</span>
        </div>

        <script type="text/javascript">

            {{ id }}_formData = []; 
            {#{{ macros.pushFormData(id, form.vars.formData, '') }}     #}

            {# Création de la liste des fichiers #}
            var {{ id }}CreateList = function(){
                var list = $('#{{ id }}_list');
                if(!list.length){
                    list = $('<ul/>').attr('id', '{{ id }}_list').addClass('bnbc-ajax-file-list');
                    $('#{{ id }}_dropzone').prepend(list);
                }
                return list;
            }

			{# Création de la liste d'erreurs #}
            var {{ id }}CreateErrorList = function(){
                var list = $('#{{ id }}_error_list');
                if(!list.length){
                    list = $('<ul/>').attr('id', '{{ id }}_error_list').addClass('bnbc-ajax-file-error-list message bg-danger');
                    $('#{{ original_id }}_bnbc_ajax_file_widget').append(list);
                }
                return list;
            }

            {# Création d'un bouton d'upload #}
            var {{ id }}CreateManualSubmit = function(){
                var submit = $('#{{ id }}_manual_submit');
                if(!submit.length){
                    submit = $('<a/>').attr('id', '{{ id }}_manual_submit').addClass('bnbc-ajax-file-manual-submit').text('{% trans %}Upload files{% endtrans %}');
                    $('#{{ id }}_list').after(submit);
                    submit.click(function(){
                        $.each({{ id }}_add, function (key, data) {
                            data.submit();
                        });
                    });
                }
                return submit;
            }

            {# Création de la barre de progression #}
            {#{% if form.vars.progressBar == true %}#}
            {#var {{ id }}CreateProgressBar = function(){#}
                {#var progress = $('#{{ id }}_progress');#}
                {#if(!progress.length){#}
                    {#progress = $('<div/>').attr('id', '{{ id }}_progress').addClass('{{ form.vars.progressBarClass }}');#}
                    {#$('#{{ original_id }}_bnbc_ajax_file_widget').{{ form.vars.progressBarPosition }}(progress);#}
                {#}#}
                {#return progress;#}
            {#}#}
            {#{% endif %}#}

            {# Tableau pour contenir les fichiers ajoutés via le bouton parcourir, utilisé quand l'auto-upload est défini à false #}
            var {{ id }}_add = [];

            {# Tableau qui va contenir tous les champs d'upload afin de les executer à la fin #}
            if (typeof bnbc_ajax_file == 'undefined')
                bnbc_ajax_file = [];

            function getImagesList()
            {
                return {{ id }}CreateList();
            }

            // Fonction de callback configurée dans le fichier AjaxFileType appelée après un upload
            function verifNbImages()
            {
                nbImages = $("#{{ original_id }}").val().split(";").length;
                if (nbImages > 10)
                {
                    var errorlist = {{ id }}CreateErrorList();

                    if (errorlist.find(".10images").length === 0)
                    {
                        var li = $('<li/>').html('{{ 'annonces.form.photos.error_10_photos'|trans }}').addClass('error 10images');
                        errorlist.append(li);
                    }
                }
                {#else if (nbImages > 3)#}
                {#{#}
                {#    clearError(".10images", false);#}
                {#    var errorlist = {{ id }}CreateErrorList();#}

                {#    if (errorlist.find(".3images").length === 0) {#}
                {#        var li = $('<li/>').html('{{ 'annonces.form.photos.warning_3_photos'|trans }}').addClass('error 3images');#}
                {#        errorlist.append(li);#}
                {#    }#}
                {#}#}
                {#else#}
                {#{#}
                {#    clearError(".3images", true);#}
                {#}#}
            }

            function clearError(selector, remove)
            {
                var errorlist = $('#{{ id }}_error_list');
                errorlist.find(selector).remove();

                if (remove && (errorlist.find("li").length === 0))
                {
                    errorlist.remove();
                }
            }

            bnbc_ajax_file.push(function(){

                var id = '{{ id }}';
                var original_id = '{{ original_id }}';

                {# Si jamais on refresh la page on vide le champs caché original qui pourrait contenir des fichiers non existant sauf si on est dans le cas d'une édition et ou le champs aurait déjà une valeur qu'il faut garder #}         
                // if(!$('#' + id).attr('value'))
                //     $('#' + original_id).val('');

                {# Call fileupload plugin #}
                $('#' + id).fileupload({
                    url: '{{ path('ajaxupload_default_index') }}',
                    dataType: 'json',
                    formData: {{ id }}_formData,
                    paramName: 'bnbc_ajax_file_form[]',
                    {#{% if form.vars.dropZone %}#}
                    dropZone: ('#' + id + '_dropzone'),
                    {#{% endif %}#}
                    autoUpload: true,
                    {#{% if form.vars.autoUpload == false %}#}
                    {#add: function (e, data) {#}
                        {#var list = {{ id }}CreateList();#}
                        {#{{ id }}CreateManualSubmit();#}

                        {#var li = $('<li/>').text(data.files[0].name);#}
                        {#list.append(li);#}
                        {#{{ id }}_add.push(data);#}
                    {#},#}
                    {#{% endif %}#}
                    send: function()
                    {
                        $("#{{ id }}_dropzone").addClass("waiting");
                    },
                    fail: function(e, data)
                    {
                        console.dir(data);
                        $("#{{ id }}_dropzone").removeClass("waiting");
                        var errorlist = {{ id }}CreateErrorList();
                        var li = $('<li/>').html("{{ 'erreur.image_upload'  | trans }}").addClass('error');
                        errorlist.append(li)
                    },
                    {#progressall: function (e, data) {#}
                        {#var percent = parseInt(data.loaded / data.total * 100, 10);#}
                        {#{% if form.vars.progressBar == true %}#}
                        {#var progressBar = {{ id }}CreateProgressBar();                        #}
                        {#progressBar.css(#}
                            {#'width',#}
                            {#percent + '%'#}
                        {#).text(percent + '%');#}
                        {#{% endif %}#}

                        {#{% if form.vars.progressElement is not null %}#}
                        {#$('{{ form.vars.progressElement }}').attr('data-progress', percent);#}
                        {#{% endif %}#}

                        {#{% if form.vars.progressText is not null %}#}
                        {#$('{{ form.vars.progressText }}').text(percent + '%');#}
                        {#{% endif %}#}
                    {#},#}
                    done: function (e, data) {
                        $("#{{ id }}_dropzone").removeClass("waiting");

                        var list = {{ id }}CreateList();

                        {#{% if form.vars.multiple != true %}#}
                            {#$('#' + original_id).val('');#}
                            {#list.empty();#}
                        {#{% endif %}#}

                        $.each(data.result.bnbc_ajax_file_form, function (index, file) {
                            if(file.error){
                            var errorlist = {{ id }}CreateErrorList();
                                var li = $('<li/>').html('<b>' + file.name + ':</b> ' + file.error).addClass('error');
                                errorlist.append(li)
                            }
                            else {
                                var originalId = '#' + original_id;
                                var assetUrl="{{ asset("") }}";
                                $(originalId).val(bnbcAjaxFileSetValue($(originalId).val(), file.name, ';'));
                                var li = list.find('li:contains(' + file.name + ')');
                                if(!li.length){
                                    li = $('<li><img data-path="'+file.name+'" src="'+assetUrl+file.url+'" width="100"/><span class="remove"><i class="fa fa-times-circle"></i></span></li>');
                                    list.append(li);
                                }
                                else
                                    li.addClass('active');
                            }
                        });
                        {#{% if form.vars.callbackFunction %}#}
                        verifNbImages(data.result.bnbc_ajax_file_form);
                        {#{% endif %}#}
                    }
                });
            });
        </script>
    </div>
    {% endspaceless %}
{% endblock %}