{% form_theme form "form/customForm.html.twig" %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.type) }}
	<div class="pro" style="display:none;">
		{{ form_row(form.nomPro) }}
		{{ form_row(form.siren) }}
		{{ form_row(form.descriptionPro) }}
		{{ form_row(form.annuairePro) }}
		<hr/>
	</div>
    {{ form_widget(form) }}
    <div>
        <input class="btn btn1" type="submit" value="{{ 'security.registration.submit_button'|trans }}" />
    </div>
{{ form_end(form) }}
<script type="text/javascript">
	function togglePro(elem)
	{
	    if ($(elem).val() == 'pro')
		{
			$(".pro").show();
		}
		else
		{
            $(".pro").hide();
		}
	}
</script>
