{% extends sonata_block.templates.block_base %}


{% block block %}
	{% if erreur != "" %}
		{{ erreur }}
	{% else %}
		<div class="box box-primary">
			{% if settings.title %}
				<div class="box-header with-border">
					<h3 class="box-title">
						<i class="fa fa-file-o"></i> {{ settings.title | trans}}
					</h3>
				</div>
			{% endif %}

			<div class="box-body">
				{% if annonces|length > 0 %}
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th>Titre</th>
								<th>Date de création</th>
								<th>Actions</th>
							</tr>
							{% for annonce in annonces %}
								<tr>

								<td>
									<a
									   href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url'), 'complexId': annonce.complexId}) }}" target="_blank">
										{{ annonce.titre }}
									</a>
								</td>
								<td style="width:20%">
									{{ annonce.dateModification | date('d/m/Y') }}
								</td>
								<td style="width:30%">
										<a class="btn btn-success" href="{{ path('ad_valide', {'id':annonce.id}) }}">Accepter</a>
									<a class="btn btn-danger" href="javascript:;" onclick="$(this).next('.form_refuse').show()">Refuser</a>
									<form class="form_refuse" style="display: none;" action="{{ path('ad_refuse', {'id':annonce.id}) }}" method="POST">
										<label for="raison">Raison : </label>
										<textarea name="raison"></textarea>
										<input type="submit" value="Refuser"/>
									</form>
								</td>
								</tr>
							{% endfor %}
						</tbody>

					</table>
					<div class="sonata-customer-block-customer-container list-group row">

					</div>
				{% else %}
					<p>{{ 'admin.annonces.aucun_resultat'|trans }}</p>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock %}