{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Addresses list</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Userid</th>
                    <th>Address</th>
                    <th>Postal</th>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
                <tr>
                    <td><a href="{{ path('address_show', { 'id': address.id }) }}">{{ address.id }}</a></td>
                    <td>{{ address.userId }}</td>
                    <td>{{ address.address }}</td>
                    <td>{{ address.postal }}</td>
                    <td>{{ address.ville }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('address_show', { 'id': address.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('address_edit', { 'id': address.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('address_new') }}">Create a new address</a>
            </li>
        </ul>
    </div>
{% endblock %}
