{% extends ":user:profile_base.html.twig" %}

{% set isProfile = true %}

{% form_theme form "form/customForm.html.twig" %}

{% block centerContent %}
	<div class="profile-section profile-edit margin-bottom-20">
		{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
		{{ form_widget(form) }}
		<div>
			<input class="btn btn1" type="submit" value="{{ 'change_password.submit'|trans({},'FOSUserBundle') }}" />
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}