{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Aide</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray page-aide">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Aide
					</h3>
				</div>

				<ul class="liste">
					<li><a href="#connexion">Inscription / Connexion</a></li>
					<li><a href="#compte">Mon compte</a></li>
					<li><a href="#alerte">Créer une alerte</a></li>
					<li><a href="#remontees">Fonctionnement des remontées automatiques</a></li>
				</ul>

				<hr/>

				<h4 id="connexion"><b>Inscription / Connexion</b></h4>
				<img src="{{ asset('images/aide/connexion.png') }}" alt="ecran de connexion"/>
				<p>
					Pour toutes les opérations liées à l'inscription, la connexion ou au compte, vous utiliserez l'icône qui est en surbrillance sur l'image ci-contre. <br/>
					Pour afficher le menu, passez la souris au dessus de l'icône. <br/>
				</p>
				<p>
					Si <b>vous n'êtes pas connecté</b>, vous aurez la possibilité de :
				</p>
				<ul class="liste">
					<li>Vous inscrire</li>
					<li>Vous connecter</li>
				</ul>
				<p>
					Si <b>vous êtes connecté</b>, vous aurez la possibilité de :
				</p>
				<ul class="liste">
					<li>Accéder à votre compte</li>
					<li>Vous déconnecter</li>
				</ul>

				<hr/>

				<h4 id="compte"><b>Mon compte</b></h4>
				<img src="{{ asset('images/aide/compte.png') }}" alt="Mon compte"/>
				<p>
					Dans votre espace personnel, plusieurs pages sont disponibles :
				</p>
				<ul class="liste">
					<li><b>Mes infos : </b>l'ensemble de vos informations personnelles. Vous pouvez les éditer soit en cliquant sur l'icône du crayon sur fond vert, soit sur en partie centrale de la page en cliquant sur le bouton "Editer"</li>
					<li><b>Mes annonces": </b>l'ensemble de vos annonces sont visibles sur cette pages</li>
					<li><b>Mes annonces favorites : </b>l'ensemble des annonces que vous avez mises en favoris sont visibles sur cette pages</li>
					<li><b>Mes alertes : </b>les alertes sont configurables sur une page de recherche, pour recevoir les nouvelles annonces correspondant à cette recherche par mail. Sur cette page, vous pouvez voir toutes vos alertes.</li>
					<li><b>Supprimer mon compte : </b>permet la suppression de votre compte. Attention, cette action supprime également toutes vos annonces et est irréversible.</li>
				</ul>

				<hr/>


				<h4 id="alerte"><b>Créer une alerte</b></h4>
				<img src="{{ asset('images/aide/alerte.png') }}" alt="Mon compte"/>
				<p>
					Lors d'une recherche, vous avez la possiblité de créer une alerte pour être informé des nouvelles annonces correspondantes à cette recherche.<br/><br/>
					Pour cela, cliquez sur le lien "Créez une alerte pour cette recherche", se trouvant au dessus des résultats, ce qui va faire apparaître un formulaire.<br/><br/>
					Avec ce formulaire, vous pourrez configurer le nom de votre alerte ainsi que la fréquence de réception des mails (tous les jours ou toutes les semaines).<br/>
				</p>

				<hr/>

				<h4 id="remontees"><b>Fonctionnement des remontées automatiques</b></h4>
				<p>
					Les remontées automatiques s’exécutent soit tous les jours, soit toutes les semaines selon l’option choisie.<br/>
					Pour les remontées à la semaine, c’est au jour de l'enregistrement de l'annonce.
				</p>
				<p>
					Plusieurs cas :
					<ul class="liste">

					<li>On prend l’option lors de la création de l’annonce : la remontée commencera le jour / semaine suivant la création.</li>
					<li>On prend l’option lors d’une édition de l’annonce : la remontée s’exécutera le jour / semaine suivant l’édition (par exemple, vous avez créé l’annonce un mardi et vous l’avez modifiée pour prendre l’option un jeudi, donc, si la remontée est hebdomadaire, elle se fera tous les jeudis).</li>
					</ul>
				</p>
			</div>
		</div>
	</section>
{% endblock %}