{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Conditions générales</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-5 col-xs-12">
					<div class="header-page">
						<h1>Conditions générale d'utilisation</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Conditions générales d'utilisation
					</h3>
				</div>

				<h4><b>1. Définitions</b></h4>
				<p>
					<ul class="liste">
						<li><b>Utilisateur</b> : toute personne utilisant les services du Site PetitEcolo.fr</li>
						<li><b>Annonceur</b> : toute personne déposant une annonce sur le Site PetitEcolo.fr</li>
						<li><b>Professionnel</b> : toute personne morale, établie en France (inclus les DOM à l'exclusion de Mayotte et des COM) déposant, exclusivement à des fins professionnelles, des Annonces à partir du Site. Peuvent être assimilées à une activité professionnelle les activités suivantes :
							<ul class="liste">
								<li>revendre des objets achetés à cette fin et non pour un usage personnel,</li>
								<li>vendre des objets créés par l'Annonceur,</li>
								<li>vendre régulièrement un volume important d'objets,</li>
								<li>les ventes permettant de générer des bénéfices et de dégager un revenu substantiel.</li>
							</ul>
						</li>
						<li><b>Compte Particulier ou Professionnel</b> : espace gratuit sur le Site où l'Annonceur peut gérer ses données et ses annonces</li>
					</ul>
				</p>

				<h4><b>2. Objet</b></h4>
				<p>
					Les CGU ont pour objet de déterminer les conditions d'utilisation du Site PetitEcolo.fr et ses services mis à disposition des Utilisateurs et des Annonceurs.<br/>
					Tout Annonceur déposant des Annonces sur le Site déclare avoir pris connaissance des présentes CGU et en accepte expressément les termes.<br/>
					Les Utilisateurs et les Annonceurs s'engagent à respecter scrupuleusement et intégralement les présentes CGU.<br/>
				</p>

				<h4><b>3. Généralités</b></h4>
				<p>
					Tout Utilisateur – tout Annonceur déclare être informé qu’il devra, pour accéder au Service petitEcolo.fr, disposer d’un accès à l’Internet souscrit auprès du fournisseur de son choix, dont le coût est à sa charge, et reconnaît que :
				</p>
				<ul class="liste">

					<li>La fiabilité des transmissions est aléatoire en raison, notamment, du caractère hétérogène des infrastructures et réseaux sur lesquelles elles circulent et que, en particulier, des pannes ou saturations peuvent intervenir ;</li>
					<li>Il appartient à l’Annonceur de prendre toute mesure qu’il jugera appropriée pour assurer la sécurité de son équipement et de ses propres données, logiciels ou autres, notamment contre la contamination par tout virus et/ou de tentative d’intrusion dont il pourrait être victime ;</li>
					<li>Tout équipement connecté au Site Internet est et reste sous l’entière responsabilité de l’Annonceur, la responsabilité de PetitEcolo.fr ne pourra pas être recherchée pour tout dommage direct ou indirect qui pourrait subvenir du fait de leur connexion au Site Internet.</li>
				</ul>
				<p>
					L’Annonceur s’engage, le cas échéant, à respecter et à maintenir la confidentialité des Identifiants de connexion à son Compte Personnel ou Compte Pro et reconnaît expressément que toute connexion à son Compte Personnel ou Compte Pro, ainsi que toute transmission de données depuis son Compte Personnel ou Compte Pro sera réputée avoir été effectuée par l’Annonceur.
					<br/>
					Toute perte, détournement ou utilisation des Identifiants de connexion et leurs éventuelles conséquences relèvent de la seule et entière responsabilité de l’Annonceur.
					<br/>
					L'Annonceur est informé et accepte que pour des raisons d'ordre technique, son Annonce ne sera pas diffusée instantanément après son dépôt sur le Site.
					<br/>
					L'Annonceur est informé qu'en publiant son Annonce sur le Site, celle-ci est susceptible d'être partagée par tout Utilisateur et/ou tout Annonceur.
					<br/>
					Toute Annonce publiée sera diffusée sur le Site.
				</p>

				<h4><b>4. Professionnels</b></h4>
				<p>
					Tout Annonceur professionnel doit impérativement être titulaire d'un « Compte Professionnel » pour déposer et gérer sa ou ses Annonces. Tout manquement à cette règle pourra conduire à la suppression de toute annonce de l'Annonceur ainsi que la suppression de son compte, sans préavis ni information ou notification préalable, ni indemnité ni droit à remboursement.
				</p>

				<h4><b>5. Modération</b></h4>
				<p>
					PetitEcolo.fr se réserve le droit de supprimer, sans préavis ni indemnité ni droit à remboursement, toute Annonce qui ne serait pas conforme aux règles de publication du service et/ou qui serait susceptible de porter atteinte aux droits d'un tiers.
					<br/>
					Il est permis à tout Utilisateur de signaler un contenu abusif à partir du Site, soit en cliquant sur le bouton "Signaler" disponible sur la page du contenu ou via le formulaire de la page de <a href="{{ path('contact') }}">Contact</a>.
				</p>

				<h4><b>6. Propriété intellectuelle</b></h4>
				<p>
					Toute reproduction totale ou partielle de la marque et/ou logos PetitEcolo.fr sans l'autorisation préalable et écrite de PetitEcolo.fr est interdite.
				</p>
				<p>
					Le contenu des Annonces déposées appartient aux Annonceurs, néanmoins, en déposant des Annonces sur le Site, l’Annonceur concède :
					<ul class="liste">
					<li>à PetitEcolo.fr le droit d’exploitation non exclusif, transférable, sous licenciable, à titre gracieux, pour le monde entier sur l’ensemble du contenu des Annonces et notamment sur les photographies, textes, vidéos, illustrations, marques, logos, titres (ci-après le « Contenu »), au fur et à mesure de leur publication sur le Site ainsi qu’une licence sur l’ensemble des droits de propriété intellectuelle afférant au Contenu et notamment sur les droits d’auteurs sur les éléments utilisés dans son Annonce, tels que les photographies, textes, vidéos, dessins, illustrations, éléments sonores, et ce pour toute la durée légale de ses droits de propriété intellectuelle et pour le monde entier.
						<br/>
						Les droits ainsi concédés incluent le droit de reproduire, représenter, diffuser, adapter, modifier, réaliser une œuvre dérivée, traduire tout ou partie du Contenu par tous procédés, sous quelque forme que ce soit et sur tous supports (numérique, imprimé…) connus ou inconnus à ce jour, dans le cadre du service PetitEcolo.fr, et ce à des fins commerciales ou non et notamment publicitaires, ainsi que dans le cadre d’une diffusion sur les réseaux sociaux sur lesquels PetitEcolo.fr est présent.
						<br/>
						En particulier, les photographies des Annonces pourront être reproduites et intégrées dans des formats publicitaires diffusés sur le Site, uniquement en lien avec l’Annonce déposée.
						<br/>
						Au titre de cette licence, PetitEcolo.fr, sans que cela ne crée à sa charge une obligation d’agir, est en droit de s’opposer à la reproduction et l’exploitation par des tiers non autorisés des Annonces diffusées sur le Site et de leur Contenu.
					</li>
					<li>aux Utilisateurs, le droit non exclusif d’accéder au Contenu via le Service PetitEcolo.fr et d’utiliser et de représenter le Contenu dans la mesure autorisée par les fonctionnalités du Service, et ce pour le monde entier.</li>
					</ul>

				</p>


				<h4><b>7. Modification des Services et des CGU</b></h4>
				<p>
					PetitEcolo.fr se réserve la possibilité de modifier, en tout ou partie, les CGU et les Services, afin de les adapter aux évolutions de son exploitation et/ou à l'évolution de la législation.<br/>
					Les Utilisateurs et les Annonceurs sont invités à consulter régulièrement les présentes CGU afin de prendre connaissance de changements éventuels effectués. L'Utilisation du Site par les Utilisateurs et les Annonceurs constitue l'acceptation par ces derniers des modifications apportées aux CGU.
				</p>

				<h4><b>8. Responsabilité</b></h4>
				<p>
					<b>Engagements de l'Utilisateur / Annonceur : </b>
					<ul class="liste">
						<li>L'Annonceur garantit détenir tous les droits (notamment des droits de propriété intellectuelle) ou avoir obtenu toutes les autorisations nécessaires à la publication de son Annonce.</li>
						<li>L'Annonceur garantit que l'Annonce ne contrevient à aucune réglementation en vigueur (notamment relatives à la publicité, à la concurrence, à la promotion des ventes, à l'utilisation de la langue française, à l'utilisation de données personnelles, à la prohibition de la commercialisation de certains biens ou services), ni aucun droit de tiers (notamment aux droits de propriété intellectuelle et aux droits de la personnalité) et qu'il ne comporte aucun message diffamatoire ou dommageable à l'égard de tiers.</li>
						<li>L'Annonceur s'engage, en cas d'indisponibilité d'un bien, à procéder au retrait de l'Annonce du Service PetitEcolo.fr dans les plus brefs délais.</li>
						<li>L'Utilisateur et Annonceur sont seuls responsables des transactions réalisées par le biais de PetitEcolo.fr et de leurs conséquences.</li>
					</ul>
				</p>
				<p>
					<b>Responsabilité de PetitEcolo.fr : </b><br/>
					En sa qualité d'hébergeur, PetitEcolo.fr est soumise à un régime de responsabilité atténuée prévu aux articles 6.I.2. et suivants de la loi nº2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
					<br/>
					PetitEcolo.fr ne saurait donc en aucun cas être tenue responsable du contenu des Annonces publiées par les Annonceurs et ne donne aucune garantie, expresse ou implicite, à cet égard.
					<br/>
					PetitEcolo.fr est un tiers aux correspondances et relations entre les Annonceurs et les Utilisateurs, et exclut de ce fait toute responsabilité à cet égard.
				</p>
				<p>
					PetitEcolo.fr s'engage à mettre en œuvre tous les moyens nécessaires afin d'assurer au mieux la fourniture du Service PetitEcolo.fr aux Utilisateurs et aux Annonceurs.
					<br/>
					Toutefois, PetitEcolo.fr décline toute responsabilité en cas de :
					<ul class="liste">

					<li>interruptions, de pannes, de modifications et de dysfonctionnement du Service PetitEcolo.fr quel que soit le support de communication utilisé et ce quelles qu'en soient l'origine et la provenance,</li>
					<li>la perte de données ou d'informations stockées par PetitEcolo.fr . Il incombe aux Annonceurs de prendre toutes précautions nécessaires pour conserver les Annonces qu'ils publient via le Service PetitEcolo.fr;</li>
					<li>impossibilité momentanée d'accès au Site en raison de problèmes techniques et ce quelles qu'en soient l'origine et la provenance,</li>
					<li>dommages directs ou indirects causés à l'Utilisateur ou l'Annonceur, quelle qu'en soit la nature, résultant du contenu des Annonces et/ou de l'accès, de la gestion, de l'Utilisation, de l'exploitation, du dysfonctionnement et/ou de l'interruption du Service PetitEcolo.fr,</li>
					<li>utilisation anormale ou d'une exploitation illicite du Service PetitEcolo.fr par tout Utilisateur ou Annonceur,</li>
					<li>attaque ou piratage informatique, privation, suppression ou interdiction, temporaire ou définitive, et pour quelque cause que ce soit, de l’accès au réseau internet.</li>
					</ul>

					La responsabilité de PetitEcolo.fr ne pourra être engagée que pour les dommages directs subis par l’Annonceur, résultant d’un manquement à ses obligations contractuelles telles que définies aux présentes. L’Utilisateur – l’Annonceur renonce donc à demander réparation à PetitEcolo.fr à quelque titre que ce soit, de dommages indirects tels que le manque à gagner, la perte de chance, le préjudice commercial ou financier, l’augmentation de frais généraux ou les pertes trouvant leur origine ou étant la conséquence de l’exécution des présentes.
					<br/>
					Tout Utilisateur / Annonceur est alors seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. L'Utilisateur renonce également à exercer tout recours contre PetitEcolo.fr dans le cas de poursuites diligentées par un tiers à son encontre du fait de l'Utilisation et/ou de l'exploitation illicite du Service PetitEcolo.fr, en cas de perte par un Utilisateur ou un Annonceur de son mot de passe ou en cas d'usurpation de son identité.
				</p>


				<h4><b>9. Suppression / résiliation</b></h4>
				<p>
					En cas de manquement aux CGU ou aux Conditions de Publication, PetitEcolo.fr se réserve le droit de suspendre ou résilier temporairement ou définitivement une Annonce et/ou un Compte.
				</p>
				<p>
					L'utilisateur / Annonceur peut résiliation son compte à tout moment et sans préavis via la page "Mon compte" du site. En cas de résiliation du compte, toute annonce liée à celui-ci sera supprimée.
				</p>
				<p>
					Dans l’hypothèse où une décision émanant d’une autorité judiciaire ou administrative, ou une règlementation venait à interdire ou à restreindre l’utilisation du Site, PetitEcolo.fr pourra résilier le contrat de plein droit par tout moyen et sans préavis, cette résiliation ne pourra donner lieu à de quelconque dommage et intérêts de quelque nature que ce soit.
				</p>

				<h4><b>10. Réclamation</b></h4>
				<p>
					Toute réclamation devra se faire via la page de <a href="{{ path('contact') }}">Contact</a>.
				</p>

				<h4 id="publication"><b>11. Règles de publication</b></h4>
				<p>
					<b>L'objet du site PetitEcolo.fr est de proposer un espace pour la mise en ligne d'annonce de produits / services respectueux du vivant (environnment, animaux, êtres humains, etc.)</b>
				</p>
				<p>
					Toutes les publications sur le site PetitEcolo.fr doivent donc suivre ces règles :
				</p>
				<ul class="liste">
					<li><b>Tout service/produit présenté doit être réalisé dans le respect de tout et de tous</b> (pas de test sur les animaux, respect de l'Humain, de l'environnement, etc.)</li>
					<li>Vous devez posséder les droits sur les contenus (texte/images) ou avoir toutes les autorisations nécessaires pour leur utilisation sur le site PetitEcolo.fr</li>
					<li>Toute annonce doit être publiée dans la catégorie la plus adaptée. Vous avez la possibilité d'en proposer des nouvelles via la page de <a href="{{ path('contact') }}">Contact</a>.</li>
					<li>Les annonces doivent être rédigées en français (obligation légale imposée par la loi n°94-345 du 4 août 1994)</li>
					<li>Ne pas faire une utilisation abusive de mots-clé</li>
					<li>Ne pas mettre de lien (dans le texte ou les images) vers un site externe</li>
					<li>Ne pas mettre de numéro de téléphone surtaxé</li>
					<li>Ne pas mettre de photos contenant des enfants mineurs reconnaissables</li>
				</ul>
				<p>
					Voici une liste, non exhaustive, de contenu interdit :
				</p>
				<ul class="liste">
					<li>tabacs, drogues et objets associés, substances dangereuses et illicites</li>
					<li>médicaments et produits de parapharmacie</li>
					<li>armes blanches de combat ou d’auto-défense, armes à feu, explosifs, pièges de chasse</li>
					<li>contenu réservé aux adultes : articles pour adultes, contenu à caractère sexuel, images montrant des parties du corps dénudées et de la nudité en général</li>
					<li>certaines espèces végétales et animales protégées, menacées ou prélevées dans leur milieu naturel</li>
					<li>offres pouvant mener à des pratiques tendancieuses : abuser de l'intérêt d'une personne sur un objet</li>
					<li>avis de recherche d’une personne</li>
					<li>la majorité des produits de grande consommation de manufacture industrielle : concerne la nourriture industrielle, les produits hygiéniques (shampoing, savon) et produits ménagers</li>
					<li>produits portant des emblèmes protégés</li>
					<li>annonce à caractère politique, sectaire, discriminatoire, sexiste, en lien avec des organisations ou des personnes responsables de crimes contre l'humanité etc.</li>
					<li>revente des objets nazis suite à une jurisprudence de 2005, cet acte est pénalisé par le Sénat à partir de novembre 2014.</li>
				</ul>

				<h4 id="options"><b>12. Options de publication</b></h4>
				<p>
					Plusieurs options sont disponibles lors d'une publication :
				</p>
				<ul class="liste">
					<li><b>Urgent : </b> Permet à l'Annonceur de signaler son annonce comme étant urgente. Elle possèdera un logo "Urgent". De plus, un Utilisateur peut choisir de ne rechercher que les annonces urgentes.</li>
					<li><b>Remontée automatique : </b> Permet à l'Annonceur d'avoir des remontées automatique en tête de liste (lors d'une recherche).<br/>
						Plus d'infos sur les remontées automatiques sont disponibles sur <a href="{{ path('page_statique', {'page' : 'aide'}) }}" target="_blank">la page d'aide.</a>

					</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}