{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Conditions générales</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-5 col-xs-12">
					<div class="header-page">
						<h1>Conditions générale de vente</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Conditions générales de vente
					</h3>
				</div>

				<h4><b>1. Objet</b></h4>
				<p>
					Les présentes Conditions Générales de Vente (CGV) établissent les conditions contractuelles applicables à toute souscription, par un Annonceur, d'option(s) payante(s) depuis le Site Internet.
				</p>


				<h4><b>2. Acceptation</b></h4>
				<p>
					Toute souscription d'option(s) payante(s) par un Annonceur vaut acceptation pleine et entière des CGV en vigueur.
				</p>


				<h4><b>3. Généralités</b></h4>
				<p>
					Toute option peut être payée soit en Euro (€) soit en June (Ğ1), au choix de l'Annonceur.
				</p>
				<p>
					Toute option souscrite n'est valable que pour une seule annonce. Les options ne sont pas transférables.
				</p>
				<p>
					Un Annonceur peut souscrire une option soit à la création d'une annonce, soit lors de sa modification.
				</p>
				<p>
					Les tarifs sont indiqués lors de la création/modification d'une annonce.
				</p>
				<p>
					L'Annonceur reconnait et accepte que toute annonce ne satisfaisant pas aux règles de publication peut être supprimée à tout moment et ce sans indemnité ni droit à remboursement des sommes engagées aux fins de la souscription à des options payantes.
				</p>
				<p>
					Les Annonces sont classées par ordre chronologique, en fonction de la date et heure de leur mise en ligne ou date et heure de la remontée automatique (option). La modification d'une annonce ne change pas son classement. En conséquence, tout Annonceur reconnaît et accepte que la présence en tête de liste de son Annonce n'est que provisoire.
				</p>

				<h4><b>4. Tarifs</b></h4>
				<p>
					Les tarifs des options peuvent changer à tout moment, sans préavis.<br/>
					Aujourd'hui, les tarifs sont les suivants :
				</p>
				<ul class="liste">
					<li>Pack urgent : {% if pack_urgent_prix_promo is defined %} {{ pack_urgent_prix_promo }}€ ou {{ pack_urgent_prix_promo }}Ğ1{% else %}{{ pack_urgent_prix_euro }}€ ou {{ pack_urgent_prix_g1 }}Ğ1{% endif %} (TVA non applicable)</li>
					<li>Pack 10 photos : {% if pack_photo_prix_promo is defined %} {{ pack_photo_prix_promo }}€ ou {{ pack_photo_prix_promo }}Ğ1{% else %}{{ pack_photo_prix_euro }}€ ou {{ pack_photo_prix_g1 }}Ğ1{% endif %} (TVA non applicable)</li>
					<li>Annonce Premium : {% if pack_remontee_prix_promo is defined %} {{ pack_remontee_prix_promo }}€ ou {{ pack_remontee_prix_promo }}Ğ1{% else %}{{ pack_remontee_prix_euro }}€ ou {{ pack_remontee_prix_g1 }}Ğ1{% endif %} (TVA non applicable)</li>
				</ul>


				<h4><b>4. Paiement et Facturation</b></h4>
				<p>
					Les options peuvent être payées soit par carte bancaire depuis le site internet, soit par virement (en Euro ou en June).<br/>
					Les options sont activées à réception du paiement par PetitEcolo.fr, soit automatiquement pour un paiement en carte bleu, soit après vérification manuelle pour un paiement par virement.<br/>
					Pour les virement, le temps d'activation des options ne sera pas garantie car dépendant de la disponibilité des personnes pour la validation.
				</p>
				<p>
					Tout paiement fera l'objet d'une facture qui sera envoyée à l'Annonceur par mail.
				</p>

				<h4><b>5. Remboursement et rétractation</b></h4>
				<p>
					Les options ne sont pas remboursables. Si l'annonce ne correspond pas aux conditions de publication, même après modification de celle-ci par l'Annonceur,
					ce dernier reconnait et accepte ne pas pouvoir récupérer les sommes versées pour les options.
				</p>
				<p>
					En application des articles L 221-18 et suivants du code de la consommation, l'Annonceur dispose d'un délai de quatorze jours pour se rétracter. Toutefois, en validant la commande, l'Annonceur accepte que PetitEcolo.fr commence à exécuter la prestation et renonce expressément à son droit de rétractation.
				</p>

				<h4><b>6. Responsabilité</b></h4>
				<p>
					La responsabilité de PetitEcolo.fr ne peut être engagée en cas d'inexécution ou de mauvaise exécution de la commande due, soit du fait de l'Annonceur, soit d'un cas de force majeure.
				</p>

				<h4><b>7. Modification des CGV</b></h4>
				<p>
					Les présentes CGV sont applicables à partir du 01 janvier 2018.<br/>
					PetitEcolo.fr se réserve la possibilité, à tout moment, de modifier en tout ou partie les CGV.<br/>
					Les Annonceurs sont invités à consulter régulièrement les CGV afin de prendre connaissance des changements apportés.
				</p>


			</div>
		</div>
	</section>
{% endblock %}