{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Détails des cookies</a></li>
							</ul>
						</div>
					</div>
				</div>
				{#<div class="col-lg-7 col-md-12 col-sm-5 col-xs-12">#}
					{#<div class="header-page">#}
						{#<h1>Liste des cookies utilisés sur ce site</h1>#}
					{#</div>#}
				{#</div>#}
			</div>
		</div>
	</div>
	<section class="section-padding gray">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Les cookies utilisés sur ce site
					</h3>
				</div>

				<p>
				Les cookies sont de petits fichiers enregistrés sur votre ordinateur. Ils peuvent, par exemple, nous permettre d'enregistrer des préférences ou rendre plus agréable votre navigation sur notre site.<br/>
				</p>
				<p>
					PetitEcolo.fr utilise plusieurs types de cookies.
				</p>
				<p><h4><b>Des cookies indispensables au bon fonctionnement du site : </b></h4></p>
				<ul class="liste">

					<li>Un cookie de <b>session</b> pour pouvoir gérer votre connexion au site (son nom est "PHPSESSID")</li>
					<li>Des cookies pour ne plus afficher les différents <b>messages d'accueil</b> une fois que vous les avez fermés (le nom des cookies commence par "annonce_").</li>
					<li>Un cookie pour ne plus afficher <b>le message d'information sur les cookies</b> une fois que vous l'avez fermé (son nom est "message_cookie").</li>
					<li>Un cookie pour enregistrer la configuration des cookies (son nom est "autorise_stats")</li>
				</ul>

				<p><h4><b>Des cookies configurables : </b></h4></p>
				<ul class="liste">
					<li>Des cookies pour les <b>statistiques</b> de visite du site (le nom commence par "_pk_").
				Ces statistiques sont anonymes, sont stockées sur notre serveur et ne sont partagées avec personne.
				Elles nous serviront à optimiser le site en fonction de vos besoins.<br/>
					<a class="btn btn1" id="desactiveCookie" href="javascript:;" onclick="desactiveCookie()">Je souhaite désactiver ces cookies</a>
					<a class="btn btn1" id="activeCookie" href="javascript:;" onclick="activeCookie()">Je souhaite réactiver ces cookies</a></li>
				</ul>

				<script type="text/javascript">
					if (readCookie('autorise_stats') !== null && readCookie('autorise_stats') === "false")
					{
                        $("#activeCookie").css('display', 'inline-block');
					}
					else
					{
                        $("#desactiveCookie").css('display', 'inline-block');
					}


					function desactiveCookie()
					{
						createCookie('autorise_stats', 'false', 3600);
                        $("#desactiveCookie").hide();
                        $("#activeCookie").css('display', 'inline-block');
					}

					function activeCookie()
					{
                        eraseCookie('autorise_stats');
                        $("#desactiveCookie").css('display', 'inline-block');
                        $("#activeCookie").hide();
					}
				</script>

			</div>
		</div>
	</section>
{% endblock %}