{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Fonctionnalités</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-5 col-xs-12">
					<div class="header-page">
						<h1>Fonctionnalités à venir</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Fonctionnalités à venir
					</h3>
				</div>

				<p>
					<ul>
						<li>- Possibilité de rechercher un professionnel éthique près de chez soi</li>
						<li>- Un système d'envoi d'image (lors de la création d'une annonce) plus ergonomique</li>
						<li>- Un système de votes pour permettre aux utilisateurs de donner leur avis et ainsi prioriser les futures fonctionnalités</li>
					</ul>
				</p>

				<p>
					<b>Vous voulez nous proposer une amélioration ? Parlez-nous en via <a href="{{ path('page_statique', {'page' : 'contact'}) }}">la page de contact.</a></b>
				</p>
			</div>
		</div>
	</section>
{% endblock %}