{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Mentions légales</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Mentions légales
					</h3>
				</div>

				<p><b>Responsable : </b><br/>
				Jonathan Wendlinger - <a href="{{ path('contact') }}">Formulaire de contact</a>
					<br/><br/>
				</p>

				<p>
					<b>Hébergeur : </b><br/>
					<a href="https://p2p.legal/">P2P.legal</a><br/>
					29 rue Gallois,<br/>
					41000 Blois<br/>
					<br/><br/>
				</p>

			</div>
		</div>
	</section>
{% endblock %}