{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Participez ! </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray page-aide">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Aidez-nous à faire connaître PetitEcolo.fr !
					</h3>
				</div>

				<p>Il vous est aujourd'hui possible d'être <strong>rémunéré en <a class="underline" href="https://monnaielibreoccitanie.org/monnaie-libre/" target="_blank" title="Qu'est ce que la Ğ1 ?">Ğ1</a></strong> pour aider PetitEcolo.fr à se développer !</p>
				<p>Pour cela, vous avez plusieurs possiblités : <b>partager le lien du site sur les réseaux sociaux</b> ou <b>faire un article sur votre site</b>.</p>
				<p>Les rémunérations seront les suivantes : </p>
				<ul class="liste">
					<li>Pour le partage du lien, PetitEcolo.fr vous fait un don de <strong>10Ğ1</strong></li>
					<li>Pour un article présentant le projet, le don est de <strong>50Ğ1</strong></li>
				</ul>
				<p>Bien entendu, si vous avez d'autres idées pour faire connaître le projet, n'hésitez pas à nous en parler, nous complèterons cette liste&nbsp;!</p>

				<h4><b>Concrètement, comment ça marche ?</b></h4>
				<ul class="liste">
					<li>Partagez le lien sur les réseaux sociaux ou publiez un article (Si vous faitez un article sur le projet, merci de nous le faire lire avant publication)</li>
					<li>Contactez-nous sur la <a href="{{ path('contact', { 'type': 'pub'}) }}">{{ 'contact.contact_lien_label'|trans }}</a> (sujet "publicité") en nous donnant le lien vers
					le post ou l'article (accessible publiquement) ainsi que la clé publique vers laquelle faire le transfert de Ğ1.</li>
				</ul>
				<br/>
				<p><strong>PetitEcolo.fr vous remercie de votre aide !</strong></p>
			</div>
		</div>
	</section>
{% endblock %}