{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Conditions générales</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-5 col-xs-12">
					<div class="header-page">
						<h1>Respect des données personnelles</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Respect des données personnelles
					</h3>
				</div>

				<p>Parce que nous souhaitons <strong>aider à l'évolution vers un monde plus juste et plus respectueux</strong>, il nous parait évident que <strong>vos données personnelles doivent rester privées</strong>.</p>
				<p>Par conséquent, <strong>nous nous engageons à ne jamais céder ces informations</strong> à des tiers, tant que nous n'y sommes pas légalement contraints (demande provenant des autorités publiques).</p>
			</div>
		</div>
	</section>
{% endblock %}