{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Soutenez-nous ! </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Soutenez-nous !
					</h3>
				</div>

				<p>
					Vous pouvez soutenir PetitEcolo en faisant un <strong>don</strong> ! Deux possibilités s'offrent à vous :<br/><br/>
				</p>

				<p>
					- Soit faire un virement en <strong>Ğ1</strong> pour <b>l'hébergement</b> du site, à cette clé publique : <strong>EpKoEiuztisKkUiJAWpjR7Yc9ZJ57oYwYjvcDMHUecBB</strong> (PetitEcolo.fr nouveau compte)
					<br/><br/>
				</p>

				<p>- Soit un paiement en <strong>Euros</strong> pour soutenir le <b>développement</b> du site :
					<script src="//liberapay.com/wyllyjon/widgets/button.js"></script>
					<noscript><a href="https://liberapay.com/wyllyjon/donate"><img alt="Faire un don" src="{{asset('images/liberapay.svg')}}"></a></noscript>
					<br/><br/>
				</p>

				<p>
					Merci à tous et très bonne visite sur le site PetitEcolo.fr !
				</p>
			</div>
		</div>
	</section>
{% endblock %}