{% extends ":user:profile_base.html.twig" %}

{% if favorites is defined and favorites %}
	{% set isMesAnnoncesFavorites = true %}
{% else %}
	{% set isMesAnnonces = true %}
{% endif %}

{% block centerContent %}
	<div class="user-archives">
		{% if annonces | length == 0 %}
			<div class="ads-list-archive ">
				<h4 class="message info">
					{% if favorites is defined and favorites  %}
						{{ 'user_profile.aucune_favorite'|trans }}
					{% else %}
						{{ 'user_profile.aucune_annonce'|trans }}
					{% endif %}
				</h4>
			</div>
		{% endif %}
		{% for annonce in annonces %}
			<div class="ads-list-archive {% if favorites is defined and favorites %} favoris {% endif %}">
				<div class="col-lg-3 col-md-3 col-sm-3 no-padding">
					<div class="ad-archive-img">
						{% if annonce.photos != '' %}
							<a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url'), 'complexId' : annonce.complexId }) }}">
								<img class="img-responsive" src="{{ asset(annonce.photos|split(';')[0]) | imagine_filter('annonce_liste') }}"/>
							</a>
							<div class="total-images"><strong><i class="fa fa-image"></i> {{ annonce.photos |split(';') | length }}</strong></div>
						{% else %}
							<a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url'), 'complexId' : annonce.complexId }) }}">
								<img class="img-responsive" src="{{ asset('images/annonces/annonce_defaut.jpg') }}"/>
							</a>
						{% endif %}
					</div>
				</div>

				<div class="col-lg-9 col-md-9 col-sm-9 no-padding">
					<div class="ad-archive-desc">
						<div class="ad-price">
							{% if annonce.prix %}
								{{ annonce.prix }} €
							{% else %}
								{{ 'annonces.view.pas_prix'|trans }}
							{% endif %}
						</div>
						<div class="category-title">
							<span>{{ annonce.categorie.nomComplet }}</span>
						</div>
						<h3>
							<a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url'), 'complexId' : annonce.complexId }) }}">{{ annonce.titre }}</a>
						</h3>

						<div class="clearfix visible-xs-block"></div>

						<div class="clearfix archive-history">
							<div class="last-updated">
								<i class="fa fa-clock-o"></i>
								{{ annonce.dateModification|date('d') }}

								{{ ('annonces.list.date.mois' ~ annonce.dateModification|date('m')) | trans}}
							</div>

							<div class="ad-meta">
								{% if favorites is defined and favorites %}
									<a data-remove-url="{{ path('remove_favorite', {'id' : annonce.id}) }}" href="javascript:;" onclick="removeFavorite(this)" class="btn btn1"><i class="fa fa-minus-circle"></i> {{ 'annonces.list.supprimer_favoris'|trans }}</a>
								{% else %}

								{% endif %}
								<a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url'), 'complexId' : annonce.complexId }) }}" class="btn btn2">
									<i class="fa fa-eye"></i>
									{{ 'annonces.list.voir'|trans }}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	{% if favorites is defined and favorites %}
		<script type="text/javascript">
            function removeFavorite(elem)
            {
                if (confirm("{{ 'annonces.list.supprimer_favoris_alerte'|trans }}"))
				{

					$.ajax({
						type: "POST",
						url: $(elem).attr("data-remove-url"),
						dataType: "json",
						success: function(response) {
							if (response.result === 'ok')
							{
								$(elem).parents(".ads-list-archive").slideUp();

							}
							else if (response.message != '')
							{
								alert(response.message);
							}
						}
					});
				}
            }
		</script>
	{% endif %}
{% endblock %}