{% extends ":user:profile_base.html.twig" %}

{% set isMesAlertes = true %}

{% block centerContent %}
	<div class="user-archives alertes">
		{% if alertes | length == 0 %}
			<div class="ads-list-archive ">
				<h4 class="message info">
					{{ 'user_profile.aucune_alerte'|trans }}
				</h4>
			</div>
		{% endif %}
		{% for alerte in alertes %}
			<div class="ads-list-archive favoris ">

				<div class="col-lg-12 col-md-12 col-sm-12 no-padding">
					<div class="ad-archive-desc">
						<h3>
							{{ alerte.titre }}
						</h3>

						<div class="clearfix visible-xs-block"></div>

						<div class="clearfix archive-history">
							<div class="last-updated">
								<i class="fa fa-clock-o"></i>
								{{ alerte.dateCreation|date('d') }}

								{{ ('annonces.list.date.mois' ~ alerte.dateCreation|date('m')) | trans}}
							</div>

							<div class="ad-meta">
								<a href="javascript:;" data-remove-url="{{ path('remove_alerte', {'id' : alerte.id}) }}" onclick="removeAlerte(this)" class="btn btn1"><i class="fa fa-minus-circle"></i> {{ 'annonces.list.alertes.supprimer_alerte'|trans }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<script type="text/javascript">
		function removeAlerte(elem)
		{
			if (confirm("{{ 'annonces.list.alertes.supprimer_alerte_confirm'|trans }}"))
			{

				$.ajax({
					type: "POST",
					url: $(elem).attr("data-remove-url"),
					dataType: "json",
					success: function(response) {
						if (response.result === 'ok')
						{
							$(elem).parents(".ads-list-archive").slideUp();

						}
						else if (response.message != '')
						{
							alert(response.message);
						}
					},
					error : function() {
						alert("{{ 'annonces.list.alertes.erreur_suppression'|trans }}")
					}
				});
			}
		}
	</script>
{% endblock %}