{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">
									{{ 'general.image_entete.profile'|trans }}
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-5 col-xs-12">
					<div class="header-page">
						<h1>
							{{ 'general.image_entete.profile'|trans }}
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12 leftbar-stick">
					<div class="theiaStickySidebar">
						<div class="user-profile">
							<div class="profile-detail">
								<h2>
									{% if app.user.prenom or app.user.nom %}
										{{ app.user.prenom }} {{ app.user.nom }} ({{ app.user.username }})
									{% else %}
										{{ app.user.username }}
									{% endif %}
								</h2>
								<ul class="contact-details">
									<li><i class="fa fa-envelope"></i>{{ app.user.email }}</li>
									{% if app.user.tel %}
										<li><i class="fa fa-phone"></i>{{ app.user.tel }}</li>
									{% endif %}
								</ul>
							</div>

							<ul>
								<li class="infos {% if isProfile is defined and isProfile %}active{% endif %}">
									<a class="col-md-10 col-xs-10 col-sm-10 view" href="{{ path('fos_user_profile_show') }}">{{ 'user_profile.profile_label'|trans }}</a>
									<a class="badge" href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil"></i></a>
									<div class="clearfix"></div>
								</li>
								<li {% if isMesAnnonces is defined and isMesAnnonces %}class="active"{% endif %}>
									<a href="{{ path('mes_annonces') }}">{{ 'user_profile.mes_annonces_titre'|trans }}</a>
								</li>
								<li {% if isMesAnnoncesFavorites is defined and isMesAnnoncesFavorites %}class="active"{% endif %}>
									<a href="{{ path('annonces_favorites') }}">{{ 'user_profile.mes_annonces_favorites_titre'|trans }}</a>
								</li>
								<li {% if isMesAlertes is defined and isMesAlertes %}class="active"{% endif %}>
									<a href="{{ path('mes_alertes') }}">{{ 'user_profile.mes_alertes_titre'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('delete_account') }}" id="delete_account" onclick="return confirm('{{ 'user_profile.supprimer_compte.confirm'|trans }}');return false;">
										{{ 'user_profile.supprimer_compte.titre'|trans }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-8 col-sm-12 col-xs-12">
					{% block centerContent %}{% endblock %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}