{% extends '::base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Annonce en attente de modération</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray annonce">
		<!-- Main Container -->
		<div class="container">
			<!-- Row -->
			<div class="row">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="static-panel">
						<p><b>Votre annonce {{ annonce.titre }} a bien été créée / modifiée.</b></p>
						<p>Elle est maintenant en attente de modération. Vous recevrez un mail dès qu'elle sera validée.</p>
						{% if not mail_success %}
							<div class="bg-danger">Le mail de confirmation n'a pas pu vous être envoyé. Merci de vérifier votre adresse mail en <a href="{{ path('ad_confirm_edit', {id:annonce.id, complexId:annonce.complexId}) }}">éditant l'annonce</a></div>
						{% endif %}
						<p><a href="{{ path('homepage') }}">{{ 'general.go_accueil'|trans }}</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}