{% extends ':annonce:show.html.twig' %}

{% block confirm %}
	<div class="col-md-12 col-xs-12 col-sm-12">
		<div class="ad-box confirmation-text">
			<p><b>{{ 'annonces.confirm.texte'|trans }}</b></p>
			<fieldset>
				<legend>Vos options</legend>
				{% if not annonce.packRemontee and not annonce.packUrgent%}
					<p>{{ 'annonces.form.options.aucune'|trans }}</p>
				{% else %}
					<ul class="liste">
						{% if annonce.packUrgent %}
							<li>{{ 'annonces.form.options.pack_urgent'|trans }}</li>
						{% endif %}
						{% if annonce.packRemontee %}
							<li>{{ 'annonces.form.options.pack_remontee'|trans }}</li>
						{% endif %}
					</ul>
				{% endif %}
			</fieldset>
			<p class="boutons">
				<a class="btn btn1" href="{{ path('ad_fin_creation', {'id' : annonce.id, 'complexId' : annonce.complexId }) }}"><i class="fa fa-check"></i>{{ 'annonces.confirm.valider'|trans }}</a>
				<br/><b>{{ 'annonces.confirm.ou_label'|trans }}</b><br/>
				<a class="btn btn1" href="{{ path('ad_confirm_edit', {'id' : annonce.id, 'complexId' : annonce.complexId }) }}"><i class="fa fa-pencil"></i>{{ 'annonces.confirm.modifier'|trans }}</a>
			</p>
			{{ form_start(delete_form) }}
			{{ form_widget(delete_form) }}
			<a class="btn btn1 btn-delete" href="javascript:;" title="{{ 'annonces.view.supprimer_title'|trans }}" onclick="if (confirm('{{ 'annonces.view.supprimer_alert'|trans }}'))$(this).parent('form').submit()">
				<i class="fa fa-trash"></i><span>{{ 'annonces.view.supprimer'|trans }}</span>
			</a>
			{{ form_end(delete_form) }}
		</div>
	</div>

{% endblock %}