{% extends 'base.html.twig' %}

{% block title %}Les dernières annonces écolos sur PetitEcolo.fr{% endblock %}

{% block body %}
    <div class="bread-3 page-header-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="small-breadcrumb">
                        <div class=" breadcrumb-link">
                            <ul>
                                <li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
                                <li><a class="active">{{ 'general.menu.dernieres_annonces'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-padding gray inner-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sx-12">
                    <div class="row">
                        {% if annonces is defined %}
                            <a id="resultats"><!--ancre--></a>
                            {# CHAMPS DE TRI #}
                            {% if annonces|length > 0 %}
                            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                <div class="filter-brudcrums">
                                    <span>{{ 'annonces.list.nb_annonce_libelle'|trans }} <span class="showed">{{ annonces.query.firstResult + 1}} - {% if  annonces.query.firstResult + annonces.query.maxResults <= annonces|length %} {{ annonces.query.firstResult + annonces.query.maxResults}} {% else  %} {{ annonces|length }} {% endif %}</span> sur <span class="showed">{{ annonces|length }}</span></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="text-center margin-bottom-30">
                                {{ block('pagination') }}
                            </div>
                            {% endif  %}

                            {# LISTE DES ANNONCES #}
                            <div>
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    {% if annonces|length ==  0 %}
                                        <div class="no-result ads-list-archive">
                                            <div class="ad-archive-desc">
                                                <p>{{ 'annonces.list.no_result'| trans }}</p>
                                                <p>{{ 'annonces.list.no_result_back'|trans|raw }}</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% for annonce in annonces %}
                                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                            {#<ul class="list-unstyled">#}
                                                {#<!-- Listing Grid -->#}
                                                {#<li>#}
                                                    <div class="ad-listing clearfix annonce {% if annonce.type == 'demande' %} demande {% endif %}">
                                                        {# AJOUT d'un spaceless car les éléments sont affichés en inline-block au lieu de float, donc il ne faut pas d'espace pour que les tailles en % fonctionnent#}
														{% spaceless %}
														{% if annonce.packUrgent %}
                                                            <span class="urgent no-mobile">{{ 'annonces.view.urgent_label'|trans }}</span>
														{% endif %}
                                                        <div class="col-md-4 col-sm-5 col-xs-12 grid-style no-padding">
                                                            <!-- Image Box -->
                                                            <div class="img-box">
                                                            {% if annonce.photos != '' %}
                                                                <a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') }) }}">
                                                                    <img class="img-responsive" src="{{ asset(annonce.photos|split(';')[0]) | imagine_filter('annonce_liste') }}"/>
                                                                </a>
                                                                <div class="total-images"><strong><i class="fa fa-image"></i> {{ annonce.photos |split(';') | length }}</strong> </div>
                                                            {% else %}
                                                                <a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') }) }}">
                                                                <img class="img-responsive" src="{{ asset('images/annonces/annonce_defaut.jpg') }}"/>
                                                                </a>
                                                            {% endif %}
                                                            </div>
                                                            {% if annonce.isALaUne() %}
                                                            <!-- Ad Status --><span class="ad-status"> Featured </span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-md-8 col-sm-7 col-xs-12 list-desc">
															{% if annonce.packUrgent %}
                                                                <span class="urgent mobile-only">{{ 'annonces.view.urgent_label'|trans }}</span>
															{% endif %}
                                                            <!-- Ad Content-->
                                                            <div class="row">
                                                                <div class="content-area">
                                                                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 ">
                                                                        <!-- Category Title -->
                                                                        <div class="category-title">
                                                                            <span>{{ annonce.categorie.nomComplet }}</span>
                                                                        </div>
                                                                        <!-- Ad Title -->
                                                                        <h3>
																			{% if annonce.type == 'demande' %}
                                                                                <i class="icone-demande fa fa-search" title="Je recherche..."></i>
																			{% endif %}
																			{% if annonce.user and annonce.user.type == "pro"%}
                                                                                <i class="icone-pro" title="Annonce d'un professionnel"></i>
                                                                            {% endif  %}
                                                                            <a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') }) }}">
                                                                                {{ annonce.titre }}
                                                                            </a>
                                                                        </h3>
                                                                        <!-- Info Icons -->
                                                                        {% if app.user %}
                                                                        <ul class="additional-info pull-right">
                                                                            {#<li>#}
                                                                                {#<a data-toggle="tooltip" title="" href="#" class="fa fa-envelope" data-original-title="Send Message"></a>#}
                                                                            {#</li>#}
                                                                            {#<li>#}
                                                                                {#<a data-toggle="tooltip" title="" href="#" class="fa fa-phone" data-original-title="+92-4567-123"></a>#}
                                                                            {#</li>#}
                                                                            <li>
                                                                                {% if annonce.isFavoris(app.user) %}
                                                                                    <a data-remove-url="{{ path('remove_favorite', {'id' : annonce.id}) }}" data-add-url="{{ path('add_favorite', {'id' : annonce.id}) }}" href="javascript:;" onclick="removeFavorite(this)" class="selected fa fa-heart" title="{{ 'annonces.list.supprimer_favoris'|trans }}"></a>
                                                                                {% else %}
                                                                                    <a data-remove-url="{{ path('remove_favorite', {'id' : annonce.id}) }}" data-add-url="{{ path('add_favorite', {'id' : annonce.id}) }}" href="javascript:;" onclick="saveAsFavorite(this)" class="fa fa-heart" title="{{ 'annonces.list.ajouter_favoris'|trans }}"></a>
                                                                                {% endif %}
                                                                            </li>
                                                                        </ul>
                                                                        {% endif %}
                                                                        <!-- Ad Meta Info -->
                                                                        <ul class="ad-meta-info">
                                                                            {% if annonce.anonymousUser %}
                                                                                {% if annonce.anonymousUser.adresse.ville %}
                                                                                    <li> <i class="fa fa-map-marker"></i>{{ annonce.anonymousUser.adresse.ville }}
                                                                                        {% if annonce.anonymousUser.adresse.region == "La Réunion" or  annonce.anonymousUser.adresse.region == "Martinique" %}
                                                                                            ({{ annonce.anonymousUser.adresse.region }})
                                                                                        {% endif %}
                                                                                    </li>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% if annonce.user.adresse.ville %}
                                                                                    <li> <i class="fa fa-map-marker"></i>{{ annonce.user.adresse.ville }}</li>
                                                                                {% endif %}
                                                                            {% endif %}

                                                                            <li> <i class="fa fa-clock-o"></i>
                                                                                {{ annonce.dateModification|date('d') }}

                                                                                {{ ('annonces.list.date.mois' ~ annonce.dateModification|date('m')) | trans}}
                                                                            </li>
                                                                        </ul>
                                                                        <!-- Ad Description-->
                                                                        <div class="ad-details">
                                                                            <p class="trunk2">
                                                                                {% if annonce.texte|length > 250 %}
                                                                                    {{ annonce.texte|slice(0, 250) }}...
                                                                                {% else %}
                                                                                    {{ annonce.texte }}
                                                                                {% endif %}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-4 col-xs-12 col-sm-12">
                                                                        <!-- Ad Stats -->
                                                                        {#<div class="short-info">#}
                                                                            {#<div class="ad-stats hidden-xs"><span>Condition  : </span>Used</div>#}
                                                                            {#<div class="ad-stats hidden-xs"><span>Warranty : </span>7 Days</div>#}
                                                                            {#<div class="ad-stats hidden-xs"><span>Sub Category : </span>Mobiles</div>#}
                                                                        {#</div>#}
                                                                        <!-- Price -->
                                                                        <div class="price">
                                                                            <span>
                                                                                 {% if annonce.remuneration %}
																				{{ annonce.remuneration }}  {% if annonce.monnaie == 'g1' %}Ğ1{% elseif annonce.monnaie == 'dug1'%}DU<sub>Ğ1</sub>{% else %}€{% endif %}
                                                                                {% elseif annonce.prix %}
                                                                                    {{ annonce.prix }}  {% if annonce.monnaie == 'g1' %}Ğ1{% elseif annonce.monnaie == 'dug1'%}DU<sub>Ğ1</sub>{% else %}€{% endif %}
                                                                                {% else %}
                                                                                    {{ 'annonces.view.pas_prix'|trans }}
                                                                                {% endif %}
                                                                            </span>
                                                                            {% if annonce.troc %}
                                                                                <p class="troc"><i class="fa fa-handshake-o"></i> {{ 'annonces.view.troc_label'|trans }}</p>
                                                                            {% endif %}
                                                                        </div>
                                                                        <!-- Ad View Button -->
                                                                        <a href="{{ path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') }) }}" class="btn btn2">
                                                                            <i class="fa fa-eye"></i>
                                                                            {{ 'annonces.list.voir'|trans }}
                                                                        </a>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
															{% endspaceless %}
                                                            <!-- Ad Content End -->
                                                        </div>
                                                    </div>
                                                {#</li>#}
                                            {#</ul>#}
                                        </div>

                                    {% endfor %}
                                    <div class="clearfix"></div>
                                </div>


                            </div>
                            <div class="clearfix"></div>

                            <div class="text-center margin-top-30">
                                {{ block('pagination') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {#<div class="col-md-4 col-md-pull-8 col-sx-12">#}
                    {#<div class="sidebar">#}
                        {#<div id="accordion" class="panel-group" role="tablist">#}
                            {#<div class="panel panel-default">#}
                                {#<div class="panel-heading" role="tab">#}
                                    {#<h4 class="panel-title">#}
                                        {#<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">#}
                                            {#<i class="more-less glyphicon glyphicon-plus"></i>#}
                                            {#{{ 'annonces.list.filtres.categorie.titre'|trans }}#}
                                        {#</a>#}
                                    {#</h4>#}
                                {#</div>#}

                                {#<div class="panel-collapse collapse in">#}
                                    {#<div class="panel-body categories">#}
                                        {#<ul>#}
                                            {#{% for categorie in categories %}#}
                                                {#<li{% if categorie.parent == null  %} class="parent" {% endif %} ><a  href="{{ path('ad_index', {'categorie': categorie.id, 'nb_resultats': nb_resultats}) }}">{{ categorie.nom }}</a></li>#}
                                                {#{% endfor %}#}
                                        {#</ul>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function saveAsFavorite(elem)
        {
            $.ajax({
                type: "POST",
                url: $(elem).attr("data-add-url"),
                dataType: "json",
                success: function(response) {
                    if (response.result === 'ok')
                    {
                        $(elem).addClass("selected");
                        $(elem).attr("onclick", 'removeFavorite(this);');
                        $(elem).attr("title", "{{ 'annonces.list.supprimer_favoris'|trans }}");

                    }
                    else if (response.message != '')
                    {
                        alert(response.message);
                    }
                }
            });
        }

        function removeFavorite(elem)
        {
            $.ajax({
                type: "POST",
                url: $(elem).attr("data-remove-url"),
                dataType: "json",
                success: function(response) {
                    if (response.result === 'ok')
                    {
                        $(elem).removeClass("selected");
                        $(elem).attr("onclick", 'saveAsFavorite(this);');
                        $(elem).attr("title", "{{ 'annonces.list.ajouter_favoris'|trans }}")

                    }
                    else if (response.message != '')
                    {
                        alert(response.message);
                    }
                }
            });
        }

        function sauveAlerte()
        {
            $("#save-alerte-form").addClass("waiting");
            data = $("#save-alerte-form").serialize();
            $.ajax({
                type: "POST",
                url: "{{ path('add_alerte') }}",
                data: data,
                dataType: "json",
                success: function(response) {
                    $("#save-alerte-form").removeClass("waiting");
                    if (response.result === 'ok')
                    {
                        $(".save-alerte .message").html("{{ 'annonces.list.alertes.succes'|trans }}").removeClass("bg-danger").addClass("bg-success visible");
                        $("#save-alerte-form").children("input[type=text]").val("");
                    }
                    else if (response.message != '')
                    {
                        $(".save-alerte .message").html(response.message).addClass("bg-danger").show();
                    }
                },
                error: function(){
                    $("#save-alerte-form").removeClass("waiting");
                    $(".save-alerte .message").html("{{ 'annonces.list.alertes.erreur'|trans }}").removeClass("bg-success").addClass("bg-danger visible");
                }
            });
            return false;
        }
    </script>
{% endblock %}



{% block pagination %}
	{% if annonces is defined and annonces|length >  0 %}
    <ul class="pagination ">
        {% set nbPageMaxAffichees = 7 %}  {# Prendre un nombre impair #}
        {% set nbPageTransition =  (nbPageMaxAffichees / 2)|round(0, 'ceil') %}

        {% if nb_page <= nbPageMaxAffichees %}
            {% for i in 1 .. nb_page %}

                <li {% if i == page %} class="active" {%endif%} >
                    <a {% if i != page %}href="{{ path('ad_last', { 'page': i}) }}"{% endif %}>{{ i }}</a>
                </li>
            {% endfor %}
        {% else %}

            {#// PLUS DE 10 PAGES#}
            {# Si on se trouve dans la première moitié, on affiche à partir de la page 1 et le bouton suivant #}
            {% if page <=  nbPageTransition %}

                {% for i in 1 .. nbPageMaxAffichees %}
                    <li {% if i == page %} class="active" {%endif%} >
                        <a {% if i != page %}href="{{ path('ad_last', { 'page': i}) }}"{% endif %}>{{ i }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{{ path('ad_last', { 'page': page + 1}) }}" ><i class="fa fa-chevron-right"></i></a>
                </li>


            {# Si on se trouve plus loin que la moitié mais encore trop loin de la fin, on affiche les boutons suivant et précédent #}
            {% elseif page <= (nb_page - nbPageTransition) %}

                <li><a href="{{ path('ad_last', { 'page': page - 1}) }}"><i class="fa fa-chevron-left"></i></a></li>

                {% for i in (page - (nbPageTransition - 1)) .. (page + (nbPageTransition - 1)) if i <= nb_page %}
                    <li {% if i == page %} class="active" {%endif%} >
                        <a {% if i != page %}href="{{ path('ad_last', { 'page': i}) }}"{% endif %}>{{ i }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{{ path('ad_last', { 'page': page + 1}) }}" ><i class="fa fa-chevron-right"></i></a>
                </li>

            {# Si on se trouve proche de la fin, on n'affiche que le bouton précédent #}
            {% else %}

                <li><a href="{{ path('ad_last', { 'page': page - 1}) }}"><i class="fa fa-chevron-left"></i></a></li>
                {% for i in (nb_page - nbPageMaxAffichees + 1) .. nb_page %}
                    <li {% if i == page %} class="active" {%endif%} >
                        <a {% if i != page %}href="{{ path('ad_last', { 'page': i}) }}"{% endif %}>{{ i }}</a>
                    </li>
                {% endfor %}

            {% endif %}


        {% endif %}

    </ul>
        {% endif %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('.trunk3').trunk8({lines:3});
            $('.trunk2').trunk8({lines:2});
        })
    </script>
{% endblock %}