{% extends 'base.html.twig' %}

{% form_theme form "form/customForm.html.twig" %}

{% block body %}
    <div class="bread-3 page-header-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12 col-sm-7">
                    <div class="small-breadcrumb">
                        <div class=" breadcrumb-link">
                            <ul>
                                <li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
                                <li><a class="active">
										{% if isEdition is defined %}
											{{ 'general.image_entete.modifier_annonce'|trans }}
										{% else %}
											{{ 'general.image_entete.nouvelle_annonce'|trans }}
										{% endif %}
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-5 col-xs-12">
                    <div class="header-page">
                        <h1>
                            {% if isEdition is defined %}
                                {{ 'general.image_entete.modifier_annonce'|trans }}
                            {% else %}
                                {{ 'general.image_entete.nouvelle_annonce'|trans }}
                            {% endif %}

                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-padding gray annonce_form">
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Right Sidebar -->
                <div class="col-md-4 col-xs-12 col-sm-12 right-sidebar">
                    <!-- Sidebar Widgets -->
                    <div class="blog-sidebar">
                        <!-- Categories -->
                        <div class="widget">
                            <h3 class="panel-title widget-content">{{ 'annonces.tips.title'|trans }}</h3>
                            <div class="widget-content">
                                <p class="lead">{{ 'annonces.tips.intro'|trans|raw }}</p>
                                <ol>
                                    <li>{{ 'annonces.tips.regle1'|trans }} <a href="{{ path('page_statique', {'page' : 'cgu', '_fragment' : 'publication'}) }}" target="_blank">{{ 'annonces.tips.regle1_lien'|trans }}</a></li>
                                    <li>{{ 'annonces.tips.regle2'|trans }}</li>
                                    <li>{{ 'annonces.tips.regle3'|trans }}</li>
                                </ol>
                            </div>
                        </div>
                        <!-- Latest News -->
                    </div>
                    <!-- Sidebar Widgets End -->
                </div>
                <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12 col-container">
                    <!-- end post-padding -->
                    <div class="post-ad-form postdetails">
                        <div class="heading-panel">
                            <h3 class="main-title text-left">
                                {% if isEdition is defined %}
                                    {{ 'annonces.form.titre_edition' |trans }}
                                {% else %}
                                    {{ 'annonces.form.titre_nouvelle' |trans }}
                                {% endif %}
                            </h3>
                        </div>
						{% if not(app.user) %}
                            <div class="message bg-warning">
                                {{ 'annonces.form.info_pro'|trans|raw }}
                            </div>
                        {% endif %}

                        {{ form_start(form,  {'attr': {'autocomplete': 'off'}}) }}
                        {{ form_row(form.type) }}
                        <div id="categorieLi">
						{{ form_row(form.categorie, {'attr' : {'data-placeholder' : 'annonces.form.categorie_label'|trans}}) }}
                        </div>
						{{ form_row(form.titre) }}

                        <div class="champsSupplementaires">
                            <fieldset>
                                <legend>{{ 'annonces.form.info_comp_fieldset_legend'|trans }}</legend>
                                <div class="row">
                                    <div class="champCategorie champsVetementsEnfants">
                                        {{ form_row(form.tailleEnfant, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                    </div>
                                    <div class="champCategorie champsVetements">
                                        {{ form_row(form.taille, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                    </div>
                                    <div class="champCategorie champsEmploi">
                                        {{ form_row(form.typeContrat, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                        {{ form_row(form.experience, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                        <div class="clearfix"></div>
                                        {{ form_row(form.tempsPlein, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                        {{ form_row(form.handiAcces, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                    </div>
                                    <div class="champCategorie champsStage">
                                        {{ form_row(form.duree, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                    </div>
                                    <div class="champCategorie champsImmobilier">
                                        {{ form_row(form.typeBien, {'attr' : {'parentClass' : 'col-md-6 col-sm-6 col-xs-12'}}) }}
                                        {{ form_row(form.surface, {'attr' : {'parentClass' : 'col-md-6 col-sm-6 col-xs-12'}}) }}
                                        <div class="clearfix"></div>
                                        {{ form_row(form.nbPieces, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                        {{ form_row(form.classeEnergie, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                        {{ form_row(form.ges, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                    </div>
                                    <div class="champCategorie champsLocation">
                                        {{ form_row(form.meuble, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                    </div>
                                    <div class="champCategorie champsLocationVacances">
                                        {{ form_row(form.capacitePersonnes, {'attr' : {'parentClass' : 'col-md-4 col-sm-6 col-xs-12'}}) }}
                                    </div>
                                    <div class="champCategorie champsVehicules">
                                        {{ form_row(form.marque, {'attr' : {'parentClass' : 'col-md-6 col-sm-6 col-xs-12'}}) }}
                                        {{ form_row(form.modele, {'attr' : {'parentClass' : 'col-md-6 col-sm-6 col-xs-12'}}) }}
                                        <div class="clearfix"></div>
                                        {{ form_row(form.dateMiseCirculation, {'attr' : {'parentClass' : 'col-md-6 col-sm-6 col-xs-12'}}) }}
                                        {{ form_row(form.kilometrage, {'attr' : {'parentClass' : 'col-md-6 col-sm-6 col-xs-12'}}) }}
                                        {{ form_row(form.boiteVitesse, {'attr' : {'parentClass' : 'col-md-6 col-sm-6 col-xs-12'}}) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <fieldset>
                            <legend>{{ 'annonces.form.info_base_fieldset_legend'|trans }}</legend>
                            {{ form_row(form.texte) }}
                                <div class="row ">
                                <div class="champPrix">
                                    {{ form_row(form.prix, {'attr' : {'parentClass' : 'col-md-9 col-sm-6 col-xs-12'}}) }}
                                </div>
                                <div class="champCategorie champsEmploi">
                                {{ form_row(form.remuneration, {'attr' : {'parentClass' : 'col-md-9 col-sm-6 col-xs-12'}}) }}
                                </div>
                                {{ form_row(form.monnaie, {'attr' : {'parentClass' : 'col-md-3  col-sm-6 col-xs-12', 'class' : 'selectMonnaie'}}) }}
                                <div class="clearfix"></div>
                                <div class="champPrix">
                                {{ form_row(form.troc, {'attr' : {'parentClass' : 'col-md-12 col-sm-12 col-xs-12'}}) }}
                                </div>
                            </div>
                        </fieldset>

						{{ form_row(form.photos) }}
						{{ form_row(form.bnbc_ajax_file_photos) }}


						{% if annonce.photos is defined and annonce.photos != '' %}
							{% set photoList = annonce.photos | split(";") %}
							{% if photoList | length > 0 %}
                                <script type="text/javascript">
                                    $(document).ready(function()
                                    {
                                        list = getImagesList();
                                        var assetUrl="{{ asset("") }}";
                                        {% for photo in photoList %}
                                        {% set path = photo %}
                                        {% set url = photo %}
                                        {% if not startsWith(photo, upload_folder) %}
                                        {% set url = upload_folder ~ "/" ~ photo %}
                                        {% endif %}
                                            li = $('<li><img data-path="{{ path }}" src="{{ asset(url) }}" width="100"/><span class="remove"><i class="fa fa-times-circle"></i></span></li>');
                                            list.append(li);
                                        {% endfor %}

                                    });

                                </script>
							{% endif %}
						{% endif %}

                        {% if isEdition is defined %}
                            {% if annonce.user %}
								{% set user = form.user %}
                            {% else %}
								{% set user = form.anonymousUser %}
                            {% endif %}
                        {% else %}
                            {% if app.user %}
							    {% set user =  form.user %}
                            {% else %}
							    {% set user = form.anonymousUser %}
                            {% endif %}
                        {% endif %}

                        <fieldset>
                            <legend>{{ 'annonces.form.info_fieldset_legend'|trans }}</legend>
							{{ form_row(user.nom) }}
							{{ form_row(user.email) }}
							{#{{ form_row(user.newsletter) }}#}
							{{ form_row(user.tel) }}
							{{ form_row(form.showTel) }}
                        </fieldset>



                        {% set userForm = user %}
                        {% include ':form:adresseForm.html.twig' %}

                        <fieldset class="options">
                            <legend>{{ 'annonces.form.options_fieldset_legend'|trans }}</legend>
{#    						{{ form_row(form.monnaiePaiement, {'choiceAttr' : {'help': 'annonces.form.help.monnaie_g1'}}) }}#}
                            <div class="option">
                                {{ form_row(form.packUrgent, {'attr' : {'help': 'annonces.form.options.help.pack_urgent' }}) }}
                            </div>
                            <div class="option">
                                {{ form_row(form.packRemontee, {'attr' : {'help': 'annonces.form.options.help.pack_remontee', 'onchange' : "showOptions(this)"}}) }}
                                <div class="row options_remontee"  {% if form.vars.data.packRemontee is not defined or not form.vars.data.packRemontee %}style="display: none;"{% endif %}>
                                    {{ form_row(form.frequenceRemontee, {'attr' : {'parentClass' : 'col-md-6 col-sm-12'}}) }}
                                    {{ form_row(form.nbRemonteesRestantes, {'attr' : {'max' : '100', 'parentClass' : 'col-md-6 col-sm-12'}}) }}
                                </div>
                            </div>
                            <script type="text/javascript">
                                function showOptions(checkbox)
                                {
                                    if ($(checkbox).is(":checked"))
                                    {
                                        $(".options_remontee").slideDown();

                                    }
                                    else
                                    {
                                        $(".options_remontee").slideUp();
                                    }
                                }

                                function majPrix(radio)
                                {
                                    valeur = $(radio).val();
                                    if(valeur == "euro")
                                    {
                                        $("fieldset.options .prixEuro").css('display', 'inline-block');
                                        $("fieldset.options .prixG1").hide();
                                    }
                                    else
                                    {
                                        $("fieldset.options .prixG1").css('display', 'inline-block');
                                        $("fieldset.options .prixEuro").hide();
                                    }
                                }
                            </script>
                        </fieldset>

                            {{ form_row(form.valid, {
                                    'label' : 'annonces.form.valide_cgu_cgv' | trans ({
                                        '%cgu_link%' : path('page_statique', {'page' : 'cgu'})
                                    }) }) }}

                        {{ form_errors(form) }}


                        <input class="btn btn1" type="submit" value="{{ 'annonces.form.publier_etape1_label'|trans }}" />
                        {{ form_end(form) }}

                       {# SCRIPT ICI #}
                    </div>
                    <!-- end post-ad-form-->
                </div>
                <!-- Middle Content Area  End --><!-- end col -->
            </div>
            <!-- Row End -->
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#photos").on("change", function(){
                console.log("test");
                e.preventDefault();
                e.stopPropagation();
                return false;
            })

            $(".bnbc-ajax-file-dropzone").on("click", ".bnbc-ajax-file-list .remove", function(e)
            {
                imagePath = $(e.target).parent().siblings('img').attr("data-path");
                removeImageFromHiddenInput(imagePath);
                $(e.target).parents("li").remove();
                verifNbImages();
                e.preventDefault();
                e.stopPropagation();
            });

            $(".bnbc-ajax-file-dropzone").on("click", "img", function(e)
            {
                e.preventDefault();
                e.stopPropagation();
            });

            $("#photos_bnbc_ajax_file_widget").on("click", ".bnbc-ajax-file-dropzone:not(.waiting)", function(e){
                e.preventDefault();
                e.stopPropagation();
                $("#bnbc_ajax_file_photos").click();
            })

            function removeImageFromHiddenInput(path)
            {
                paths = $("#photos").val();
                if (paths.indexOf(";" + path) != -1)
                {
                    paths = paths.replace(";" + path, "");
                }
                else if (paths.indexOf(path + ";") != -1)
                {
                    paths = paths.replace(path + ";", "");
                }
                else
                {
                    paths = paths.replace(path, "");
                }

                $("#photos").val(paths);
            }
        })

    </script>

	{% include ':commun:categorieInputJs.html.twig' with {'form': form} %}

	{% javascripts 'bundles/ajaxupload/js/*' filter="?jsqueeze" output="js/ajaxupload.js" %}
        <script src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %}
