{% extends '::base.html.twig' %}

{% block body %}
	<section class="section-padding gray annonce">
		<!-- Main Container -->
		<div class="container">
			<!-- Row -->
			<div class="row">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="ad-box">
						<h1>Options de l'annonce "{{ annonce.titre }}"</h1>
						<p>Le total est de <b>{{ total }} €</b></p>
					</div>
					<div class="ad-share">
						<script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>
						<script src="https://js.braintreegateway.com/web/3.25.0/js/paypal-checkout.min.js"></script>

						<script>
                            paypal.Button.render({
                                braintree: braintree,
                                client: {
                                    production: '{{ token }}',
                                    sandbox: '{{ token }}'
                                },
                                env: 'sandbox', // or 'production'

                                payment: function (data, actions) {
                                    return actions.braintree.create({
                                        flow: 'checkout', // Required
                                        amount: {{ total }}, // Required
                                        currency: 'EUR', // Required
                                        // enableShippingAddress: true,
                                        shippingAddressEditable: false,
                                        /*shippingAddressOverride: {
                                            recipientName: ,
                                            line1: '1234 Main St.',
                                            line2: 'Unit 1',
                                            city: 'Chicago',
                                            countryCode: 'US',
                                            postalCode: '60652',
                                            state: 'IL',
                                            phone: '123.456.7890'
                                        }*/
                                    });
                                },

                                onAuthorize: function (payload) {
                                    // Submit `payload.nonce` to your server.
									$("#payload-nonce").value(payload.nonce).parent('form').submit();
                                },

                                // Other configuration
                            }, '#braintree-button');
						</script>
						<div id="braintree-button"></div>

						<form action="{{ path('ad_payment_done', {'id' : annonce.id, 'complexId' : annonce.complexId }) }}" method="POST">
							<input type="hidden" name="nonce" id="payload-nonce"/>
						</form>
					</div>

				</div>
			</div>
		</div>
	</section>
{% endblock %}