<a href="{{ path('ad_show', {'id': annonce.id, 'titre': url_helper.urlEscape(annonce.titre)}) }}" target="_blank">Lien vers l'annonce</a>
<div class="col-md-12 col-xs-12 col-sm-12 clearfix">
	<!-- Ad Box -->
	<div class="category-grid-box">
		<!-- Ad Img -->
		<div class="category-grid-img">
			{% if annonce.photos %}
			<img class="img-responsive" alt="" src="{{ asset('images/annonces/default.jpg') }}"/>
			{% else %}
			<img class="img-responsive" alt="" src="{{ asset('images/annonces/default.jpg') }}"/>
			{% endif %}
 			<!-- User Review -->
			<div class="user-preview">
				<a href="#"> <img src="images/users/1.jpg" class="avatar avatar-small" alt=""> </a>
			</div>
			<!-- View Details --><a href="" class="view-details">View Details</a>
			<!-- Additional Info -->
			<div class="additional-information">
				<p>Registration 2017</p>
				<p> 3.0 Diesel</p>
				<p> 230 HP</p>
				<p> Body Coupe</p>
				<p> 80 000 Miles</p>
			</div>
			<!-- Additional Info End-->
		</div>
		<!-- Ad Img End -->
		<div class="short-description">
			<!-- Ad Category -->
			<div class="category-title"> <span><a href="#">Electronics & Gedgets</a></span> </div>
			<!-- Ad Title -->
			<h3><a title="" href="single-page-listing.html">2017 Honda Civic EX</a></h3>
			<!-- Price -->
			<div class="price">$18,200 <span class="negotiable">(Negotiable)</span></div>
		</div>
		<!-- Addition Info -->
		<div class="ad-info">
			<ul>
				<li><i class="fa fa-map-marker"></i>London</li>
				<li><i class="fa fa-clock-o"></i> 15 minutes ago </li>
			</ul>
		</div>
	</div>
	<!-- Ad Box End -->
</div>