{% extends 'base.html.twig' %}

{% if confirmation is not defined %}
    {% form_theme contact_form "form/customForm.html.twig" %}
{% endif %}

{% block title %}{{ annonce.titre }} - PetitEcolo.fr{% endblock %}

{% block content_metas %}
    <meta property="og:title" content="{{ annonce.titre }} - PetitEcolo.fr" />
    <meta property="og:url" content="{{ absolute_url(path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') })) }}" />
    <meta property="og:description" content="{% if annonce.texte|length > 250 %}{{ annonce.texte|slice(0, 250) }}...{% else %}{{ annonce.texte }}{% endif %}" />
	{% if annonce.photos != "" %}
	    {% set photos = annonce.photos | split(";") %}
	    {% if photos | length > 0 %}
            <meta property="og:image" content="{{ absolute_url(asset(photos[0])) }}" />
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="bread-3 page-header-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="small-breadcrumb">
                        <div class=" breadcrumb-link">
                            <ul>
                                <li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
                                <li><a class="active">{{ annonce.titre }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-padding gray annonce">
        <!-- Main Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                {% block confirm %}{% endblock %}
                <!-- Middle Content Area -->
                <div class="col-md-8 col-xs-12 col-sm-12">
                    <!-- Single Ad -->
                    <div class="single-content">
                        <!-- Title -->
                        <div class="ad-box description">
                            <h1>{{ annonce.titre }}</h1>
                            <div class="short-history">
                                <ul>
									{% if annonce.dateCreation %}<li>{{ 'annonces.date_publication'|trans }} <b>{{ annonce.dateCreation|date('d/m/Y') }}</b></li>{% endif %}
                                    {% if annonce.dateModification and annonce.dateModification != annonce.dateCreation%}<li>{{ 'annonces.date_modification'|trans }} <b>{{ annonce.dateModification|date('d/m/Y') }}</b></li>{% endif %}
                                    <li>{{ 'annonces.categorie_titre'|trans }} <b>{{ annonce.categorie.nomComplet }}</b></li>
                                </ul>
                            </div>
                            {% if annonce.packUrgent %}
							<span class="urgent">{{ 'annonces.view.urgent_label'|trans }}</span>
                            {% endif %}
                        </div>
                        {% if annonce.photos != "" %}
                            {% set photos = annonce.photos | split(";") %}
                            {% if photos | length > 0 %}
                            <!-- Listing Slider  -->
                            <div class="flexslider single-page-slider">
                                <div class="flex-viewport">
                                    <ul class="slides slide-main">
                                        {% for photo in photos %}
                                            <li>
                                                <img src="{{ asset(photo) }}" />
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="flexslider" id="carousels">
                                <div class="flex-viewport">
                                    <ul class="slides slide-thumbnail">
                                        {% for photo in photos %}
                                            <li>
                                                <img src="{{ photo  | imagine_filter('my_thumb')}}" />
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                        <!-- Listing Slider Thumb -->
                        <!-- Share Ad  -->
                        <div class="ad-share text-center">
                            <div class="ad-box col-md-4 col-sm-4 col-xs-12" onclick="slideOpen('share');">
                                <i class="fa fa-share-alt"></i> <span class="hidetext" >{{ 'annonces.view.partager.titre'|trans }}</span>
                            </div>

							{% if app.user is defined and app.user is not null and annonce.isFavoris(app.user) %}
                                <div class="ad-box col-md-4 col-sm-4 col-xs-12"><a data-remove-url="{{ path('remove_favorite', {'id' : annonce.id}) }}" data-add-url="{{ path('add_favorite', {'id' : annonce.id}) }}" href="javascript:;" onclick="removeFavorite(this)" class="fa fa-heart" title="{{ 'annonces.list.supprimer_favoris'|trans }}"><span class="hidetext">{{ 'annonces.view.supprimer'|trans }}</span></a></div>
							{% else %}
                                <div class="ad-box col-md-4 col-sm-4 col-xs-12"><a data-remove-url="{{ path('remove_favorite', {'id' : annonce.id}) }}" data-add-url="{{ path('add_favorite', {'id' : annonce.id}) }}" href="javascript:;" onclick="saveAsFavorite(this)" class="fa fa-heart-o" title="{{ 'annonces.list.ajouter_favoris'|trans }}"><span class="hidetext">{{ 'annonces.view.enregistrer'|trans }}</span></a></div>
							{% endif %}

                            <div class="ad-box col-md-4 col-sm-4 col-xs-12" onclick="slideOpen('report');">
                                <i class="fa fa-warning"></i> <span class="hidetext">{{ 'annonces.view.signaler.titre'|trans }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div id="share-data" class=" data">
                                <span><a target="_blank" title="{{ 'annonces.view.partager.facebook'|trans }}" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri|url_encode  }}&t={{ annonce.titre|url_encode  }}"><i class="fa fa-facebook-official"></i></a></span>
                                <span><a target="_blank" title="{{ 'annonces.view.partager.twitter'|trans }}" href="https://twitter.com/intent/tweet?url={{ app.request.uri|url_encode  }}&text={{ annonce.titre|url_encode  }}"><i class="fa fa-twitter-square"></i></a></span>
                                <span><a target="_blank" title="{{ 'annonces.view.partager.diaspora'|trans }}" href="http://sharetodiaspora.github.io/?url={{ app.request.uri|url_encode  }}&title={{ annonce.titre|url_encode  }}">
                                        <img src="{{ asset('images/diaspora.png') }}" height="30"/>
                                    </a></span>
								{#{{ 'annonces.view.partager.texte'|trans|raw}}#}
                                {#<b>{{ absolute_url(path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') })) }}</b>#}
								{#{{ 'annonces.view.partager.texte'|trans|raw}}#}
                                    {#{% spaceless %}#}
                                        {#<form>#}
                                            {#<input class="form-control" id="adresse_partage" value="{{ absolute_url(path('ad_show', { 'id': annonce.id, 'titre' : annonce.titre | urlEscape('url') })) }}">#}
                                        {#</form>#}
                                    {#<!-- Trigger -->#}
                                    {#{% endspaceless %}#}
                            </div>
                            <div id="report-data" class=" data">
								{% if app.user %}
                                    {% if annonce.isSignalee(app.user) %}
										{{ 'annonces.view.signaler.succes'|trans }}
                                    {% else %}
									{{ 'annonces.view.signaler.text'| trans ({
										'%condition_publication%' : path('page_statique', {'page' : 'cgu', '_fragment' : 'publication'}),
										'_fragment' : 'publication'
									}) |raw }}<br/>
                                    <a href="javascript:;" class="btn btn1" onclick="signaleAnnonce('report-data')">{{ 'annonces.view.signaler.bouton'|trans }}</a>
                                    {% endif %}

								{% else %}
									{{ 'annonces.view.signaler.connexion'|trans }}
								{% endif %}
                            </div>
                            <script type="text/javascript">
                                function slideOpen(elem)
                                {
                                    if (elem === 'share')
                                    {
                                        $('#watch-data, #report-data').slideUp();
                                        $('#share-data').slideToggle();
                                    }
                                    if (elem === 'watch')
                                    {
                                        $('#share-data, #report-data').slideUp();
                                        $('#watch-data').slideToggle();
                                    }
                                    if (elem === 'report')
                                    {
                                        $('#share-data, #watch-data').slideUp();
                                        $('#report-data').slideToggle();
                                    }
                                }
                            </script>
                        </div>
                        <div class="clearfix"></div>
                        <!-- Short Description  -->
                        <div class="ad-box texte-annonce">
                            <div class="">
                                <!-- Heading Area -->
                                <div class="heading-panel">
                                    <h3 class="main-title text-left">
                                        {% if annonce.type == 'offre' %}
                                            {{ 'annonces.offre_label'|trans }}

                                        {% else %}
											{{ 'annonces.demande_label'|trans }}
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>

                            {# options #}
                            <div class="options short-features">
                                {# EMPLOI #}
								{% if annonce.typeContrat %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'main_search.options_categories.type_contrat.placeholder'|trans }} : </strong></span>
										{{ annonce.typeContrat }}
                                    </div>
								{% endif %}
								{% if annonce.remuneration %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.emploi.remuneration'|trans }} : </strong></span>
										{{ annonce.remuneration }}
                                        {% if annonce.monnaie == "g1" %} Ğ1 {% else %} € {% endif %}
                                    </div>
								{% endif %}
                                {% if annonce.duree %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.emploi.duree_stage'|trans }} : </strong></span>
										{{ annonce.duree }}
                                    </div>
								{% endif %}
								{% if annonce.experience is defined and annonce.experience %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.view.experience.titre'|trans }} : </strong></span>
										{{ annonce.experience }} {{ 'annonces.view.experience.annee'|transchoice(annonce.experience) }}
                                    </div>
								{% endif %}
								{% if annonce.typeContrat %} {# Si on a un type de contrat, on est dans une annonce d'emploi #}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'main_search.options_categories.temps_plein'|trans }} : </strong></span>
                                        {% if annonce.tempsPlein %}{{ 'general.oui'|trans }}{% else %}{{ 'general.non'|trans }}{% endif %}
                                    </div>
								{% endif %}
								{% if annonce.typeContrat %} {# Si on a un type de contrat, on est dans une annonce d'emploi #}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'main_search.options_categories.handi_acces'|trans }} : </strong></span>
                                        {% if annonce.handiAcces %}{{ 'general.oui'|trans }}{% else %}{{ 'general.non'|trans }}{% endif %}
                                    </div>
								{% endif %}

                                {# AUTOMOBILE #}
								{% if (annonce.marque and annonce.marque != 'autre') or annonce.modele %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.voiture.marque_label'|trans }} : </strong></span>
                                        {% if annonce.marque and annonce.marque != 'autre' %} {{ annonce.marque}} {% endif %}
										{% if annonce.modele %} {{ annonce.modele}} {% endif %}
                                    </div>
								{% endif %}
								{% if annonce.dateMiseCirculation %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.voiture.date_mise_circulation'|trans }} : </strong></span> {{ annonce.dateMiseCirculation|date('d/m/Y') }}
                                    </div>
								{% endif %}
								{% if annonce.energieVehicule %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.voiture.energie.titre'|trans }} : </strong></span>
										{{ ('annonces.form.voiture.energie.' ~ annonce.energieVehicule) |trans }}

                                    </div>
								{% endif %}
								{% if annonce.boiteVitesse %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.voiture.boite_vitesse.titre'|trans }} : </strong></span>
										{{ ('annonces.form.voiture.boite_vitesse.' ~ annonce.boiteVitesse) |trans }}
                                    </div>
								{% endif %}
								{% if annonce.kilometrage %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.voiture.kilometrage'|trans }} : </strong></span>
										{{ annonce.kilometrage }} km
                                    </div>
								{% endif %}

                                {# VETEMENTS #}
                                {% if annonce.taille %}
                                <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                                    <span><strong>{{ 'annonces.view.taille'|trans }}</strong></span> {{ annonce.taille }}
                                </div>
								{% endif %}

                                {# IMMOBILIER #}
								{% if annonce.typeBien %}
                                    <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.immobilier.type_bien.titre'|trans }} : </strong></span>
										{{ ('annonces.form.immobilier.type_bien.' ~ annonce.typeBien) |trans }}
                                    </div>
								{% endif %}
								{% if annonce.surface %}
                                    <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.immobilier.surface'|trans }}</strong></span> {{ annonce.surface }}
                                    </div>
								{% endif %}
								{% if annonce.nbPieces %}
                                    <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.immobilier.nb_pieces'|trans }}</strong></span> {{ annonce.nbPieces }}
                                    </div>
								{% endif %}
								{% if annonce.gES %}
                                    <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.immobilier.ges.titre'|trans }}</strong></span> {{ annonce.ges }}
                                    </div>
								{% endif %}
								{% if annonce.meuble %}
                                    <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.immobilier.meuble.titre'|trans }}</strong></span>
										{{ ('annonces.form.immobilier.meuble.' ~ annonce.meuble) |trans }}
                                    </div>
								{% endif %}
								{% if annonce.capacitePersonnes %}
                                    <div class="col-sm-4 col-md-4 col-xs-12 no-padding">
                                        <span><strong>{{ 'annonces.form.immobilier.capacite'|trans }}</strong></span> {{ annonce.capacitePersonnes }}
                                    </div>
								{% endif %}

                                <div class="clearfix"></div>
                            </div>


							{#<!-- Short Features  -->#}
                            <div class="desc-points">
                                {{ annonce.texte|nl2br }}
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- Single Ad End -->
                </div>
                <!-- Right Sidebar -->
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="sidebar">
                        <div class="user-contact-info">
                            <div class="user-info-card">
                                <div class="user-information no-padding">
                                    <span class="user-name">
                                        {% if  annonce.user.type is defined and annonce.user.type == "pro" %}  <i class="icone-pro" title="Annonce d'un professionnel"></i> {% endif %}
                                        {{ 'annonces.contact.publie_par_label'|trans }}
                                        <span>
                                            {% if annonce.user.type is defined and annonce.user.type == "pro" %}
                                                {% if  annonce.user.nomPro %}
                                                    {{ annonce.user.nomPro }}
                                                {% else %}
                                                    {{ annonce.user.username }}
                                                {% endif %}
                                            {% else %}
                                                {% if annonce.user.prenom is defined or annonce.user.nom is defined %}
                                                    {% if annonce.user.prenom is defined %}
                                                        {{ annonce.user.prenom }}
                                                    {% endif %}
                                                    {% if annonce.user.nom is defined %}
                                                        {{ annonce.user.nom }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ annonce.user.username }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- Contact info -->
                        <div class="contact">
                            <!-- Email Button trigger modal -->
                            <button class="btn-block btn-contact contactEmail" onclick="$('#contactDiv').slideToggle()"><i class="fa fa-envelope-o"></i>{{ 'annonces.contact.courriel_label'|trans }}</button>
                            {% if mail_success is defined and mail_success == true %}
                                <div class="message bg-success">
                                    {{ 'annonces.contact.resultat_ok'|trans }}
                                </div>
                            {% endif %}

                            {% if mail_success is defined and  mail_success != true %}
                                <div class="message bg-danger">
									{{ 'annonces.contact.resultat_ko'|trans }}
                                </div>
                            {%  endif %}
                            <div id="contactDiv" style="{% if contact_form is not defined or contact_form.vars.valid %}display : none; {% endif %}">
							    {% if confirmation is not defined%}
                                    {{ form_start(contact_form,  {'attr': {'autcomplete': 'off'}}) }}
                                    {{ form_widget(contact_form) }}
                                    {{ form_end(contact_form) }}
                                {% else %}
                                    <p>{{ 'annonces.confirm.non_dispo'|trans }}</p>
                                {% endif %}
                            </div>
                            <!-- Email Modal -->
                            {% if annonce.showTel %}
                                <button class="btn-block btn-contact contactPhone" onclick="$('#contactPhoneDiv').html($('#contactPhoneDiv').attr('data-phone'));$('#contactPhoneDiv').slideToggle()"><i class="fa fa-phone"></i>{{ 'annonces.contact.tel_label'|trans }}</button>
                                <div id="contactPhoneDiv" style="display : none;" data-phone="{% if annonce.user %}{{ annonce.user.tel }}{% endif %}">
                                </div>
                            {% endif %}
                        </div>
                        <!-- Price info block -->
                        <div class="ad-listing-price">
                            <p>
                            {% if annonce.remuneration %}
								{{ annonce.remuneration }} {% if annonce.monnaie == 'g1' %}Ğ1{% elseif annonce.monnaie == 'dug1'%}DU<sub>Ğ1</sub>{% else %}€{% endif %}
                            {% elseif annonce.prix %}
                                {{ annonce.prix }} {% if annonce.monnaie == 'g1' %}Ğ1{% elseif annonce.monnaie == 'dug1'%}DU<sub>Ğ1</sub>{% else %}€{% endif %}
                            {% else %}
                            {{ 'annonces.view.pas_prix'|trans }}
                            {% endif %}
                            {% if annonce.troc %}
                                <span><i class="fa fa-handshake-o"></i> {{ 'annonces.view.troc_label'|trans }}</span>
                            {% endif %}
                            </p>
                        </div>
                        <!-- User Info -->
                        {% if annonce.user.adresse.lat %}
                            <div class="user-contact-info">
                                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
                                      integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
                                      crossorigin=""/>
                                <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
                                        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
                                        crossorigin=""></script>
                                <div id="mapDiv"></div>
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                       var mymap = L.map('mapDiv').setView([{{ annonce.user.adresse.lat }}, {{ annonce.user.adresse.lng }}], 13);
                                        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                                            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                                            maxZoom: 18,
                                            tileSize: 512,
                                            zoomOffset: -1,
                                            id: 'mapbox/streets-v11',
                                            accessToken: '{{ mapbox_token }}'
                                        }).addTo(mymap);
                                        var marker = L.marker([{{ annonce.user.adresse.lat }}, {{ annonce.user.adresse.lng }}]).addTo(mymap);
                                    })
                                </script>

                            </div>
                        {% endif %}

						{# Actions sur l'annonce#}
						{% if confirmation is not defined and isOwnByCurrentUser %}
							<div class="actions">
                                <div class="ad-box col-md-6 col-sm-6 col-xs-12">
                                    {% if complexId is defined %}
                                        {% set options = {id : annonce.id, complexId : complexId} %}
                                    {% else %}
										{% set options = {id : annonce.id} %}
                                    {% endif %}
								    <a href="{{ path('ad_edit', options) }}" title="{{ 'annonces.view.editer_title'|trans }}"><i class="fa fa-edit"></i><span>{{ 'annonces.view.editer'|trans }}</span></a>
                                </div>
                                <div class="ad-box col-md-6 col-sm-6 col-xs-12">
									{{ form_start(delete_form, {'attr' : {'onsubmit' : 'return confirmation();'}}) }}
                                    {{ form_widget(delete_form) }}
                                    <i class="fa fa-trash"></i>
                                    <input type="submit" class="delete_link" value="{{ 'annonces.view.supprimer'|trans }}" title="{{ 'annonces.view.supprimer_title'|trans }}" />

                                    {{ form_end(delete_form) }}
                                    <script type="text/javascript">
                                        function confirmation()
                                        {
                                            return confirm('{{ 'annonces.view.supprimer_alert'|trans }}')
                                        }
                                    </script>
                                </div>
								<div class="clearfix"></div>
							</div>
						{% endif %}
                        {#<div class="widget">#}
                            {#<div class="widget-heading">#}
                                {#<h4 class="panel-title"><a>Safety tips for deal</a></h4>#}
                            {#</div>#}
                            {#<div class="widget-content saftey">#}
                                {#<ol>#}
                                    {#<li>Use a safe location to meet seller</li>#}
                                    {#<li>Avoid cash transactions</li>#}
                                    {#<li>Beware of unrealistic offers</li>#}
                                {#</ol>#}
                            {#</div>#}
                        {#</div>#}
                    </div>

                    <!-- Share Ad  -->
                    <div class="mobile-ad-share text-center">
                        <div>

                            {# PARTAGE #}
                            <div class="ad-box col-md-4 col-sm-4 col-xs-12" onclick="slideOpen('mobile-share');">
                                <i class="fa fa-share-alt"></i> <span class="hidetext" >{{ 'annonces.view.partager.titre'|trans }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div id="mobile-share-data" class=" data">
                                <span><a target="_blank" title="{{ 'annonces.view.partager.facebook'|trans }}" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri|url_encode  }}&t={{ annonce.titre|url_encode  }}"><i class="fa fa-facebook-official"></i></a></span>
                                <span><a target="_blank" title="{{ 'annonces.view.partager.twitter'|trans }}" href="https://twitter.com/intent/tweet?url={{ app.request.uri|url_encode  }}&text={{ annonce.titre|url_encode  }}"><i class="fa fa-twitter-square"></i></a></span>
                                <span><a target="_blank" title="{{ 'annonces.view.partager.diaspora'|trans }}" href="http://sharetodiaspora.github.io/?url={{ app.request.uri|url_encode  }}&title={{ annonce.titre|url_encode  }}">
                                            <img src="{{ asset('images/diaspora.png') }}" height="30"/>
                                        </a></span>
                            </div>


                            {# FAVORIS #}
                            {% if app.user is defined and app.user is not null and annonce.isFavoris(app.user) %}
                                <div class="ad-box col-md-4 col-sm-4 col-xs-12"><a data-remove-url="{{ path('remove_favorite', {'id' : annonce.id}) }}" data-add-url="{{ path('add_favorite', {'id' : annonce.id}) }}" href="javascript:;" onclick="removeFavorite(this)" class="fa fa-heart" title="{{ 'annonces.list.supprimer_favoris'|trans }}"><span class="hidetext">{{ 'annonces.view.supprimer'|trans }}</span></a></div>
                            {% else %}
                                <div class="ad-box col-md-4 col-sm-4 col-xs-12"><a data-remove-url="{{ path('remove_favorite', {'id' : annonce.id}) }}" data-add-url="{{ path('add_favorite', {'id' : annonce.id}) }}" href="javascript:;" onclick="saveAsFavorite(this)" class="fa fa-heart-o" title="{{ 'annonces.list.ajouter_favoris'|trans }}"><span class="hidetext">{{ 'annonces.view.enregistrer'|trans }}</span></a></div>
                            {% endif %}

                            {# RAPPORTER #}
                            <div class="ad-box col-md-4 col-sm-4 col-xs-12" onclick="slideOpen('mobile-report');">
                                <i class="fa fa-warning"></i> <span class="hidetext">{{ 'annonces.view.signaler.titre'|trans }}</span>
                            </div>
                            <div class="clearfix"></div>
                            <div id="mobile-report-data" class=" data">
                                {% if app.user %}
                                    {% if annonce.isSignalee(app.user) %}
                                        {{ 'annonces.view.signaler.succes'|trans }}
                                    {% else %}
                                        {{ 'annonces.view.signaler.text'| trans ({
                                            '%condition_publication%' : path('page_statique', {'page' : 'cgu', '_fragment' : 'publication'}),
                                            '_fragment' : 'publication'
                                        }) |raw }}<br/>
                                        <a href="javascript:;" class="btn btn1" onclick="signaleAnnonce('mobile-report-data')">{{ 'annonces.view.signaler.bouton'|trans }}</a>
                                    {% endif %}

                                {% else %}
                                    {{ 'annonces.view.signaler.connexion'|trans }}
                                {% endif %}
                            </div>

                        </div>
                        <script type="text/javascript">
                            function slideOpen(elem)
                            {
                                if (elem === 'share')
                                {
                                    $('#report-data').slideUp();
                                    $('#share-data').slideToggle();
                                }
                                if (elem === 'report')
                                {
                                    $('#share-data').slideUp();
                                    $('#report-data').slideToggle();
                                }
                                if (elem === 'mobile-share')
                                {
                                    $('#mobile-report-data').slideUp();
                                    $('#mobile-share-data').slideToggle();
                                }
                                if (elem === 'mobile-report')
                                {
                                    $('#mobile-share-data').slideUp();
                                    $('#mobile-report-data').slideToggle();
                                }
                            }
                        </script>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Sidebar Widgets End -->
                </div>
                <!-- Middle Content Area  End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Main Container End -->
    </section>


    <script type="text/javascript">
        function saveAsFavorite(elem)
        {
            $(elem).parent(".ad-box").addClass("waiting");
            $.ajax({
                type: "POST",
                url: $(elem).attr("data-add-url"),
                dataType: "json",
                success: function(response) {
                    $(elem).parent(".ad-box").removeClass("waiting");
                    if (response.result === 'ok')
                    {
                        $(elem).addClass("fa-heart");
                        $(elem).removeClass("fa-heart-o");
                        $(elem).attr("onclick", 'removeFavorite(this);');
                        $(elem).attr("title", "{{ 'annonces.list.supprimer_favoris'|trans }}");
                        $(elem).children("span").html("{{ 'annonces.view.supprimer'|trans }}");

                    }
                    else if (response.message != '')
                    {
                        alert(response.message);
                    }
                },
                error : function() {
                    $(elem).parent(".ad-box").removeClass("waiting");
                }
            });
        }

        function removeFavorite(elem)
        {
            $(elem).parent(".ad-box").addClass("waiting");
            $.ajax({
                type: "POST",
                url: $(elem).attr("data-remove-url"),
                dataType: "json",
                success: function(response) {
                    $(elem).parent(".ad-box").removeClass("waiting");
                    if (response.result === 'ok')
                    {
                        $(elem).removeClass("fa-heart");
                        $(elem).addClass("fa-heart-o");
                        $(elem).attr("onclick", 'saveAsFavorite(this);');
                        $(elem).attr("title", "{{ 'annonces.list.ajouter_favoris'|trans }}")
                        $(elem).children("span").html("{{ 'annonces.view.enregistrer'|trans }}");

                    }
                    else if (response.message != '')
                    {
                        alert(response.message);
                    }
                },
                error : function() {
                    $(elem).parent(".ad-box").removeClass("waiting");
                }
            });
        }

        function signaleAnnonce(elem)
        {
            if (confirm("{{ 'annonces.view.signaler.confirm'|trans }}"))
            {
                $("#"+elem).addClass("waiting");
                $.ajax({
                    type: "POST",
                    url: '{{ path('add_signale', {'id' : annonce.id}) }}',
                    dataType: "json",
                    success: function(response) {
                        $("#"+elem).removeClass("waiting");
                        if (response.result === 'ok')
                        {

                            $("#"+elem).html("{{ 'annonces.view.signaler.succes'|trans }}");
                        }
                        else if (response.message != '')
                        {
                            alert(response.message);
                        }
                    },
                    error : function()
                    {
                        $("#"+elem).removeClass("waiting");
                        alert("{{ 'annonces.view.signaler.erreur'|trans }}");
                    }
                });
            }
        }
    </script>

{% endblock %}
