{% if error %}
    {% if error|isDisabledException %}
        <div class="message bg-danger">
            <p><b>{{ 'security.login.compte_desactive'|trans }}</b></p>
            <p>{{ 'security.login.compte_desactive_creation'|trans|raw }}
                <a data-url="{{ path('resend-mail-inscription', {'id' : error.user.id}) }}" onclick="sendMailAgain(this)" href="javascript:;">{{ 'security.login.compte_desactive_renvoi_mail'|trans }}</a>
            </p>
        </div>
        <script type="text/javascript">

            function sendMailAgain(elem) {
                $(elem).parents(".message").addClass("waiting");
                $.ajax({
                    type: "POST",
                    url: $(elem).attr("data-url"),
                    dataType: "json",
                    success: function (response) {
                        $(elem).parents(".message").removeClass("waiting");
                        if (response.result === 'ok') {
                            $(elem).parents(".message").removeClass("bg-danger").addClass("bg-success");
                            $(elem).parents(".message").html("{{ 'security.login.renvoi_mail_ok'|trans }}");

                        }
                        else if (response.message != '') {
                            alert(response.message);
                        }
                        else
                        {
                            $(elem).parents(".message").html("{{ 'security.login.renvoi_mail_ko'|trans }}");
                        }
                    },
                    error: function () {
                        $(elem).parent(".ad-box").removeClass("waiting");
                    }
                });
            }
        </script>
    {% else %}
    <div class="message bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endif %}


<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group">
        <label for="username">{{ 'security.login.username_label'|trans }}</label>
        <input class="form-control" placeholder="{{ 'security.login.username_placeholder'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

    <div class="form-group">
        <label for="password">{{ 'security.login.password_label'|trans }}</label>
        <input class="form-control" placeholder="{{ 'security.login.password_placeholder'|trans }}"  type="password" id="password" name="_password" required="required" />
    </div>

    <div class="form-group">
        <div class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">
                {{ 'security.login.remember_me'|trans }}
            </label>
        </div>
    </div>

    <input class="btn btn1" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit_button'|trans }}" />
</form>
<br/>
<a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.passe_oublie_button_label'|trans }}</a>
