{% extends 'base.html.twig' %}

{#{% form_theme contact_form "form/customForm.html.twig" %}#}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">
									{{ 'general.image_entete.utilisateur'|trans }}
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-5 col-xs-12">
					<div class="header-page">
						<h1>
							{{ 'general.image_entete.utilisateur'|trans }}
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray login">
		<div class="container">
			<!-- Row -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-grid">
						{% block fos_user_content %}
						{% endblock fos_user_content %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}