
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        <label for="username">{{ 'security.login.passe_oublie_label'|trans }}</label>
        <input class="form-control" type="text" id="username" placeholder="{{ 'security.login.passe_oublie_placeholder'|trans }}" name="username" required="required" />
    </div>
    <div>
        <input class="btn btn1" type="submit" value="{{ 'resetting.request.submit'|trans({},'FOSUserBundle') }}" />
    </div>
</form>
