{% extends "@FOSUser/layout.html.twig" %}

{% form_theme form "form/customForm.html.twig" %}

{% block fos_user_content %}
	<h2>{{ 'security.login.passe_reinit'|trans }}</h2>
	{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
