{% extends 'base.html.twig' %}

{% form_theme form "form/customForm.html.twig" %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Page de contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-5 col-xs-12">
					<div class="header-page">
						{#<h1>Contact</h1>#}
					</div>
				</div>
			</div>
		</div>
	</div>
<section class="section-padding gray">
	<div class="container">
		<div class="post-ad-form">
			{% if resultat is defined and resultat =='ko' %}
				<div class="bg-danger">{{ 'contact.send_ko_message'|trans }}</div>
			{% endif %}
			<h2>{{ 'contact.contact_titre'|trans }}</h2>
			{% if resultat is defined %}
				<div class="bg-danger">

				</div>
			{% endif %}
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_row(form.nom) }}
			{{ form_row(form.mail) }}
			{{ form_row(form.sujet) }}
			<div class="spsd_field">
				{{ form_row(form.spsd) }}
			</div>
			{{ form_row(form.message) }}
				<input type="submit" class="btn btn1" value="{{ 'contact.send_button_label'|trans }}"/>
			{{ form_end(form) }}
		</div>
	</div>
</section>
{% endblock %}