{% extends 'base.html.twig' %}

{% block body %}
<section class="section-padding gray">
	<div class="container">
		<div class="post-ad-form">
			{{ 'contact.send_ok_message'|trans }}
		</div>
	</div>
</section>
{% endblock %}