{% extends 'base.html.twig' %}

{% block body %}
	<div class="bread-3 page-header-area ">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-xs-12 col-sm-7">
					<div class="small-breadcrumb">
						<div class=" breadcrumb-link">
							<ul>
								<li><a href="{{ path('homepage') }}">{{ 'general.menu.accueil'|trans }}</a></li>
								<li><a class="active">Annonce en attente</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding gray">
		<div class="container">
			<div class="static-panel about-us-content">
				<div class="heading-panel">
					<h3 class="main-title text-left">
						Annonce en attente
					</h3>
				</div>

				<p>L'annonce que vous essayez de visualiser n'a pas été confirmée par l'utilisateur l'ayant créée ou est en attente de validation par les modérateurs. Merci de revenir ultérieurement.</p>
				<p>Retour à <a href="{{ path('homepage') }}">l'accueil</a></p>

			</div>
		</div>
	</section>
{% endblock %}